<%= form_for(@data_set) do |f| %>
  <% if @data_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_set.errors.count, "error") %> prohibited this data_set from being saved:</h2>

      <ul>
      <% @data_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="span12">
      <div class="field">
        Title:<%= f.text_field :title %>
      </div>
      
      <div class="clear"></div>
      
      <div class="field">
        Content: <%= f.text_area :content %>
      </div>
      
      <div class="clear"></div>
      
      <div class="field">
        Owner: <%= f.number_field :user_id %>
      </div>

      <div class="clear"></div>
      
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
