<script type="text/javascript">
  window.fields = JSON.parse('<%= raw @project.fields.to_json%>');
  window.postURL = '<%= url_for :controller => :data_sets, :action => :edit, :eid => @project.id %>';
</script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<% if can_edit?(@data_set) %>

  <span class="half_width_edit" style="font-size:2em;"><%= project_edit_menu_helper true %> / </span>    
  <span class="half_width_edit" style="font-size:2em;"><%= data_set_edit_helper 'title', can_edit?(@data_set), false %></span><br><br>

  <div class="row">
    <div class="span12">
      <div style="overflow-x: auto;">
        <table id="editTable" class="table" data-project-id="<%= @project.id %>">
          <thead>
            <tr>
              <% @project.fields.each do |f| %>
                <th data-field-type="<%= get_field_name(f.field_type) %>"><%= f.name %>
                <% if f.unit != "" %>
                  (<%=f.unit%>)
                <% end %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @mongo_data_set.data.each_with_index do |row, r_index| %>
              <tr>
                <% @project.fields.each_with_index do |field| %>
                  <td><% if !row["#{field.id}"].nil? %><%= row["#{field.id}"] %><% end %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="edit_table_control pull-right">
      </div>
    </div>
  </div>

  <% link_to 'Show', @data_set %>
<%else%>
  You are not authorized to view this page.
<%end%>