<script type="text/javascript">
  window.fields = JSON.parse('<%= raw @project.fields.to_json%>');
  window.postURL = 'manualUpload';
</script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<div class="full_width_edit" style="font-size:2em;"><%= project_edit_helper 'title', can_edit?(@project), true %></div>

<div class="row">
  <div style="margin-bottom:20px" class="span12">
    <div style="overflow-x: auto;">
      <table id="manualTable" data-project-id="<%= @project.id %>">
        <thead>
          <tr>
          <% for field in @project.fields %>
            <th data-field-type="<%= get_field_name(field.field_type) %>" data-field-id="<%= field.id %>" data-field-name="<%= field.name %>" ><%= field.name %>
            <% if field.unit != "" %>
              (<%=field.unit%>)
            <% end %></th>
          <% end %>
          </tr>
        </thead>
  
        <tbody>
          <tr>
          <% for i in 0...@project.fields.length %>
            <td></td>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="edit_table_control pull-right">
    </div>
  </div>
</div>