<script type="text/javascript">
  window.fields = JSON.parse('<%= raw(escape_javascript(@project.fields.to_json)) %>');
  window.postURL = 'manualUpload';
</script>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<div class="full_width_edit" style="font-size:2em;">
  <%= project_edit_helper 'title', false, true %>
</div>

<div class="row" style="padding-bottom: 2em">
  <% time = Time.now.strftime('%-m/%-d/%Y %-I:%M%P') %>
  <% if @current_user.nil? %>
    <div class="col-lg-6">
      <strong><label for="data_set_name">Data Set Name:</label></strong>
        <input id="data_set_name" name="data_set_name" class="form-control"
          type="text" placeholder="Boston, MA Snowfall Total" value="<%=session[:contributor_name]%> <%=time%>">
    </div>
    <div class="col-lg-6" <% unless current_user.nil? %>style="display: none"<% end %>>
      <input type="hidden" id="contrib_name" name="contrib_name" value="<%=session[:contributor_name]%>">
    </div>
  <% else %>
   <div class="col-lg-6">
      <strong><label for="data_set_name">Data Set Name:</label></strong>
      <input id="data_set_name" name="data_set_name" class="form-control"
        type="text" placeholder="Boston, MA Snowfall Total" value="<%=@current_user.name%> <%=time%>">
    </div>
  <% end %>
</div>

<div class="row">
  <div class="span12 edit_table_control pull-right">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--red edit_table_cancel">Cancel</button>
    <button id="edit_table_add_1" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--green edit_table_add">Add Row</button>
    <button id="edit_table_save_1" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--blue edit_table_save">Save</button>
  </div>
</div>

<div class="row">
  <div id='slickgrid-container'>
  </div>
</div>

<div id="row-slickgrid-1" class="row">*Timestamps must be in the form "yyyy/MM/dd hh:mm:ss" or a unix timestamp</div>

<div id="row-slickgrid-2" class="row">
  <div class="span12 edit_table_control pull-right">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--red edit_table_cancel">Cancel</button>
    <button id="edit_table_add_2" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--green edit_table_add">Add Row</button>
    <button id="edit_table_save_2" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--blue edit_table_save">Save</button>
  </div>
</div>

<script type="text/javascript">
  $(document).data('project', <%= @project.id %>);
  $('#slickgrid-container').data('cols', <%= "#{@cols}".html_safe %>);
  $('#slickgrid-container').data('data', <%= "#{@data}".html_safe %>);
</script>
