<div class="row">
  <% matches = @results[:partial_matches]%>
  <%= form_tag '/data_sets/field_matching', method: 'put', id: 'field_matching' do%>
    <div class="span12">
    
      <% @results[:fields].each_with_index do |f,findex|%>
        <div class="row <%=cycle('feed-even','feed-odd')%>">
          <div class="span3">
            <span><%=f%></span>
          </div>
          <div class="span3">
            <select form="field_matching" name="<%=f%>">
              <%= options_for_select(@results[:options], matches.has_key?(findex) ? @results[:headers][findex] : 0 )%>
            </select>
          </div>
          <div class="span3">
            <%=%>
          </div>
        </div>
        
      <% end %>
      <input type="hidden" name="pid" value=<%=params[:pid]%>>
      <input type="hidden" name="file" value=<%= @results[:file]%>>
    </div>
    <div class="span12">
      <button type="submit" class='btn btn'>Submit</button>
    </div>
  <% end %>
</div>