<%= form_tag("/login", method: "post") do %>
  <p>
    <%= label_tag(:username_or_email, "Username/Email:") %>
    <%= text_field_tag(:username_or_email, flash[:username_or_email]) %>
  </p>
  
  <p>
    <%= label_tag(:password, "Password #{(link_to "(forgot password)", '/users/pw_request', tabindex: -1)}:".html_safe) %>
    <%= password_field_tag(:password) %>
  </p>
  
  <%= submit_tag("Login") %>
<% end %>