<%= form_for(@media_object) do |f| %>
  <% if @media_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@media_object.errors.count, "error") %> prohibited this media_object from being saved:</h2>

      <ul>
      <% @media_object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :media_type %><br />
    <%= f.text_field :media_type %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :data_set_id %><br />
    <%= f.number_field :data_set_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
