<h1>Listing media_objects</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Media type</th>
    <th>Name</th>
    <th>Session</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @media_objects.each do |media_object| %>
  <tr>
    <td><%= media_object.project_id %></td>
    <td><%= media_object.media_type %></td>
    <td><%= media_object.name %></td>
    <td><%= media_object.data_set_id %></td>
    <td><%= media_object.user_id %></td>
    <td><%= link_to 'Show', media_object %></td>
    <td><%= link_to 'Edit', edit_media_object_path(media_object) %></td>
    <td><%= link_to 'Destroy', media_object, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Media object', new_media_object_path %>
