<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @media_object.project_id %>
</p>

<p>
  <b>Media type:</b>
  <%= @media_object.media_type %>
</p>

<p>
  <b>Name:</b>
  <%= @media_object.name %>
</p>

<p>
  <b>Data Set:</b>
  <%= @media_object.data_set_id %>
</p>

<p>
  <b>User:</b>
  <%= @media_object.user_id %>
</p>


<%= link_to 'Edit', edit_media_object_path(@media_object) %> |
<%= link_to 'Back', media_objects_path %>
