<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Content:</b>
  <%= @group.content %>
</p>

<p>
  <b>Default password:</b>
  <%= @group.default_password %>
</p>

<p>
  <b>Owner</b>
  <% u = User.find(@group.owner_id) %>
  <%= u.firstname %>
</p>

  <h2>Members</h2>
  <% @group.users.all.each do |u| %>
    <%= u.firstname %>
  <%end%>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
