<% @contributions.each do |contribution| %>
  <div class="<%= cycle('feed-even', 'feed-odd')%>">
	<% if contribution.class.to_s == "Experiment" %>
	  <h4><%= link_to contribution.title, experiment_path(contribution) %><%if contribution.featured%><span style="color:#57C142"> (featured)</span><%end%></h4>
      <b>Created: </b><%= time_ago_in_words(contribution.created_at)%> ago (on <%=contribution.created_at.strftime("%B %d, %Y")%>)<br>
      <%if !contribution.filter.nil?%>
	  <b>Filters: </b><%=contribution.filter%>
	  <%end%>
    <% elsif contribution.class.to_s == "ExperimentSession" %>
	  <h4><%= link_to contribution.title, "/experiments/#{contribution.experiment_id}/sessions/#{contribution.id}" %></h4> 
      <b>Created: </b><%= time_ago_in_words(contribution.created_at)%> ago (on <%=contribution.created_at.strftime("%B %d, %Y")%>)<br>
      <b>Belongs To Experiment: </b><%= contribution.experiment.title %>
    <% end%>
  </div>
<% end%> 
