<div class="">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <%= form_for(@user, html: {id: 'edit_password_form'}) do |ff| %>
        <div class="panel-heading">
          <% if @cur_user.admin? and not @cur_user == @user %>
            <h2>Change Password for <%= @user.name %></h2>
          <% else %>
            <h2>Change Password</h2>
          <% end %>
        </div>
        
        <div class="panel-body">
          <%= hidden_field_tag :new_password, "1" %>
          <div class="form-group">
            <% unless @cur_user.admin? or session[:pw_change] %>
              <p>
              <%= label_tag :current_password, "Current Password:" %>
              <%= password_field_tag :current_password, @cur_pw, class: "form-control", id: 'curpass' %>
              </p>
            <% end %>
            <% if session[:pw_change] %>
              <p>You logged in with a password reset link. Please
              change your password now.</p>
            <% end %>
            <p>
            <%= ff.label :password, "New Password:" %>
            <%= ff.password_field :password, class: "form-control" %>
            </p>
          </div>
          <div class="form-group">
            <p>
            <%= ff.label :password_confirmation, "Retype Your New Password:" %>
            <%= ff.password_field :password_confirmation, class: "form-control" %>
            </p>
          </div>  
        </div>
        <div class="panel-footer">
          <md-button class="md-raised md-primary" type='submit'>Change Password</md-button>
        </div>  
      <% end %>
    </div>
  </div>
</div>
<% if @cur_user.admin? or @cur_user == @user %>
  <div class="">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <%= form_for(@user, html: {id: 'edit_email_form'}) do |ff| %>
          <div class="panel-heading">
            <% if @cur_user.admin? and not @cur_user == @user %>
              <h2>Change Email Address for <%= @user.name %></h2>
            <% else %>
              <h2>Change Email Address</h2>
            <% end %>
          </div>
          
          <div class="panel-body">
            <div class="form-group">
              <% unless @cur_user.admin? %>
                <p>
                  <%= label_tag :current_password, "Password:" %>
                  <%= password_field_tag(:current_password, nil, class: "form-control") %>
                </p>
              <% end %>
            </div>
            <div class="form-group">
              <p>
                <%= ff.label :email, "New Email:" %>
                <%= ff.text_field(:email, class: "form-control", value: "")%>
              </p>
            </div>  
            <div class="form-group">
              <p>
                <%= ff.label :email_confirmation, "Retype Your New Email:" %>
                <%= ff.text_field(:email_confirmation, class: "form-control") %>
              </p>
            </div>
          </div>  
          <div class="panel-footer">    
            <p>
              <md-button class="md-raised md-primary" type='submit'>Change Email</md-button>
            </p>
          </div>
        <% end %>
      </div>  
    </div>
  </div>
<% end %>

<% if @cur_user.admin? %>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Delete User</h2>
        </div>
        <div class="panel-body">
          <%= form_for(@user, html: {method: :delete}) do |f| %>
            <h4 style="color:red">Warning! This can not be undone.</h4>
            <md-button class="md-raised md-warn" type='submit'>Delete User</md-button>
          <%end%>
        </div>
        <div class="panel-footer">
          <%= link_to 'Show', @user %> |
          <%= link_to 'Back', users_path %>
        </div>
      </div>  
    </div>
  </div>  
<% end%>
