<div class="row">
    <div class="span12">
        <h1>Users</h1>
    </div>
</div>

<div class="row">
    <div class="span8">
        <% @users.each do |user| %>
            <div class="<%= cycle('feed-even', 'feed-odd')%>">
                <h4><%= link_to user.name, user_path(user) %></h4>
                Member since: <%=user.created_at%> (<%=time_ago_in_words(user.created_at)%> ago)<br>
                Experiments: <%=user.experiments.count%> | Sessions: <%=user.experiment_sessions.count%> | Media: <%=user.media_objects.count%>
            </div>
        <% end %>
    </div>

    <div class="span4">
       <div class="sidebar_box grey_content">
            <h4 class=center>Statistics</h4>
            <table class="table">
                <tr>
                    <td>Users</td>
                    <td><%=User.count%></td>
                </tr>
                <tr>
                    <td>Experiments</td>
                    <td><%=Experiment.count%></td>
                </tr>
                <tr>
                    <td>Sessions</td>
                    <td><%=ExperimentSession.count%></td>
                </tr>
                <tr>
                    <td>Media</td>
                    <td><%=MediaObject.count%></td>
                </tr>
            </table>
       </div>
    </div>
</div>

