<div class="row">
  <div class="span8">
    <div class="feed-top">
      <h1>Users</h1>
      <div class="row">
        <%=form_tag users_path, method: 'get', id: 'users_search', class:'navbar-search' do%>
          <div class="span2">
            <select name="sort" class="users_sort_select">
              <option value="DESC">Newest First</option>
              <option value="ASC">Oldest First</option>
            </select>
          </div>
          <div class="span3">
            <%=text_field_tag :search, params[:search], class:'search-query'%>
          </div>
          <div class="span1 offset1">
            <%= submit_tag "Search", name: nil, class:'btn'%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8">
    <div id="users">
      <%=render 'display_users'%>
    </div>
  </div>
  <div class="span4">
    <div class="sidebar_box grey_content">
    <h4 class=center>Statistics</h4>
      <table class="table">
        <tr>
          <td>Users</td>
          <td><%=User.count%></td>
        </tr>
        <tr>
          <td>Experiments</td>
          <td><%=Experiment.count%></td>
        </tr>
        <tr>
          <td>Sessions</td>
          <td><%=ExperimentSession.count%></td>
        </tr>
        <tr>
          <td>Media</td>
          <td><%=MediaObject.count%></td>
        </tr>
      </table>
   </div>
  </div>
</div>
