<div class="row">
  <div class="span8">
    <div class="row">
      <div class="span8">
        <%=form_tag users_path, method: 'get', id: 'users_search', class:'navbar-search' do%>
          <div class="feed-top">
            <h1>Users</h1>
            <div style="width:20%;float:left;">
              <select name="sort" class="users_sort_select">
                <option value="DESC">Newest First</option>
                <option value="ASC">Oldest First</option>
              </select>
            </div>
            <div style="width:40%;float:left;margin-left:20px;">
              <%=text_field_tag :search, params[:search], class:'search-query'%>
            </div>
            <div style="width:20%;float:left;margin-left:40px;">
              <%= submit_tag "Search", name: nil, class:'btn'%>
            </div>
            <div class="clear"></div>
          </div>
        <%end%>
      </div>
    </div>
    <div class="row">
      <div class="span8">
        <div id="users">
          <%=render 'display_users'%>
        </div>
      </div>
    </div>
  </div>

  <div class="span4">
    <div class="sidebar_box grey_content" style="margin-top:0px;">
      <h4 class=center>Statistics</h4>
      <table class="table">
        <tr>
          <td>Users</td>
          <td><%=User.count%></td>
        </tr>
        <tr>
          <td>Experiments</td>
          <td><%=Experiment.count%></td>
        </tr>
        <tr>
          <td>Sessions</td>
          <td><%=DataSet.count%></td>
        </tr>
        <tr>
          <td>Media</td>
          <td><%=MediaObject.count%></td>
        </tr>
      </table>
   </div>
  </div>
</div>
