  <div class="feed-top">
    <h1>Create User</h1>

    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
  </div>  
  
  <div class="feed-even">
    <div class="field_top">First Name: *</div>
    <div class="field_top"><%= f.text_field :firstname %></div>
    <div style="clear:both;"></div>
    
    <div class="field">Last Name: *</div>
    <div class="field"><%= f.text_field :lastname %></div>
    <div style="clear:both;"></div>
  </div>
  
  <div class="feed-odd">
    <div class="field_top">Username: *</div>
    <div class="field_top"><%= f.text_field :username %></div>
    <div style="clear:both;"></div>
    
    <div class="field">Email:</div>
    <div class="field"><%= f.text_field :email %></div>
    <div style="clear:both;"></div>
  </div>
  
  <div class="feed-even">
    <div class="field_top">Password: *</div>
    <div class="field_top"><%= f.password_field :password %></div>
    <div style="clear:both;"></div>
    
    <div class="field">Confirmation: *</div>
    <div class="field"><%= f.password_field :password_confirmation %></div>
    <div style="clear:both;"></div>
  </div>
  
  <div class="feed-bottom"> 
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>


<%= link_to 'Back', users_path %>
