<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel panel-default">
      <%= form_for @user, url: {action: 'create'} do |ff| %>
      
        <% if @user.errors.size > 0 %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h3><%= pluralize(@user.errors.count, "error") %> <%= @user.errors.count == 1 ? "was" : "were" %> encountered:</h3>
          
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
      
        <div class="panel-heading">
          <h1>Register for iSENSE</h1>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <%= ff.label(:name, "Real Name:") %>
            <%= ff.text_field :name, class: "form-control", placeholder: "Bob D.", autofocus: true %>
          </div>
          
          <div class="form-group">
            <%= ff.label(:email, "Email:") %>
            <%= ff.text_field :email, class: "form-control", placeholder: "Required, allows you to reset your password." %>
          </div>
          
          <div class="form-group">
            <%= ff.label(:password, "Password:") %>
            <%= ff.password_field :password, class: "form-control", placeholder: "Can contain any letters, number, and punctuation." %>
          </div>
          
          <div class="form-group">
            <%= ff.label(:password_confirmation, "Password Confirmation:") %>
            <%= ff.password_field :password_confirmation, class: "form-control", placeholder: "Retype your password." %>
          </div>
        </div>
        <div class="form-group">
	    <%= recaptcha_tags %>
        </div>
        <div class="panel-footer">
          <%= ff.submit("Create User", class: "btn btn-primary", id: "create_user") %>
          <div class="pull-right"><a href="#" onclick="$('#privacy_policy').toggle()">Privacy Policy</a></div>
          <div class="clear"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row" id="privacy_policy" style="display:none">
  <%= render :partial => "shared/privacy_policy"%>
</div>
