<div class="row">
  <div class="span6">
    <%= form_for @user, url: {action: 'create'} do |ff| %>
    
      <% if @user.errors.size > 0 %>
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h3><%= pluralize(@user.errors.count, "error") %> were encountered:</h3>
        
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
    
      <div class="feed-top">
        <h1>Register for iSENSE</h1>
      </div>

      <div class="feed-odd">
        <%= label_tag(:firstname, "First Name:") %>
        <%= ff.text_field :firstname %>
      </div>
      
      <div class="feed-even">
        <%= label_tag(:lastname, "Last Name:") %>
        <%= ff.text_field :lastname %>
      </div>
      
      <div class="feed-odd">
        <%= label_tag(:username, "Username:") %>
        <%= ff.text_field :username %>
        <div class="help-block"> Can contain letters and numbers. </div>
      </div>
      
      <div class="feed-even">
        <%= label_tag(:email, "Email:") %>
        <%= ff.text_field :email %>
        <div class="help-block"> Not required, but allows you to reset your password. </div>
      </div>
      
      <div class="feed-odd">
        <%= label_tag(:password, "Password:") %>
        <%= ff.password_field :password %>
        <div class="help-block"> Can contain any letters, number, and punctuation. </div>
      </div>
      
      <div class="feed-even">
        <%= label_tag(:password_confirmation, "Password Confirmation:") %>
        <%= ff.password_field :password_confirmation %>
        <div class="help-block">Retype your password.</div>
      </div>
      
      <div class="feed-bottom">
        <%= ff.submit("Create User", class: "btn btn-primary") %>
      </div>
    <% end %>
  </div>

  <div class="span6">
    <h1> You're almost there! </h1>
    <p> iSENSE is pretty great. We won't ever share your email with anyone if you choose to provide one. Keep in mind anything you do on the site should be considered public though!
  </div>
</div>

<!--<div class="feed-even">
  <div class="field_top">
    <label for="firstname">First Name: *</label>
  </div>
  <div class="field_top">
    <input id="firstname"></input>
  </div>
  <div style="clear:both;"></div>
  
  <div class="hint"> Can contain letters, single quotes, and hyphens. </div>
</div>
 
<div class="feed-odd">
  <div class="field_top">
    <label for="lastname">Last Name: *</label>
  </div>
  <div class="field_top">
    <input id="lastname"></input>
  </div>
  <div style="clear:both;"></div>
  
  <div class="hint"> Can contain letters, single quotes, and hyphens. </div>
</div>

<div class="feed-even">
  <div class="field_top">
    <label for="username">Username: *</label>
  </div>
  <div class="field_top">
    <input id="username"></input>
  </div>
  <div style="clear:both;"></div>
  
  <div class="hint"> Can contain letters and numbers. </div>
</div>

<div class="feed-odd">
  <div class="field_top">
    <label for="email">Email:</label>
  </div>
  <div class="field_top">
    <input id="email"></input>
  </div>
  <div style="clear:both;"></div>
  
  <div class="hint"> 
    Not required, but allows you to reset your password.
  </div>
</div>

<div class="feed-even">
  <div class="field_top">
    <label for="password">Password: *</label>
  </div>
  <div class="field_top">
    <input id="password" type="password"></input>
  </div>
  <div style="clear:both;"></div>
  
  <div class="hint"> Can contain any letters, number, and punctuation. </div>
</div>
  
<div class="feed-odd">
  <div class="field_top">
    <label for="password_confirmation">Password Confirmation: *</label>
  </div>
  <div class="field_top">
    <input id="password_confirmation" type="password"></input>
  </div>
  <div style="clear:both;"></div>
  
  <div class="hint">Retype your password.</div>
</div>

<div class="feed-bottom" style="padding-top:4px;"> 
  <div class="actions">
    <button id="register" class="btn btn-primary"> Create User </button>
  </div>
</div>-->
