<p id="notice"><%= notice %></p>
<br>

<%= render 'edit_info', {type: 'user', value: 'firstname', label: 'Firstname'}%>
<%= render 'edit_info', {type: 'user', value: 'lastname', label: 'Lastname'}%>

<div class="user_info">
    <div class="user_info_label">Username:</div>
    <%= @user.username %>
</div>

<div class="user_info">
    <div class="user_info_label">Email:</div>
    <%= @user.email %>
</div>

<%= render 'content'%>

<%= link_to 'Back', users_path %>
