<div class="row">
  <div class="col-lg-4">

    <div class="row well" style="margin: 19px;">
      <div class="col-lg-12 center">
        <%= image_tag Gravatar.new.url(@user), style: "border-radius: 3px", class: "gravatar_img" %>
      </div>
      <div class="col-lg-12" style="padding-top:25px;">
        <span class="info_label" style="line-height: 30px;">Display Name:</span><br>
        <div class="full_width_edit" style="font-style:italic">
          <%= user_edit_helper 'name', can_edit?(@user), false %>
        </div>

        <% if current_user && (current_user.admin? or current_user.id == @user.id) %>
          <br />
          <span class="info_label" style="line-height: 30px;">Email:</span><br>
          <span class="full_width_edit" style="font-style: italic; font-weight: bold">
            <%= @user.email %>
          </span>

          <p style="margin-top: 8px"><%= link_to "Change Email or Password", edit_user_registration_path(@user) %></p>
        <% end %>

        <br />
        <i>Joined <%= time_ago_in_words(@user.created_at)%> ago</i>
        <br />
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <%= render layout: "shared/box", locals: {title: 'Bio', width: '12', unique_id: 'box', should_hide: false } do %>
          <%= content_helper(@user) %>
        <%end%>
      </div>
    </div>

  </div>

  <div class="col-lg-8">
  <% if user_signed_in? %>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--green" id="newProject" style="margin: 20px 0;" data-toggle="modal" data-target="#create-project-model">New Project</button>
    <!-- Modal -->
    <div id="create-project-model" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <%= form_for(@project, html: { class: "form-inline" }) do |f| %>
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Create a Project</h4>
            </div>
            <div class="modal-body">
                <%= f.label :project_name, "Project Name", class:"hidden" %>
                <%= f.text_field :title, class: "form-control wide-input",
                    placeholder: "Project Name", :autofocus=>true %>  
            </div>
            <div class="modal-footer">
              <button type="submit" name="new-project-button"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect create-project-btn mdl-button--green"> Create Project
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
    <%= form_tag users_path, method: 'get', id: 'contribution_search', "data-user-id" => @user.id do%>
      <ul class="nav nav-tabs" id="user_filter">
        <li class="active"><a href="#" title="Search through <%=@user.name%>'s projects">My Projects</a></li>
        <li><a href="#" title="Search through <%=@user.name%>'s data sets">Data Sets</a></li>
        <li><a href="#" title="Search through <%=@user.name%>'s visualizations">Visualizations</a></li>
        <li><a href="#" title="Search through projects liked by <%=@user.name%>">Liked Projects</a></li>
      </ul>

      <div id="contributions_content">
        <input id="contribution_sort" name="sort" type="hidden" value="create dsc" />
          <div id="searchUserRow" class="input-group">
            <span>
              <input class="form-search form-control" id="contributions_search" name="search" type="text" />
            </span>
            <span class="input-group-btn">
              <button id="Search" class="btn btn-default">
                <i class='fa fa-search'></i>
              </button>
            </span>
          </div>

        <%= hidden_field_tag "page", params[:page].to_i %>
        <div id="contributions">
        </div>
        <div class="pageControls">
          <a href="#" class="pagebck">&lt;&lt;</a>
          <span id="pageLabel">Page 1 of 1</span>
          <a href="#" class="pagefwd">&gt;&gt;</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
