<p id="notice"><%= notice %></p>

<br>

<div>

    <%if @user.email?%>
        <div style="float:left;">
            <%= gravatar_image_tag(@user.email, alt: @user.firstname) %>
        </div>
    <%end%>

    <div style="float:left;">
        <span class="info_label">First Name:</span> 
        <%= user_edit_helper 'firstname', (@user.id == @cur_user.id) %><br>
        
        <%if @user.id == @cur_user.try(:id)%>
            <span class="info_label">Last Name:</span>
            <%= user_edit_helper 'lastname', (@user.id == @cur_user.id) %><br>
        <%end%>

        <span class="info_label">Username:</span>
        <%= user_edit_helper 'username' %><br>
        
    </div>

    <div style="clear:both;" />

</div>

<%= user_redactor_helper (@user.id == @cur_user.try(:id))%>

    <h2>Experiments:</h2>
    <% @user.experiments.all.each do |e|%>
        <%= link_to e.title, experiment_path(e.id)%>
    <%end%><br>
