<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span3">
    <div class="container-fluid well">
      <div class="row-fluid">
        <div class="span12 text-center">
          <%= image_tag Gravatar.new.url(@user), :style => "border-radius: 8px" %>
        </div>
        <div class="span12 text-center" style="padding-top:10px;">
          <span class="info_label" style="line-height: 30px;">First Name:</span> 
          <%= user_edit_helper 'firstname', (can_edit? @user) %>
          <br />
          <%if can_edit? @user%>
            <span class="info_label" style="line-height: 30px;">Last Name:</span>
            <%= user_edit_helper 'lastname', (can_edit? @user) %>
            <br />
          <%end%>
          <span class="info_label" style="line-height: 30px;">Username:</span>
          <%= user_edit_helper 'username' %>
          <br />
          <span style="line-height: 30px;">Joined <%= time_ago_in_words(@user.created_at)%> ago</span>
          <br />
        </div>
      </div>
    </div>
    
    <hr />
    <div class="row">
      <%= render layout: "shared/box", locals: {title: 'Description', width: '3', unique_id: 'box', should_hide: false } do %>
        <%= user_redactor_helper (can_edit? @user)%>
      <%end%>
    </div>
  </div>
  <div class="row">
    <div class="span9">
      <%= form_tag users_path, method: 'get', id:'contribution_search', name: @user.username do%>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#"><%= @user.name %></a></li>
          <li><a href="#">All</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Data Sets</a></li>
          <li><a href="#">Visualizations</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Tutorials</a></li>
        </ul>
        
        <div id="user_content">
          <div id="user_long_bio">
          </div>
          <div class="well">
            blahblahablhy
          </div>
        </div>
        
        <div id="contributions_content">
          
          <div class="row">
            <div class="span9" style="border: 1px solid #f5f5f5; border-top: 10px; border-left: 0px; border-right: 0px;">
              <input type="text" class="input" id="contribution_search" />
              <input type="button" class="btn btn-success pull-right" value="Search" id="contribution_search_btn" />
            </div>
          </div>
          
          <%= hidden_field_tag "page", params[:page].to_i %>
          <div id="contributions">
          </div>
          <div style="text-align: center; padding: 5px">
            <a href="#" class="pagebck"><<</a>
            <span id="pageLabel">Page 1 of 1</span>
            <a href="#" class="pagefwd">>></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
  <!--<%=render layout: "shared/box", locals: {title: 'Contributions', width: '9', unique_id: 'contribs', should_hide: false} do %>
    <%= form_tag users_path, method: 'get', id:'contribution_search', name: @user.username do%>
       <div class="feed-top">
          <div style="width:30%;float:left;">
            <select name="sort" class="contribution_sort_select">
              <option value="DESC">Newest First</option>
              <option value="ASC">Oldest First</option>
            </select>
          </div>
          <div style="width:50%;float:left;margin-left:20px;margin-top:10px">
            <%= text_field_tag :search, params[:search], class:'search-query'%>
          </div>
          <div class="clear"></div>
          <div style="margin-bottom:10px;">
            Projects <%= check_box_tag "filters[]", "projects", false, class: 'contribution_type_checkbox'%>&nbsp;&nbsp;&nbsp;
            DataSets <%= check_box_tag "filters[]", "data_sets", false, class: 'contribution_type_checkbox' %>&nbsp;&nbsp;&nbsp;
            Visualizations <%= check_box_tag "filters[]", "visualizations", false, class: 'contribution_type_checkbox' %>&nbsp;&nbsp;&nbsp;
            Media <%= check_box_tag "filters[]", "media", false, class: 'contribution_type_checkbox' %>&nbsp;&nbsp;&nbsp;
            Tutorials <%= check_box_tag "filters[]", "tutorials", false, class: 'contribution_type_checkbox' %>&nbsp;&nbsp;&nbsp;
          </div>
        </div>
      <%= hidden_field_tag "page", params[:page].to_i %>
      <div id="contributions">
      </div>
      <div class="feed-bottom" style="text-align: center; padding: 5px">
          <a href="#" class="pagebck"><<</a>
          <span id="pageLabel">Page 1 of 1</span>
          <a href="#" class="pagefwd">>></a>
      </div>
    <%end%>
  <%end%>-->
