<p id="notice">
    <%= notice %>
</p>
<div class="row">
  <div class="span5">
  <div class="row">
    <div class="span5">
      <%if @user.email?%>
        <div style="float:left;">
            <%= gravatar_image_tag(@user.email, alt: @user.firstname) %>
        </div>
      <%end%>
      <span class="info_label">First Name:</span> 
      <%= user_edit_helper 'firstname', (@user.id == @cur_user.id) %>
      <br />
      <br />
      <%if @user.id == @cur_user.try(:id)%>
        <span class="info_label">Last Name:</span>
        <%= user_edit_helper 'lastname', (@user.id == @cur_user.id) %>
        <br />
        <br />
      <%end%>
      <span class="info_label">Username:</span>
      <%= user_edit_helper 'username' %>
      <br />
    </div>
  </div>

  <div class="row">
        <div class="span5">
          <div>
              <%= user_redactor_helper (@user.id == @cur_user.try(:id))%>
          </div>
      </div>
  </div>
 </div>
 
  <div class="span7">
    <%= form_tag users_path, method: 'get', id:'contribution_search', class:'navbar-search', name: @user.username do%>
      <div class="feed-top">
        <h2>My Stuff</h2>
        <div style="width:20%;float:left;">
          <select name="sort" class="contribution_sort_select">
            <option value="DESC">Newest First</option>
            <option value="ASC">Oldest First</option>
          </select>
        </div>
        <div style="width:40%;float:left;margin-left:20px;">
              <%= text_field_tag :search, params[:search], class:'search-query'%>
        </div>
        <div class="clear"></div>
        <div style="margin-bottom:10px;">
          Experiments: <%= check_box_tag "filters[]", "experiments", @filters.include?("experiments"), class: 'contribution_type_checkbox'%>&nbsp;&nbsp;&nbsp;
          Sessions: <%= check_box_tag "filters[]", "sessions", @filters.include?("sessions"), class: 'contribution_type_checkbox' %>&nbsp;&nbsp;&nbsp;
          Visualizations: <%= check_box_tag "filters[]", "visualizations", @filters.include?("visualizations"), class: 'contribution_type_checkbox' %>&nbsp;&nbsp;&nbsp;
          Media: <%= check_box_tag "filters[]", "media", @filters.include?("media"), class: 'contribution_type_checkbox' %>&nbsp;&nbsp;&nbsp;
        </div>
      </div>
    <%end%>
    
    <div id="contributions">
      <%= render 'display_contributions'%>
    </div>
    <div class="feed-bottom">
    </div>
</div> 


