<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span6">
    <div class="row">
      <div class="span6" align="center">
        <div class="content-block grey_content">
          <div class="row">
            <%if !@user.try(:email).nil?%>
              <div class="span2" style="padding-bottom:5px">
                <%= image_tag Gravatar.new.url(@user) %>
              </div>
            <%end%>
            <div class="span3" style="padding-top:10px;">
              <span class="info_label">First Name:</span> 
              <%= user_edit_helper 'firstname', (can_edit? @user) %>
              <br />
              <br />
              <%if can_edit? @user%>
                <span class="info_label">Last Name:</span>
                <%= user_edit_helper 'lastname', (can_edit? @user) %>
                <br />
                <br />
              <%end%>
              <span class="info_label">Username:</span>
              <%= user_edit_helper 'username' %>
              <br />
            </div>
          </div>
        </div> 
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <br />
        <div>
          <%= user_redactor_helper (can_edit? @user)%>
          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="row">
      <div class="span6">
        <%= form_tag users_path, method: 'get', id:'contribution_search', class:'navbar-search', name: @user.username do%>
          <div class="feed-top">
            <h2>My Stuff</h2>
            <div style="width:20%;float:left;">
              <select name="sort" class="contribution_sort_select">
                <option value="DESC">Newest First</option>
                <option value="ASC">Oldest First</option>
              </select>
            </div>
            <div style="width:40%;float:left;margin-left:20px;">
                  <%= text_field_tag :search, params[:search], class:'search-query'%>
            </div>
            <div class="clear"></div>
            <div style="margin-bottom:10px;">
              Projects: <%= check_box_tag "filters[]", "projects", false, class: 'contribution_type_checkbox'%>&nbsp;&nbsp;&nbsp;
              DataSets: <%= check_box_tag "filters[]", "data_sets", false, class: 'contribution_type_checkbox' %>&nbsp;&nbsp;&nbsp;
              Visualizations: <%= check_box_tag "filters[]", "visualizations", false, class: 'contribution_type_checkbox' %>&nbsp;&nbsp;&nbsp;
              Media: <%= check_box_tag "filters[]", "media", false, class: 'contribution_type_checkbox' %>&nbsp;&nbsp;&nbsp;
              Tutorials: <%= check_box_tag "filters[]", "tutorials", false, class: 'contribution_type_checkbox' %>&nbsp;&nbsp;&nbsp;
            </div>
          </div>
        <%end%>
      </div>
    </div>
    <div id="contributions">
    </div>
    <div class="feed-bottom">
  </div>
</div> 
