<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-4">
    
    <div class="row well">
      <div class="col-lg-12 center">
        <%= image_tag Gravatar.new.url(@user), style: "border-radius: 8px", class: "gravatar_img" %>
      </div>
      <div class="col-lg-12" style="padding-top:10px;">
        <span class="info_label" style="line-height: 30px;">First Name:</span> 
        <span class="full_width_edit">
          <%= user_edit_helper 'firstname', (can_edit? @user), false %>
        </span>
        <br />
        <%if can_edit? @user%>
          <span class="info_label" style="line-height: 30px;">Last Name:</span>
          <span class="full_width_edit">
            <%= user_edit_helper 'lastname', (can_edit? @user), false%>
          </span>
          <br />
        <%end%>
        <span class="info_label" style="line-height: 30px;">Username:</span>
        <span class="full_width_edit">
          <%= user_edit_helper 'username', false, false %>
        </span>
        <br />

        <% if @cur_user.admin? or @cur_user.id == @user.id %>
          <p><%= link_to "Change Email or Password", 
            edit_user_path(@user) %></p>
        <% end %>

        <i>Joined <%= time_ago_in_words(@user.created_at)%> ago</i>
        <br /> 
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-12">
        <%= render layout: "shared/box", locals: {title: 'Bio', width: '12', unique_id: 'box', should_hide: false } do %>
          <%= user_content_helper(can_edit?(@user), "bio", false, true)%>
        <%end%>
      </div>
    </div>
    
  </div> 
 
  <div class="col-lg-8">
    <%= form_tag users_path, method: 'get', id:'contribution_search', name: @user.username do%>
      <ul class="nav nav-tabs" id="user_filter">
        <li class="active"><a href="#" title="Search through <%=@user.name%>'s contributions">All</a></li>
        <li><a href="#" title="Search through <%=@user.name%>'s projects">Projects</a></li>
        <li><a href="#" title="Search through <%=@user.name%>'s data sets">Data Sets</a></li>
        <li><a href="#" title="Search through <%=@user.name%>'s visualizations">Visualizations</a></li>
        <li><a href="#" title="Search through <%=@user.name%>'s media objects">Media</a></li>
        <li><a href="#" title="Search through tutorials created by <%=@user.name%>">Tutorials</a></li>
      </ul>
      
      <div id="contributions_content">
        
        <div class="row">
          <div class="col-lg-9" style="border: 1px solid #f5f5f5; border-top: 10px; border-left: 0px; border-right: 0px;">
            <input class="form-search input-xxlarge" id="contribution_search" name="search" type="text" x-webkit-speech>
            <input type="button" class="btn btn-success" value="Search" id="contribution_search_btn" style="margin-left: 7px; margin-bottom: 10px;"/>
          </div>
        </div>
        
        <%= hidden_field_tag "page", params[:page].to_i %>
        <div id="contributions">
        </div>
        <div style="text-align: center; padding: 5px">
          <a href="#" class="pagebck"><<</a>
          <span id="pageLabel">Page 1 of 1</span>
          <a href="#" class="pagefwd">>></a>
        </div>
      </div>
    <% end %>
  </div>  
</div>

