<!--
  image_id = the image to use on the left side
  path = what to link to
  title = title of the article
  brief = a subtitle more or less
  date = the date it was written on
  content = a preview of what is in the article
  width = size of bootstrap column
-->
<% left_image = image_path('missing_tutorial.jpg') %>
<% if image_id != nil %>
  <% left_image = MediaObject.find(image_id).src %>
<% end %>

  <div class="news-item">
    <div class="image">
      <a href="<%= path %>"><img class="news-featured-image" src="<%= left_image %>" alt="media-img" /></a>
    </div>
    <div class="description">
      <div class="news-title truncate">
        <p class="news-feed-text"><%= link_to title, path %></p>
      </div>
      <div class="news-brief truncate">
        <p class="news-feed-text"><%= brief %></p>
      </div>
      <div class="news-date">
        <p class="news-feed-text">Written on <%= date %></p>
      </div>
      <div class="news-body">
        <% if content != nil %>
          <p class="news-feed-text"><%= content.html_safe %></p>
        <% end %>
      </div>
      <div class="news-link">
        <p class="news-feed-text"><%= link_to "Read More", path %></p>
      </div>
    </div>
  </div>
  <br />
