<!--
  image_id = the image to use on the left side
  path = what to link to
  title = title of the article
  brief = a subtitle more or less
  date = the date it was written on
  content = a preview of what is in the article
  width = size of bootstrap column
-->

<div class="col-md-<%= width %>">
  <div class="wide-item article_box"> 
    <% if image_id != nil %>
      <% left_image = MediaObject.find(image_id).src %>
      <a class="item-image-link hidden-xs" href="<%= path %>" style="background-image: url(<%= left_image %>)"></a>
    <% end %>

    <div class="item-desc">
      <div class="article_date_title truncate"><span class="article_page_date"><%= date %></span><span class="article_page_title"><%= title %></span></div>
      <b><div class="article_page_subtitle truncate"><%= link_to brief, path %></div></b>
      <div class="article_page_content truncate">
        <% if content != nil %>
          <div class="article_page_content_text"><%= content.html_safe %></div>
        <% end %>
        <div class="article_page_link"><%= link_to "Read More", path %></div>
      </div>
    </div>
  </div>
</div>