<div class="span<%=width%> box-container" id="<%=unique_id%>" <%if should_hide == true %> style="display:none"<%end%> >
  <div class="box-header text-center">
    <%= title %>
  </div>
  
  <% if title == "Description" %>
    <div class="box-content" style="padding-top: 70px">
      <%= yield %>
    </div>
  <% else %>
    <div class="box-content">
      <%= yield %>
    </div>
  <% end %>
  
  <div class="box-slider text-center">
    <i class="icon-chevron-up"></i>
  </div>

</div>