<div id="content-partial">
  <% if can_edit?(obj) %>
  <div id="content-editor">
    <%= form_for obj,
        :html => { :id => "edit_#{obj.class.name}_#{obj.id}" } do |ff| %>
    <div>
      <% if obj.class == User %>
        <%= ff.text_area :bio, id: 'content-area', class: 'summernote' %>
      <% else %>
        <%= ff.text_area :content, id: 'content-area', class: 'summernote' %>
      <% end %>
    </div>
    <p class ='summernote-controls'>
      <button id="content-cancel-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--red">Cancel</button>
      <button id="content-save-btn" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--green">
        Save
      </button>
    </p>
    <% end %>
  </div>
  <% end %>
  <div id="content-viewer">
    <% content = nil %>
    <% if obj.class == User %>
      <% content = obj.bio %>
    <% else %>
      <% content = obj.content %>
    <% end %>
    <div>
      <% if can_edit?(obj) && (content.nil? || content.empty?) %>
        <p style="text-align: center">
          <%= link_to(image_tag('green_plus_icon.png', size: "250x250"),
              'javascript:;', id: 'add-content-image') %>
        </p>
      <% else %>
        <%= raw content %>
      <% end %>
    </div>
  </div>
  <% if can_edit?(obj) %>
    <p class='summernote-controls'>
      <% if !(content.nil?|| content.empty?) %>
        <button id="content-edit-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--blue">Edit</button>
      <% end %>
    </p>
  <% end %>
</div>
