<div class="" field='<%=field%>' type='<%=type%>' row_id='<%=row_id%>'>

  <!-- If there is content show the content -->
  <%if has_content %>

    <div class="">
      <%if can_edit%>
        <a class="redactor_content_edit_link btn btn-small pull-right"><i class="icon-edit icon_content"></i></a>

        <div class="pillbox pull-right" style="display:none;">
          <div class="btn-group">
          <a href="/<%=type.pluralize%>/<%=row_id%>" class="redactor_content_save_link btn btn-small"><i class="icon-ok  icon_content"></i></a>
          <a href="/<%=type.pluralize%>/<%=row_id%>" class="redactor_content_cancel_link btn btn-small"><i class="icon-remove  icon_content"></i></a>
          </div>
        </div>
      <%end%>
    </div>
    <div class="clear"></div>
    <div class="redactor_content">
      <%= raw content %>
    </div>
    
  <!-- If there is no content and you are the owner-->
  <% elsif !has_content && can_edit %>
  
    <div class="">
      <a class="redactor_content_edit_link btn btn-small pull-right" style="display:none"><i class="icon-edit icon_content"></i></a>

      <div class="pillbox pull-right" style="display:none;">
        <div class="btn-group">
        <a href="/<%=type.pluralize%>/<%=row_id%>" class="redactor_content_save_link btn btn-small"><i class="icon-ok  icon_content"></i></a>
        <a href="/<%=type.pluralize%>/<%=row_id%>" class="redactor_content_cancel_link btn btn-small"><i class="icon-remove  icon_content"></i></a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="redactor_content" style="display:none">
      <%= raw content %>
    </div>
    
    <div class="" style="text-align:center">
      <div class="add_content">
        <a class="add_content_link"><img src="/assets/green_plus_icon.svg" class="img-rounded hoverimage" style="width:100px"><h4 style='color:#0a0;'>Add Description</h4></a>
      </div>
    </div>
    
  <!-- If there is no content and you are NOT the owner or not logged in-->  
  <% else %>
    <div class="">
     
    </div>
    
    <div class="redactor_content" style="display:none">
    </div>
    
    <div class="" style="text-align:center;padding:0px;">
      <div class="add_content" style="padding:0px;margin:0px;">
        <div class="no_content" style="padding:0px;">
          <img src="/assets/contentplaceholder.png" style="margin:0px;padding:0px;"></img>
        </div>
      </div>
    </div>
  <%end%>

</div>
