<div class="type_content" field='<%=field%>' type='<%=type%>'>

    <%if can_edit %>
      <span style="float:right;">
        <a class="redactor_content_edit_link">edit</a>
        <a href="/<%=type.pluralize%>/<%=row_id%>" class="redactor_content_save_link">save</a>
      </span><br>
    <%end%>
        
    <div class="redactor_content">
        <%= raw content %>
    </div>

</div>