<div class="redactor_top" field='<%=field%>' type='<%=type%>' row_id='<%=row_id%>' 
<% if !(defined? no_redactor_upload).nil? and no_redactor_upload %> no_upload='1' <%end%> 
<% if !(defined? simple_redactor_toolbar).nil? and simple_redactor_toolbar %> simple='1' <%end%> 
>
    
  <!-- If there is no content and you are the owner-->
  <% if can_edit || has_content %>
  
    <% if can_edit %>
      <div class="redactor_content_edit" <% if !has_content %> style="display:none" <%end%> >
        <a class="redactor_content_edit_link btn btn-small pull-right">
          <i class="icon-edit icon_content"></i>
        </a>
      </div>
    <% end %>
    
    <div class="clear"></div>
    
    <div class="redactor_content" <% if !has_content %> style="display:none" <%end%> >
      <%= raw content %>
    </div>
    
    <div class="" <% if has_content %> style="display:none; text-align:center" <%else%> style="text-align:center" <%end%> >
      <div class="add_content">
        <a class="add_content_link"><img src="/assets/green_plus_icon.svg" class="img-rounded hoverimage" style="width:100px"><h4 style='color:#0a0;'>Add Description</h4></a>
      </div>
    </div>
    
    <%if can_edit%>
      <div class="pillbox" style="display:none; height:20px">
        <div class="pull-right">
          <a href="/<%=type.pluralize%>/<%=row_id%>" class="redactor_content_cancel_link btn btn-danger">Cancel</a>
          <a href="/<%=type.pluralize%>/<%=row_id%>" class="redactor_content_save_link btn btn-success">Save</a>
        </div>
      </div>
    <%end%>
    
  <!-- If there is no content and you are NOT the owner or not logged in-->  
  <% else %>
    <div class="">
     
    </div>
    
    <div class="redactor_content" style="display:none">
    </div>
    
    <div class="" style="text-align:center;padding:0px;">
      <div class="add_content" style="padding:0px;margin:0px;">
        <div class="no_content" style="padding:0px;">
          <!-- This needs to be a nice image of something -->
          <img src="/assets/contentplaceholder.png" style="margin:0px;padding:0px;"></img>
          <!--<a class="add_content_link"><img src="/assets/add_content.png" class="img-rounded"></a>-->
          <!--<a class="add_content_link"><img src="/assets/add_content.png" class="img-rounded"></a>-->
        </div>
      </div>
    </div>
  <%end%>

</div>