<script type='text/javascript'>
  var type = '<%=type%>';
  var row_id = '<%=row_id%>';
</script>

<div class="type_content" field='<%=field%>' type='<%=type%>'>

  <!-- If there is content show the content -->
  <%if has_content %>

    <div class="content_icontainer">
      <%if can_edit%>
      <a class="redactor_content_edit_link"><i class="icon-edit icon_content"></i></a>
      <a href="/<%=type.pluralize%>/<%=row_id%>" class="redactor_content_save_link" style="display:none"><i class="icon-ok  icon_content"></i></a>
      <%end%>
    </div>

    <div class="redactor_content">
      <%= raw content %>
    </div>
    
  <!-- If there is no content and you are the owner-->
  <% elsif !has_content && can_edit %>
  
    <div class="content_icontainer">
      <a class="redactor_content_edit_link" style="display:none"><i class="icon-edit  icon_content"></i></a>
      <a href="/<%=type.pluralize%>/<%=row_id%>" class="redactor_content_save_link" style="display:none"><i class="icon-ok  icon_content"></i></a>
    </div>
    
    <div class="redactor_content" style="display:none">
      <%= raw content %>
    </div>
    
    <div class="well content_well" style="text-align:center">
      <div class="add_content">
        <a class="add_content_link"><img src="/assets/green_plus_icon.svg" class="img-rounded" style="width:100px"></a>
      </div>
    </div>
    
  <!-- If there is no content and you are NOT the owner or not logged in-->  
  <% else %>
    <div class="content_icontainer">
     
    </div>
    
    <div class="redactor_content" style="display:none">
    </div>
    
    <div class="well content_well" style="text-align:center;padding:0px;">
      <div class="add_content" style="padding:0px;margin:0px;">
        <div class="no_content" style="padding:0px;">
          <!-- This needs to be a nice image of something -->
          <img src="/assets/contentplaceholder.png" style="margin:0px;padding:0px;"></img>
          <!--<a class="add_content_link"><img src="/assets/add_content.png" class="img-rounded"></a>-->
          <!--<a class="add_content_link"><img src="/assets/add_content.png" class="img-rounded"></a>-->
        </div>
      </div>
    </div>
  <%end%>

</div>
