<span class="edit_info" field='<%=field%>' type='<%=type%>'>
    <span class="info_text"><%=value%></span>
    <%if can_edit %>
        <span class="info_edit_link"><i class="icon-edit"></i></span>
        <span href="/<%=type.pluralize%>/<%=row_id%>" class="info_save_link"><i class="icon-ok"></i></span>
    <%end%>
</span>
