<span class="edit_menu" field='title' type='<%=type%>' make_link='<%=make_link%>' escape_link='<%=escape_link%>' value='<%=obj.title%>'>

  <%if make_link %>
      <div class="info_text"><%= link_to obj.title, "/#{type.pluralize}/#{obj.id}" %></div>
  <%else%>
      <div class="info_text"><%=obj.title%></div>
  <%end%>
  
  <% if can_edit?(obj) || can_hide?(obj) || can_delete?(obj)  %>
  
      <div class="btn-group" style="font-size:14px; vertical-align: middle;">
        <a class="btn btn-default btn-small dropdown-toggle menu_edit_link" data-toggle="dropdown" href="#"> 
          <i class="fa fa-cog fa fa-content"></i>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
        
          <% if obj.is_a?(MediaObject) %>
            <li role="presentation">
              <a class="menu_edit" role="menuitem" href="<%=url_for obj%>"><i class="fa fa-edit"></i> Rename File </a>
            </li>
          <% elsif can_edit?(obj)%>
            <li role="presentation">
              <a class="menu_edit" role="menuitem" href="<%=url_for obj%>"><i class="fa fa-edit"></i> Edit Title </a>
            </li>
          <%end%>
          
          <% if obj.is_a?(News) || obj.is_a?(Visualization)%>
            <li role="presentation">
              <a class="summary_edit" role="menuitem" href="<%=url_for obj%>"><i class="fa fa-edit"></i> Edit Summary </a>
            </li>
          <% end %>
          
          <% if can_hide?(obj) %>
            <li role="presentation" class="menu_unhider" <%if not obj.hidden %> style="display:none" <%end%> >
              <a class="menu_unhider" role="menuitem" href="<%=url_for obj%>"><i class="fa fa-eye"></i> Unhide <%= typeName.capitalize %> </a>
            </li>
            
            <li role="presentation" class="menu_hider" <%if obj.hidden %> style="display:none" <%end%> >
              <a class="menu_hider" role="menuitem" href="<%=url_for obj%>"><i class="fa fa-eye-slash"></i> Hide <%= typeName.capitalize %> </a>
            </li>
          <%end%>
          
          <% if obj.is_a?(Project) %>
            <li role="presentation" class="menu_lock" <% if obj.lock %> style="display:none"<%end%> >
              <a class="menu_lock" role="menuitem" href="#"><i class="fa fa-lock"></i> Lock Project </a>
            </li>
            <li role="presentation" class="menu_unlock" <% if not obj.lock %> style="display:none"<%end%> >
              <a class="menu_unlock" role="menuitem" href="#"><i class="fa fa-unlock"></i> Unlock Project </a>
            </li>
            <li role="presentation" class="menu_print">
              <a class="menu_print" role="menuitem" href="<%=url_for obj%>/printable"><i class="fa fa-print"></i> Print</a>
            </li>
          <% end %>

          <% if is_admin? && obj.is_a?(Project)%>
            <li role="presentation" class="menu_curate" <% if obj.curated %> style="display:none"<%end%>>
              <a class="menu_curate" role="menuitem" href="<%=url_for obj%>"><i class="fa fa-tag"></i> Curate <%= typeName.split.map(&:capitalize).join(' ') %> </a>
            </li>
            <li role="presentation" class="menu_uncurate" <% if !obj.curated %> style="display:none"<%end%>>
              <a class="menu_uncurate" role="menuitem" href="<%=url_for obj%>"><i class="fa fa-tag"></i> Uncurate <%= typeName.split.map(&:capitalize).join(' ') %> </a>
            </li>
          <% end %>
          
          <% if can_delete?(obj)%>
            <li role="presentation">
              <a style="color:red" class="menu_delete" role="menuitem" href="<%=url_for obj%>"><i style="color:red" class="fa fa-times-circle"></i> Delete <%= typeName.split.map(&:capitalize).join(' ') %> </a>
            </li>
          <%end%>
          
        </ul>
      </div>
  <%end%>
  <% if obj.is_a?(News) || obj.is_a?(Visualization)%>
    <div class="summary" style="padding:5px 0px 5px 0px" type="<%=obj.class.to_s.downcase%>">
      <%= obj.summary %>
    </div>
  <% end %>
</span>
