<span class="edit_info" field='<%=field%>' type='<%=type%>' value='<%=value%>' make_link='<%=make_link%>'>
  <%if make_link %>
      <div class="info_text"><%= link_to value, "/#{type.pluralize}/#{row_id}" %></div>
  <%else%>
      <div class="info_text"><%=value%></div>
  <%end%>
  <%if can_edit %>
      <span class="info_edit_link" href=<%="/#{type.pluralize}/#{row_id}"%>><i class="icon-edit"></i></span>
  <%end%>
</span>
