<span class="edit_info" field='<%=field%>' type='<%=type%>'>
    <span class="info_text"><%=value%></span>
    <%if can_edit %>
        <a class="info_edit_link">[edit]</a>
        <a href="/<%=type.pluralize%>/<%=row_id%>" class="info_save_link">[save]</a>
    <%end%>
</span>
