<span class="edit_menu" field='title' type='<%=type%>' make_link='<%=make_link%>' escape_link='<%=escape_link%>' value='<%=obj.title%>'>

  <%if make_link %>
      <div class="info_text"><%= link_to obj.title, "/#{type.pluralize}/#{obj.id}" %></div>
  <%else%>
      <div class="info_text"><%=obj.title%></div>
  <%end%>
  
  <% if can_edit?(obj) || can_hide?(obj) || can_delete?(obj)  %>
  
      <div class="btn-group" style="font-size:14px; vertical-align: middle;">
        <a class="btn btn-small dropdown-toggle menu_edit_link" data-toggle="dropdown" href="#"> 
          <i class="icon-cog icon-content"></i>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
        
          <% if can_edit?(obj)%>
            <li role="presentation">
              <a class="menu_edit" role="menuitem" href="<%=url_for obj%>"> Edit Title </a>
            </li>
          <%end%>
          
          <% if obj.is_a?(News) || obj.is_a?(Visualization)%>
            <li role="presentation">
              <a class="summary_edit" role="menuitem" href="<%=url_for obj%>"> Edit Summary </a>
            </li>
          <% end %>
          
          <% if can_hide?(obj) %>
            <li role="presentation" class="menu_unhider" <%if not obj.hidden %> style="display:none" <%end%> >
              <a class="menu_unhider" role="menuitem" href="<%=url_for obj%>"> Unhide <%= typeName.capitalize %> </a>
            </li>
            
            <li role="presentation" class="menu_hider" <%if obj.hidden %> style="display:none" <%end%> >
              <a class="menu_hider" role="menuitem" href="<%=url_for obj%>"> Hide <%= typeName.capitalize %> </a>
            </li>
          <%end%>
          
          <% if can_delete?(obj)%>
            <li role="presentation">
              <a class="menu_delete" role="menuitem" href="<%=url_for obj%>"> Delete <%= typeName.capitalize %> </a>
            </li>
          <%end%>
        </ul>
      </div>
  <%end%>
  <% if obj.is_a?(News) || obj.is_a?(Visualization)%>
    <div class="summary" style="padding:5px 0px 5px 0px" type="<%=obj.class.to_s.downcase%>">
      <%= obj.summary %>
    </div>
  <% end %>
</span>
