<div class="edit_info" data-type="<%= type %>" data-field="<%= field %>"
     data-value="<%= value %>">
  <div class="info-show-text">
    <div class="info_val word-wrap">
      <span class="info-show-value"><%= value.html_safe %></span>
      <% if can_edit %>
        <a class="info_edit_link" href="<%= href %>" style="color:black">
          <i class="fa fa-edit" title="Click to edit <%= field %>"></i>
        </a>
      <% end %>
    </div>
  </div>
  <% if can_edit %>
    <div class="input-group info-edit-form">
      <input type="text" class="info_edit_box form-control"
             name="info_edit_value" value="<%= value.html_safe %>">
      <span class="input-group-btn info_save_link">
          <button class="btn btn-success info-save-button" id="edit-<%= type %>-<%= field %>" type="button">
          <i class="fa fa-floppy-o icon-white"></i>
        </button>
      </span>
    </div>
  <% end %>
</div>
