<div id="media_object_list" data-type="<%= type %>">
  <table id="media_table" class="table table-striped">
     <% object.media_objects.to_a.each_with_index do |mo, i| %>
      <% if !mo.media_type.nil? && i == 0 %>
       <thead>
       <tr>
        <th style="max-width:10%">File</th>
        <th style="max-width:60%">Name</th>
        <th style="max-width:10%"></th>
        <th style="max-width:10%"></th>
        <% if can_edit?( @project ) %>
          <th class="featured-title">Featured Image</th>
        <% end %>
        <% if ["Project","News","Tutorial"].include? object.class %>
          <th style="max-width:10%">Display</th>
        <% end %>
      </tr>
      </thead>
    <% end %>
        <% if !mo.owner.nil? %>
          <tr class="<%= cycle('feed-even','feed-odd') %> media">
            <% if !(mo.media_type == 'image') %>
              <td class="media_icon"><div class="media_icon"><%= link_to (media_object_thumbnail_helper mo), mo.src %></div></td>
              <td style="max-width:140px;"><div class="truncate"><%= link_to mo.name, mo.src%></div></td>
            <% else %>
              <td class="media_icon mo_image"><div class="media_icon"><%= link_to (media_object_thumbnail_helper mo), mo.src %></div></td>
              <td class="mo_image" style="max-width:140px;"><div class="truncate"><%= link_to mo.name, mo.src%></div></td>
            <% end %>
            <td style="padding-right: 0px; text-align: right;">
                <% if can_edit? mo %>
                  <a class="media_edit" href="<%= media_object_path mo %>">Edit</a>
                <% end %>
            </td>
            <td style="padding-left: 0px;">
                <% if can_delete? mo %>
                &nbsp;|&nbsp;<%= link_to "Delete", mo, method: 'delete', class: "media_delete", data: { confirm: "Are you sure?" } %>
                <% end %>
            </td>
            <% if ["Project","News","Tutorial", "Visualization"].include? object.class.name%>
              <td>
                <div class="center">
                  <% if ((mo.media_type == "image") && (can_edit? object))%>
                    <input type="radio" title="Select to set this as your featured project image." class="img_selector" name="img_selector" obj_id="<%=object.id%>" <%if object.featured_media_id == mo.id%>checked<%end%> mo_id="<%=mo.id%>"></input>
                  <%end%>
                </div>
              </td>
            <%end%>
          </tr>
        <%end%>
      <% end %>
  </table>

  <% if can_edit? object%>
    <div class="upload_media">
      <%= form_tag({controller: :media_objects ,action: :saveMedia, keys: "#{type}/#{object.id}"}, multipart: true) do %>
        <div class="center">
          <button class='btn btn-success center' id="filechooser" style="margin-top:15px">Add File</button>
        </div>
        <input type="file" name="upload" id="upload" style="display:none;"/>
        <input name="non_wys" type="hidden" value="<%= request.url %>"/>
      <% end %>
    </div>
  <% end %>
</div>
