<div id="media_object_list" type="<%=type%>" obj_id="<%=object.id%>">
  <table id="media_table">
    <thead>
      <tr>
        <th style="max-width:10%">File</th>
        <th style="max-widht:60%">Name</th>
        <th style="max-widht:20%px"></th>
        <th style="max-width:10%px">Display</th>
      </tr>
    </thead>
    <tbody>
      <% object.media_objects.all.each do |mo| %>
        <tr class="<%= cycle('feed-even','feed-odd') %> media">
          <% if !(mo.media_type == 'image') %>
            <td class="media_icon"><div class="media_icon"><%= link_to (media_object_thumbnail_helper mo), mo.src %></div></td>
            <td style="max-width:140px;"><div class="truncate"><%= link_to mo.name, mo.src%></div></td>
          <% else %>
            <td class="media_icon mo_image"><div><%= link_to (media_object_thumbnail_helper mo), mo.src %></div></td>
            <td class="mo_image" style="max-width:140px;"><div class="truncate"><%= link_to mo.name, mo.src%></div></td>
          <% end %>
          <td>
            <div class="controls">
              <% if can_edit? mo %>
                <a href="<%= media_object_path mo %>">Edit</a>
              <% end %>
              <% if can_delete? mo %>
                | <a class="media_object_delete" href="<%= media_object_url mo %>" name="<%= mo.title %>">Delete</a>
              <% end %>
            </div>
          </td>
          <td>
            <div class="center">
              <% if ((mo.media_type == "image") && (can_edit? object))%>
                <input type="checkbox" class="img_selector" name="img_selector" obj_id="<%=object.id%>" <%if object.featured_media_id == mo.id%>checked<%end%> mo_id="<%=mo.id%>"></input>
              <%end%>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
 
  <div class="upload_media">
    <%= form_tag({controller: :media_objects ,action: :saveMedia, keys: "#{type}/#{object.id}"}, multipart: true) do %>
      <div class="center"><button class='btn btn-success center' id="filechooser" style="margin-top:15px">Add File</button></div>
      <input type="file" name="upload" id="upload" style="display:none;"/>
      <input name="non_wys" type="hidden" value="<%= request.url %>"/>
    <% end %>
  </div>
  
  <div class="modal fade" id="mo_image_modal" aria-hidden="true">
    <div id="mo_image" style="width:100%" class="center"></div>
    <div class="modal-footer">
      <button type="button" class="btn btn-small" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
