<%= form_for(@visualization) do |f| %>
  <% if @visualization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visualization.errors.count, "error") %> prohibited this visualization from being saved:</h2>

      <ul>
      <% @visualization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="row"> 
    <div class="col-md-12">

      <div class="form-group">
        <div class="checkbox">
          <div class="checkbox-inner">
            <%= f.check_box :featured %> <strong> Feature Project</strong>
          </div>
          <span class="help-block">Featuring a visualization will put it in the running to be on the front page. Featured visualizations are shown based on when they are featured.</span>
        </div>
      </div>
      
      <div class="actions">
        <a href='<%= url_for @visualization %>' class="btn btn-danger"> Cancel </a>
        <button type="submit" name="commit" class="btn btn-primary"> Submit </button>
      </div>
    </div>
  </div>

<% end %>
