<%= form_for(@visualization) do |f| %>
  <% if @visualization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visualization.errors.count, "error") %> prohibited this visualization from being saved:</h2>

      <ul>
      <% @visualization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="row"> 
    <div class="span12" style="font-weight:bold">
      <div class="field">
        Featured: <%= f.check_box :featured %>
      </div>
      <div class="clear"><br></div>      
      <div class="field">
        Owner: <%= f.number_field :user_id %>
      </div>
      <div class="clear"><br></div>      
    </div>
    <br />
  </div>
    <%= f.submit "Update Visualization", class: "btn btn-primary" %>
  </div>
<% end %>
