<script>
  window.data = <%= raw @data.to_json %>;
  window.globals = <%= raw @globals.to_json %>;
  window.icons = { 'Map_dark': "<%= path_to_image('vis_map_dark.png')%>",
                   'Map_light': "<%= path_to_image('vis_map_light.png')%>",
                   'Timeline_dark': "<%= path_to_image('vis_timeline_dark.png')%>",
                   'Timeline_light': "<%= path_to_image('vis_timeline_light.png')%>",
                   'Scatter_dark': "<%= path_to_image('vis_scatter_dark.png')%>",
                   'Scatter_light': "<%= path_to_image('vis_scatter_light.png')%>",
                   'Bar_dark': "<%= path_to_image('vis_bar_dark.png')%>",
                   'Bar_light': "<%= path_to_image('vis_bar_light.png')%>",
                   'Histogram_dark': "<%= path_to_image('vis_histogram_dark.png')%>",
                   'Histogram_light': "<%= path_to_image('vis_histogram_light.png')%>",
                   'Summary_dark': "<%= path_to_image('vis_summary_dark.png')%>",
                   'Summary_light': "<%= path_to_image('vis_summary_light.png')%>",
                   'Table_dark': "<%= path_to_image('vis_table_dark.png')%>",
                   'Table_light': "<%= path_to_image('vis_table_light.png')%>",
                   'Photos_dark': "<%= path_to_image('vis_photos_dark.png')%>",
                   'Photos_light': "<%= path_to_image('vis_photos_light.png')%>",
                   'Pie_dark': "<%= path_to_image('vis_pie_dark.png')%> ",
                   'Pie_light': "<%= path_to_image('vis_pie_light.png') %>",
                   'novis_pie': "<%= path_to_image('novis_pie.png') %>",
                   'novis_map': "<%= path_to_image('novis_map.png')%>",
                   'novis_timeline': "<%= path_to_image('novis_timeline.png')%>",
                   'novis_scatter': "<%= path_to_image('novis_scatter.png')%>",
                   'novis_bar': "<%= path_to_image('novis_bar.png')%>",
                   'novis_histogram': "<%= path_to_image('novis_histogram.png')%>",
                   'novis_table': "<%= path_to_image('novis_table.png')%>",
                   'novis_photos': "<%= path_to_image('novis_photos.png')%>"
  };
</script>
<script type="text/javascript"
        src="https://maps-api-ssl.google.com/maps/api/js?key=AIzaSyBxtPK1_mxwVdl1NRu7ZEiSNvmCekFSZAw&amp;sensor=false&amp;libraries=visualization,geometry&amp;v=3.9">
</script>
<div id="viswrapper">
  <div id="vis-ctrl-container"
    <% if @presentation %> style="display:none" <% end %>>
    <div id="vis-ctrls">
    </div>
    <div id="controlhider">
      <i id="hiderbtn" class="fa fa-chevron-circle-left"></i>
    </div>
  </div>
  <div id="viscontainer" role="tabpanel">
    <div id="vistitlebar">
      <div class="inline-left">
        <%= title.html_safe %>
        <span class="subtitle">
          of <%= link_to project.title.html_safe, project, class: "i" %>
        </span>
      </div>
      <div id="visowner" class="subtitle inline-right">
        by <%= link_to "#{owner.name}", owner, class: "link" %>
        <%= link_to image_tag(Gravatar.new.url(owner),
            class: "circle-img"), owner %>
      </div>
    </div>
    <ul id="vistablist" role="tablist"
        class="nav nav-tabs <% if @presentation %>hidden<% end %>"
        data-tabs="tabs">
    </ul>
    <div class="tab-content">
      <div role="tabpanel" id="map_canvas"
           class="vis_canvas tab-pane fade">
      </div>
      <div role="tabpanel" id="table_canvas"
           class="vis_canvas tab-pane fade">
      </div>
      <div role="tabpanel" id="timeline_canvas"
           class="vis_canvas tab-pane fade">
      </div>
      <div role="tabpanel" id="scatter_canvas"
           class="vis_canvas tab-pane fade">
      </div>
      <div role="tabpanel" id="bar_canvas"
           class="vis_canvas tab-pane fade">
      </div>
      <div role="tabpanel" id="histogram_canvas"
           class="vis_canvas tab-pane fade">
      </div>
      <div role="tabpanel" id="pie_canvas"
           class="vis_canvas tab-pane fade">
      </div>
      <div role="tabpanel" id="summary_canvas"
           class="vis_canvas tab-pane fade">
      </div>
      <div role="tabpanel" id="photos_canvas"
           class="vis_canvas tab-pane fade">
      </div>
    </div>
  </div>
</div>
