<% default = @data[:relVis].include?(@data[:defaultVis]) ?
   @data[:defaultVis] : @data[:relVis][0] %>
<% owner = if obj then obj.owner else @project.owner end %>
<script>
  window.kml = "<%= @project.kml_metadata %>";
  window.data = <%= raw @data.to_json %>;
  window.globals = <%= raw @globals.to_json %>;
  window.defaultVis = "<%= default.downcase %>";
  window.icons = { 'Map_dark': "<%= path_to_image('vis_map_dark.png')%>",
                   'Map_light': "<%= path_to_image('vis_map_light.png')%>",
                   'Timeline_dark': "<%= path_to_image('vis_timeline_dark.png')%>",
                   'Timeline_light': "<%= path_to_image('vis_timeline_light.png')%>",
                   'Scatter_dark': "<%= path_to_image('vis_scatter_dark.png')%>",
                   'Scatter_light': "<%= path_to_image('vis_scatter_light.png')%>",
                   'Bar_dark': "<%= path_to_image('vis_bar_dark.png')%>",
                   'Bar_light': "<%= path_to_image('vis_bar_light.png')%>",
                   'Box_dark': "<%= path_to_image('vis_box_dark.png')%>",
                   'Box_light': "<%= path_to_image('vis_box_light.png')%>",
                   'Histogram_dark': "<%= path_to_image('vis_histogram_dark.png')%>",
                   'Histogram_light': "<%= path_to_image('vis_histogram_light.png')%>",
                   'Summary_dark': "<%= path_to_image('vis_summary_dark.png')%>",
                   'Summary_light': "<%= path_to_image('vis_summary_light.png')%>",
                   'Table_dark': "<%= path_to_image('vis_table_dark.png')%>",
                   'Table_light': "<%= path_to_image('vis_table_light.png')%>",
                   'Photos_dark': "<%= path_to_image('vis_photos_dark.png')%>",
                   'Photos_light': "<%= path_to_image('vis_photos_light.png')%>",
                   'Pie_dark': "<%= path_to_image('vis_pie_dark.png')%> ",
                   'Pie_light': "<%= path_to_image('vis_pie_light.png') %>",
                   'novis_pie': "<%= path_to_image('novis_pie.png') %>",
                   'novis_map': "<%= path_to_image('novis_map.png')%>",
                   'novis_timeline': "<%= path_to_image('novis_timeline.png')%>",
                   'novis_scatter': "<%= path_to_image('novis_scatter.png')%>",
                   'novis_bar': "<%= path_to_image('novis_bar.png')%>",
                   'novis_box': "<%= path_to_image('novis_box.png')%>",
                   'novis_histogram': "<%= path_to_image('novis_histogram.png')%>",
                   'novis_table': "<%= path_to_image('novis_table.png')%>",
                   'novis_photos': "<%= path_to_image('novis_photos.png')%>"
  };
</script>
<script type="text/javascript"
        src="https://maps-api-ssl.google.com/maps/api/js?key=AIzaSyBxtPK1_mxwVdl1NRu7ZEiSNvmCekFSZAw&amp;sensor=false&amp;libraries=visualization,geometry&amp;v=3.21">
</script>
<div id="vis-wrapper">
  <div id="vis-ctrl-container"
       <% if @presentation || !controls %> style="display:none" <% end %>>
    <div id="vis-ctrls">
    </div>
  </div>
  <div id="vis-container" role="tabpanel">
    <div id="vis-header">
      <div id="vis-title-bar"
           <% if @presentation || !titleBar %> style="display:none" <% end %>>
        <div id="vis-title-edit-btn" class="hidden-xs hidden-sm">
          <div class="inline-block subtitle">
            <% if obj && can_edit?(obj) %>
              <div class="edit_menu inline-block" data-field="title"
                   data-value="<%= obj.title.html_safe %>">
                <div class="btn-group">
                  <a class="btn btn-primary dropdown-toggle menu_edit_link"
                     data-toggle="dropdown" href="#">
                    Edit <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu pull-right" role="menu">
                    <li role="presentation">
                      <a class="menu_rename" role="menuitem"
                         href="<%= url_for obj %>">
                        <i class="fa fa-edit"></i> Edit Title
                      </a>
                    </li>
                    <% if can_delete?(obj) %>
                      <li role="presentation">
                        <%= link_to obj, data: { confirm: "Are you sure?" },
                            method: :delete,
                            class: 'menu_delete' do %>
                        <i style="color:red" class="fa fa-times-circle"></i>
                        Delete
                        <%= (s = obj.class.to_s) == 'DataSet' ?
                            'Data Set' : s  %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
          <% if getLatest %>
            <%= link_to "#{project_path(@project)}/data_sets",
                { id:"refresh-data", class: "btn btn-default" } do %>
              Get Latest Data
              <%= content_tag(:i, ' ', class: 'fa fa-refresh') %>
            <% end %>
          <% end %>
        </div>
        <button id="ctrls-menu-btn"
                class="hamburger-menu btn btn-default down"
                <% if !controls %> style="display:none" <% end %>>
          <span class="hamburger-bar"></span>
          <span class="hamburger-bar"></span>
          <span class="hamburger-bar"></span>
        </button>
        <div id="vis-title" class="inline-block">
          <% if obj %>
            <%= title_and_edit_menu(obj) %>
          <% else %>
            Showing <%= @datasets.count %> Data Sets
          <% end %>
          <div class="subtitle" style="font-style: italic">
            <span>from&nbsp;</span>
            <i class='fa fa-folder-open'></i>
            <%= link_to project.title.html_safe, project, class: "link" %>
              by <i class='fa fa-user'></i>
            <%= link_to "#{project.owner.name}", owner, class: "link" %>
          </div>
        </div>
      </div>
      <div id="disabled-points-box">
      </div>
      <div id="vis-filters">
        Filters:
      </div>
      <ul id="vis-tab-list" role="tablist" class="nav nav-tabs" data-tabs="tabs"
          <% if @presentation || !titleBar %> style="display: none" <% end %>>
      </ul>
    </div>
    <div class="tab-content">
      <div role="tabpanel" id="map-canvas"
           class="vis-canvas tab-pane fade
                  <% if default == 'Map' %> active in <% end %>">
      </div>
      <div role="tabpanel" id="timeline-canvas"
           class="vis-canvas tab-pane fade
                  <% if default == 'Timeline' %> active in <% end %>">
      </div>
      <div role="tabpanel" id="scatter-canvas"
           class="vis-canvas tab-pane fade
                  <% if default == 'Scatter' %> active in <% end %>">
      </div>
      <div role="tabpanel" id="bar-canvas"
           class="vis-canvas tab-pane fade
                  <% if default == 'Bar' %> active in <% end %>">
      </div>
      <div role="tabpanel" id="histogram-canvas"
           class="vis-canvas tab-pane fade
                  <% if default == 'Histogram' %> active in <% end %>">
      </div>
      <div role="tabpanel" id="pie-canvas"
           class="vis-canvas tab-pane fade
                  <% if default == 'Pie' %> active in <% end %>">
      </div>
      <div role="tabpanel" id="box-canvas"
           class="vis-canvas tab-pane fade
                  <% if default == 'Box' %> active in <% end %>">
      </div>
      <div role="tabpanel" id="table-canvas"
           class="vis-canvas tab-pane fade
                  <% if default == 'Table' %> active in <% end %>">
      </div>
      <div role="tabpanel" id="summary-canvas"
           class="vis-canvas tab-pane fade
                  <% if default == 'Summary' %> active in <% end %>">
      </div>
      <div role="tabpanel" id="photos-canvas"
           class="vis-canvas tab-pane fade
                  <% if default == 'Photos' %> active in <% end %>">
      </div>
    </div>
  </div>
</div>
