<script>
  window.data = <%= raw @Data.to_json %>;
</script>
<script type="text/javascript"
      src="https://maps-api-ssl.google.com/maps/api/js?key=AIzaSyBxtPK1_mxwVdl1NRu7ZEiSNvmCekFSZAw&sensor=false&libraries=visualization&v=3.9">
</script>

<div class="row" id="title_row" style="margin-left: 0px; margin-top:20px">
    <div class="full_width_edit" style="font-size:2em;"><%= project_edit_helper 'title', can_edit?(@project), true %></div><br><br>
</div>

<div style="margin: 0px 10px;">

  
    <div id="viscontainer" style="height:500px;">

        <ul id='visTabList'>
        </ul>


        <div id="map_canvas" class="vis_canvas"></div>
        <div id="table_canvas" class="vis_canvas"></div>
        <div id="timeline_canvas" class="vis_canvas"></div>
        <div id="scatter_canvas" class="vis_canvas"></div>
        <div id="bar_canvas" class="vis_canvas"></div>
        <div id="histogram_canvas" class="vis_canvas"></div>
        <div id="motion_canvas" class="vis_canvas"></div>
        <div id="photos_canvas" class="vis_canvas"></div>

        <div id='controlhider'>
            <button id="control_hide_button" type="button" style="margin:5px;"> > </button>
        </div>
        <div id="controldiv"></div>
    </div>
  
  </div>
    
  <% if @datasets.count > 1 %>  
    <div id="contentCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <% @datasets.each_with_index do |s,i| %>
          <a href="#" <%if s == @datasets.first()%>class="active"<%end%>>
            <li data-target="#contentCarousel" data-slide-to="<%=i%>"></li>
          </a>
        <%end%>
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner redactor" >
        <% @datasets.each do |s| %>
          <%@data_set = s%>
          <div class="item <%if s == @datasets.first()%>active<%end%>">
            <span style="font-size:1.5em">Dataset: <%= data_set_edit_helper 'title', can_edit?(s), make_link = false %></span>
            <%= data_set_redactor_helper s, can_edit?(s) %>
          </div>  
        <%end%>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#contentCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#contentCarousel" data-slide="next">&rsaquo;</a>
    </div>
  <% elsif @datasets.count == 1%>

    <div class="well" style="margin-top:10px">
      <%@data_set = @datasets.first()%>
      <div class="full_width_edit" style="font-size:1.5em">Dataset: <%= data_set_edit_helper 'title', can_edit?(@data_set), make_link = false%></div>
      <%= data_set_redactor_helper @data_set, can_edit?(@data_set) %>
    </div>

  <%end%>
