<div class="row">
  <div class="col-lg-12">
    <div class="search-box">
      <%= form_tag visualizations_path, method: "get",
                  id: "visualizations_search" do %>
        <div class="row">
          <div class="col-md-12">
            <h1><i class="fa fa-picture-o"></i> Visualizations</h1>
          </div>
          <div id="searchVisRow" class="row">
            <div class="padded-col col-xs-12"
                 title="Enter keyword(s) to search for a visualization">
              <div class="input-group">
                <%= text_field_tag :search, @params[:search],
                  class: "form-control" %>
                <span class="input-group-btn">
                  <button class="btn btn-default">
                    <i class='fa fa-search'></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="padded-col col-md-3 col-xs-6" title="Sort by">
              <%= select_tag(:sort,
                options_for_select([["Sort by Modified Date", "updated_at"],
                                    ["Sort by Created Date", "created_at"]],
                                   @params["sort"]),
                class: "visualizations_sort_select form-control")
              %>
            </div>
            <div class="padded-col col-md-3 col-xs-6" title="Sort order">
              <%= select_tag(:order,
                options_for_select([["Descending", "DESC"],
                                    ["Ascending", "ASC"]], @params["order"]),
                class: "visualizations_order_select form-control")
              %>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div id="visualizations" class="isotope_container" >
    <div class="isotope_pane">
      <% @visualizations.each do |vi| %>
        <% @box_vis = vi %>
        <%= render "shared/vis_box" %>
      <% end %>
    </div>
  </div>
</div>
<div class="text-center">
  <%= will_paginate @visualizations, renderer: BootstrapPagination::Rails,
      inner_window: 1, outer_window: 0, previous_label: "<<",
      next_label: ">>" %>
</div>
