<div class="row">
  <div class="col-lg-12">
    <div class="row padded-row">
      <%=form_tag visualizations_path, method: 'get', id: 'visualizations_search' do%>
            
        <div class="isotope-top">
          <div class="col-md-12">
            <h1>Visualizations</h1>
          </div>
          
          <div class='row'>
            <div class="padded-col col-sm-10">
              <%= text_field_tag :search, @params[:search], class: "form-control" %>
            </div>
            <div class="padded-col col-sm-2">
              <%= submit_tag "Search", name: nil, class:'btn btn-default'%>
            </div>
          </div>
          
          <div class='row'>
            <div class="padded-col col-md-3 col-sm-6">
            
              <%= select_tag(:sort, 
                options_for_select([["Sort by Modified Date", "updated_at"],
                                    ["Sort by Created Date", "created_at"]], @params["sort"]),
                class: "visualizations_sort_select form-control") 
              %>
            </div>
            
            <div class="padded-col col-md-3 col-sm-6">
            
              <%= select_tag(:order, 
                options_for_select([["Descending", "DESC"],
                                    ["Ascending", "ASC"]], @params["order"]),
                class: "visualizations_order_select form-control") 
              %>
            </div>
          </div>
          
          <div class='clear'></div>
          
        </div>
      <%end%>
    </div>
  </div>
</div>

<div class="row">
  <div id="visualizations" class="col-xs-12 isotope_container" >
    <div class="isotope_pane">
    
      <% @visualizations.each do |vi| %>
        <div class='item clickable_item'>
          
          <a href='<%=visualization_path vi%>'>
            <%= image_tag "blank.png", {class: "area_link", alt: ""} %>
          </a>
          
          <% if vi.thumb_id != nil %>
            <div class='item_image' style='background-image:url(<%=vi.media_objects.find(vi.thumb_id).src%>)'></div>
          <% end %>
          
          <div class="item_desc">
            <div class="item_title">
              <%=vi.name%> 
              <% if vi.featured %> 
                <span> (featured)</span>
              <% end %>
            </div>
            
            by <a href='<%=user_url(vi.owner)%>'> <%=vi.owner.name%> </a><br/>
            on <%=vi.created_at.strftime("%B %d, %Y")%> <br/>
            
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class='text-center'>
<%= will_paginate @visualizations, renderer: BootstrapPagination::Rails, inner_window: 1, outer_window: 0, previous_label: "<<", next_label: ">>" %>
</div>