<h1>Listing visualizations</h1>

<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Project</th>
    <th>Content</th>
    <th>Data</th>
    <th>Globals</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @visualizations.each do |visualization| %>
  <tr>
    <td><%= visualization.title %></td>
    <td><%= visualization.user_id %></td>
    <td><%= visualization.project_id %></td>
    <td><%= visualization.content %></td>
    <td><%= visualization.data %></td>
    <td><%= visualization.globals %></td>
    <td><%= link_to 'Show', visualization %></td>
    <td><%= link_to 'Edit', edit_visualization_path(visualization) %></td>
    <td><%= link_to 'Destroy', visualization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Visualization', new_visualization_path %>
