<script>
  window.data = <%= raw @Data.to_json %>;
</script>
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxtPK1_mxwVdl1NRu7ZEiSNvmCekFSZAw&sensor=false&libraries=visualization&v=3.9">
</script>

<div class="row" id="title_row" style="margin-left: 0px; margin-top:20px">
    <span id="title_span" class="span12" style="font-size:2em;"><%= visualization_edit_helper 'title', @visualization.owner.id == @cur_user.try(:id) %></span><br><br>
</div>

<!-- name box popup on create -->
<% if notice == "Visualization was successfully created." %>
  <div id="name_box" class="modal hide fade well container" style="width:400px">
    <div> Please enter a name for this Visualization. <br>
      <input id="name_name" class="name_field" type="text" style="width:75%" value="<%= "Saved Vis - #{@project.title}" %>"></input>
      </div>
      <div class="clear"></div>
    <div style="float:right;">
        <button class="name_button btn btn-success">Finish</button>
    </div>
  </div>
<% end %>

<div style="margin: 0px 10px;">

    <div id="viscontainer" style="height:500px;">

        <ul id='visTabList'>
        </ul>


        <div id="map_canvas" class="vis_canvas"></div>
        <div id="table_canvas" class="vis_canvas"></div>
        <div id="timeline_canvas" class="vis_canvas"></div>
        <div id="scatter_canvas" class="vis_canvas"></div>
        <div id="bar_canvas" class="vis_canvas"></div>
        <div id="histogram_canvas" class="vis_canvas"></div>
        <div id="motion_canvas" class="vis_canvas"></div>
        <div id="photos_canvas" class="vis_canvas"></div>

        <div id='controlhider'>
            <button id="control_hide_button" type="button" style="margin:5px;"> > </button>
        </div>
        <div id="controldiv"></div>

  </div>

  <div class="" id="tabcontainer">
    <ul class="nav nav-tabs" id="myTab">
      <li class="dataset_tab"><a href="#<%=@visualization.id%>">
        <%= visualization_edit_helper 'title', @visualization.owner.id == @cur_user.try(:id), make_link = false %>
      </a></li>
    </ul>
    <div class="tab-pane" id="<%=@visualization.id%>">
      <%= visualization_redactor_helper (@visualization.owner.id == @cur_user.try(:id)) %>
    </div>
  </div>


</div>
