<li role="presentation">
  <a href="#{{canvas}}" role="tab"
     aria-controls="{{canvas}}"
     data-toggle="tab">
    <span id="{{id}}" class="hidden-sm hidden-xs">{{name}}</span>
    <span class="visible-sm visible-xs">
      <img class="vis-tab-icon" src="{{icon}}"/>
    </span>
  </a>
</li>
