<h2>Interested in working with us?</h2>
<p>If so, please contact one of the people listed below.</p>
<br/>

<!-- Primary contacts section -->
<div class="row">

  <!-- Fred -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Fred Martin</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("contact/fred_martin.jpeg", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Associate Professor<br/>Director of Student Success</b><br/>
          University of Massachusetts Lowell<br/>
          <a href="mailto:fredm@cs.uml.edu">
            fredm@cs.uml.edu
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Samantha -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Samantha Michalka</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("contact/sam_michalka.jpg", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Executive Director</b><br/>
          Machine Science Inc.<br/>
          <a href="mailto:samantha@machinescience.org">
            samantha@machinescience.org
          </a><br/><br/>
        </div>
      </div>
    </div>
  </div>

  <!-- Ivan -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Ivan Rudnicki</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("contact/ivan_rudnicki.jpg", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Co-founder</b><br/>
          Machine Science Inc.<br/>
          <a href="mailto:ivan@machinescience.org">
            ivan@machinescience.org
          </a><br/><br/>
        </div>
      </div>
    </div>
  </div>
</div>

<hr/>
<h2>Meet the developers</h2>
<p>All of our developers listed below are students attending
  the University of Massachusetts Lowell.</p>
<br/>

<!-- Developer section -->
<div class="row">

  <!-- Patrick Son -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Patrick Son</h3>
        <i>Lead Developer, Web, Release Manager</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("contact/patrick_son.png", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Undergraduate</b><br/>
          B.S. Computer Science, 2017<br/>
          <a href="mailto:Patrick_Son@student.uml.edu">Patrick_Son@student.uml.edu</a><br/>
          <br/>
        </div>
      </div>
    </div>
  </div>

  <!-- Tyler -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Tyler Puleo</h3>
        <i>API Apps, HTML, Javascript, Python</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("contact/tyler_puleo.jpg", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Undergraduate</b> <br/>
          B.S. Computer Science, 2017<br/>
          B.S. Electrical Engineering, 2017<br/>
          <br/>
        </div>
      </div>
    </div>
  </div>
  <!-- Doug Salvati -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Doug Salvati</h3>
        <i>Web Developer</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("contact/doug_salvati.jpg", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Undergraduate</b><br/>
          B.S. Computer Science, 2018<br/>
          <a href="mailto:Douglas_Salvati@student.uml.edu">Douglas_Salvati@student.uml.edu</a><br/>
          <a href="http://www.cs.uml.edu/~dsalvati/">http://www.cs.uml.edu/~dsalvati/</a><br/>
        </div>
      </div>
    </div>
  </div>

  <!-- Victoria Albanese -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Victoria Albanese</h3>
        <i>Web Developer</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("contact/victoria_albanese.jpg", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Undergraduate</b><br/>
          B.S. Computer Science, 2018<br/>
          Minors in Robotics and Mathematics<br/>
          <a href="http://www.cs.uml.edu/~valbanes/">http://www.cs.uml.edu/~valbanes/</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Michael Kusmirek -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Michael Kusmirek</h3>
        <i>Web Developer</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("contact/michael_kusmirek.jpg", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Undergraduate</b><br/>
          B.S. Computer Science, 2019<br/>
          <a href="https://www.linkedin.com/in/michaelkusmirek/">https://www.linkedin.com/in/michaelkusmirek/</a><br/>
          <br/>
        </div>
      </div>
    </div>
  </div>

<!-- Matthew DiBello -->
<div class="col-md-4">
  <div class=" panel panel-default">
    <div class="panel-heading">
      <h3>Matthew DiBello</h3>
      <i>Web Developer</i>
    </div>
    <div class="panel-body">
      <div class="col-md-12 center">
        <%= image_tag("contact/matthew_dibello.jpg", height:"120") %>
      </div>
      <div class="col-md-12 center">
        <b>Undergraduate</b><br/>
        B.S. Computer Science, 2019<br/>
        <a href="mailto:Matthew_DiBello@student.uml.edu">Matthew_DiBello@student.uml.edu</a><br/>
        <a href="https://www.linkedin.com/in/matthew-dibello/">https://www.linkedin.com/in/matthew-dibello/</a><br/>
      </div>
    </div>
  </div>
</div>

  <!-- Chike Abuah -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Chike Abuah</h3>
        <i>Web Developer</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("contact/chike_abuah.png", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Graduate</b><br/>
          Ph.D. Computer Science 2020<br/>
          <a href="https://www.linkedin.com/in/chike-abuah-8b755846">https://www.linkedin.com/in/chike-abuah-8b755846</a><br/>


        </div>
      </div>
    </div>
  </div>

  <!-- Ashley Hale -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Ashley Hale</h3>
        <i>Web Developer</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("contact/ashley_hale.png", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Undergraduate</b><br/>
          B.S. Computer Science, 2017<br/>
          <br/><br/>
        </div>
      </div>
    </div>
  </div>

  <!-- Josh Everett -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Josh Everett</h3>
        <i>Web Developer</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("contact/josh_everett.jpg", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Undergraduate</b><br/>
          B.S. Computer Science, 2018<br/>
          <br/><br/>
        </div>
      </div>
    </div>
  </div>


</div>

<hr/>

<!-- Emeritus section -->
<h2>Emeritus</h2>
<div class="row">

  <!-- Skittles -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Michael McGuinness</h3>
        <i>Visualization, PINPoint</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("contact/michael_mcguinness.jpg", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Graduate</b> <br/>
          University of Massachusetts Lowell<br/>
          M.S. Computer Science<br/>
          B.S. Computer Science<br/>
          michael.e.mcguinness AT gmail.com<br/>
          <br/>
        </div>
      </div>
    </div>
  </div>

  <!-- Nat -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Nat Tuck</h3>
        <i>Rails Developer</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("contact/nat_tuck.jpg", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Doctorate</b> <br/>
          University of Massachusetts Lowell<br/>
          ntuck☃cs.uml.edu<br/>
          <a href="http://www.cs.uml.edu/~ntuck">
            http://www.cs.uml.edu/~ntuck
          </a><br/>
          <br/><br/>
        </div>
      </div>
    </div>
  </div>

  <!-- Alan -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Alan Rosenthal</h3>
        <i>MIT App Inventor 2 iSENSE Integration</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("contact/alan_rosenthal.jpg", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Graduate</b><br/>
          University of Massachusetts Lowell<br/>
          ​M.S. Computer Science<br/>
          B.S. Electrical Engineering, 2012<br/>
          <br/><br/>
        </div>
      </div>
    </div>
  </div>

  <!-- Nick -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Nick Ver Voort</h3>
        <i>Backend, Java API, Android</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("contact/nick_ver_voort.jpg", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Graduate</b> <br/>
          University of Massachusetts Lowell<br/>
          B.S. Computer Science, 2014<br/>
          nvervoort AT blackducksoftware.com<br/>
          <a href="http://www.linkedin.com/pub/nick-ver-voort/41/b33/a01/">
            http://www.linkedin.com/pub/nick-ver-voort/41/b33/a01/
          </a><br/>
        </div>
      </div>
    </div>
  </div>

  <!-- Hassan -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Hassan McKusick</h3>
        <i>Web Developer</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("contact/hassan_mckusick.jpg", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Undergraduate</b><br/>
          University of Massachusetts Lowell<br/>
          <br/><br/><br/><br/>
        </div>
      </div>
    </div>
  </div>

  <!-- Kait -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Kaitlyn Carcia</h3>
        <i>Web Developer, Release Manager</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("contact/kaitlyn_carcia.jpg", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Undergraduate</b><br/>
          B.S. Computer Science, 2015<br/>
          Minor in Business Administration<br/>
          kate.carcia AT gmail.com<br/>
          <a href="http://www.linkedin.com/in/kaitlyncarcia/">
            http://www.linkedin.com/in/kaitlyncarcia/
          </a><br/>
          <br/>
        </div>
      </div>
    </div>
  </div>

  <!-- Jeremy P. -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Jeremy Poulin</h3>
        <i>Visualization, Android, iOS, Lab Manager</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("contact/jeremy_poulin.jpg", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Graduate</b> <br/>
          M.S. Computer Science, 2016<br/>
          B.S. Computer Science, 2014<br/>
          Minor in Mathematics<br/>
          jpoulin AT cs.uml.edu <br/>
          <a href="http://www.linkedin.com/in/jaypoulz/">
            http://www.linkedin.com/in/jaypoulz/
          </a><br/>
        </div>
      </div>
    </div>
  </div>

  <!-- Mike -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Michael Stowell</h3>
        <i>Android, Lead iOS, Web Developer</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("contact/mike_stowell.jpg", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Undergraduate</b> <br/>
          M.S. Computer Science, 2016<br/>
          B.S. Computer Science, 2015<br/>
          Minor in Mathematics<br/>
          mstowell AT cs.uml.edu<br/>
          <a href="http://www.cs.uml.edu/~mstowell">
            http://www.cs.uml.edu/~mstowell
          </a><br/>
        </div>
      </div>
    </div>
  </div>

  <!-- Jeremy D. -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Jeremy Daigneau</h3>
        <i>App Testing, Educational Tools</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("noavatar.png", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Undergraduate</b> <br/>
          B.S. Computer Science<br/>
          Minor in Business Administration<br/>
          jeremy_daigneau AT student.uml.edu<br/>
          <br/><br/>
        </div>
      </div>
    </div>
  </div>

  <!-- Jake -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Jacob Kinsman</h3>
        <i>Visualization, Web Developer</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("contact/jake_kinsman.jpg", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Undergraduate</b><br/>
          B.S. Computer Science, 2015<br/>
          jkinsman AT cs.uml.edu<br/>
          <br/><br/>
        </div>
      </div>
    </div>
  </div>

  <!-- Qiana Curcuru -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Qiana Curcuru</h3>
        <i>Android Developer</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
           <%= image_tag("contact/qiana_curcuru.jpg", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Undergraduate</b><br/>
          B.S. Mechanical Engineering, 2018<br/>
          Minor in Business Administration<br/>
          <a href="Qiana_Curcuru@student.uml.edu">Qiana_Curcuru@student.uml.edu</a><br/>
          <a href="https://www.linkedin.com/in/qianacurcuru">
            https://www.linkedin.com/in/qianacurcuru
          </a><br/>
        </div>
      </div>
    </div>
  </div>

  <!-- Rajia -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Rajia M. Abdelaziz</h3>
        <i>Android, iOS Developer</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
           <%= image_tag("contact/rajia_abdelaziz.jpg", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Undergraduate</b><br/>
          B.S. Electrical Engineering, 2016<br/>
          B.S. Computer Science, 2016<br/>
          rajia_abdelaziz AT student.uml.edu<br/>
          <a href="http://www.linkedin.com/in/rajiaabdelaziz/">
            http://www.linkedin.com/in/rajiaabdelaziz/
          </a><br/>
        </div>
      </div>
    </div>
  </div>

  <!-- Jim -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>James Dalphond</h3>
        <i>Lead Developer, Technology Manager</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("contact/james_dalphond.jpg", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Doctoral Candidate</b><br/>
          M.S. Computer Science, 2011<br/>
          B.S. Computer Science, 2008<br/>
          jdalphon AT cs.uml.edu<br/>
          <a href="http://www.cs.uml.edu/~jdalphon">
            http://www.cs.uml.edu/~jdalphon
          </a><br/>
        </div>
      </div>
    </div>
  </div>

  <!-- Anthony -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Anthony Salani</h3>
        <i>Web Developer</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("noavatar.png", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Undergraduate</b><br/>
          B.S. Computer Science, 2015<br/>
          asalani93 AT gmail.com<br/>
          <a href="https://www.linkedin.com/in/asalani">
            https://www.linkedin.com/in/asalani
          </a><br/><br>
        </div>
      </div>
    </div>
  </div>

  <!-- Bobby -->
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
        <h3>Bobby Donald</h3>
        <i>Lead Android, Web Developer, MVP</i>
      </div>
      <div class="panel-body">
        <div class="col-md-12 center">
          <%= image_tag("contact/bobby_donald.jpg", height:"120") %>
        </div>
        <div class="col-md-12 center">
          <b>Undergraduate</b><br/>
          B.S. Computer Science, 2016<br/>
          robert_donald1 AT student.uml.edu<br/>
          <br/><br/>
        </div>
      </div>
    </div>
  </div>

    <!-- Jason -->
    <div class="col-md-4">
      <div class=" panel panel-default">
        <div class="panel-heading">
          <h3>Jason Downing</h3>
          <i>HTML WebApps, Python, C++</i>
        </div>
        <div class="panel-body">
          <div class="col-md-12 center">
            <%= image_tag("contact/jason_downing.png", height:"120") %>
          </div>
          <div class="col-md-12 center">
            <b>Undergraduate</b><br/>
            B.S. Computer Science, 2017<br/>
            Minor in Business Administration<br/>
            <a href="http://www.linkedin.com/in/jasondowning2">
              http://www.linkedin.com/in/jasondowning2
            </a>
          </div>
        </div>
      </div>
    </div>

      <!-- Farzeen Harunani -->
      <div class="col-md-4">
        <div class=" panel panel-default">
          <div class="panel-heading">
            <h3>Farzeen Harunani</h3>
            <i>MIT App Inventor 2 iSENSE Integration</i>
          </div>
          <div class="panel-body">
            <div class="col-md-12 center">
              <%= image_tag("contact/farzeen_harunani.jpg", height:"120") %>
            </div>
            <div class="col-md-12 center">
              <b>Graduate</b><br/>
              Ph.D. Computer Science, 2019<br/>
              <a href="https://www.linkedin.com/in/farzeenharunani">
                https://www.linkedin.com/in/farzeenharunani
              </a>
            </div>
          </div>
        </div>
      </div>

</div>
