  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
    <!-- Carousel Controllers -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    
    <!-- Carousel Content -->
    <div class="carousel-inner" id="scroll-0">
      
      <!-- First Slide -->
      <div class="item active">
        <div class="image-wrapper">
          <img src="<%= image_path 'globe.png' %>" class="carousel-img" alt="First slide">
        </div>
          <div class="carousel-caption">
            <div class="header-wrapper">
            <h2 class="homepage-header"><span class="slide-header">What is iSENSE?</span></h2> <br />
            <p class="carousel-slide-text">iSENSE is a data collection and visualization tool for teachers and students to engage and interact with data in meaningful new ways.
            </p>
            </div>
          </div>
      </div>      
      <!-- End First Slide Content -->
      <!-- Second Slide -->
      <div class="item">
        <div class="image-wrapper">
        <img src="<%= image_path 'feature-histogram.png' %>" class="carousel-img" alt="First slide">
        </div>
          <div class="carousel-caption">
            <div class="header-wrapper">
            <h2 class="homepage-header"><span class="slide-header">Let's learn together</span></h2> <br />
            <p class="carousel-slide-text"> iSENSE is an easy and convenient platform for users to: </p>
            <p class="carousel-slide-text"><span class="text-success featured-list">Collect </span> experimental data. </p>
            <p class="carousel-slide-text"><span class="text-info featured-list">Share </span> data with the world. </p>
            <p class="carousel-slide-text"><span class="text-primary featured-list">Visualize </span>data with robust analysis tools.</p> 
            </div>
          </div>
        
      </div>
      <!-- End Second Slide Content -->

      <!-- Third Slide -->
      <div class="item">
        <div class="image-wrapper">
        <img src="<%= image_path 'create.jpg' %>" class="carousel-img" alt="First slide">
        </div>
          <div class="carousel-caption">
            <div class="header-wrapper">
            <h2 class="homepage-header"><span class="slide-header">Collect</span></h2> <br />
            <p class="carousel-slide-text">Collect data from classroom experiments, online resources, or probeware systems, and manually upload your data to iSENSE. Use iSENSE mobile applications to automatically gather and upload data to iSENSE.
            </p>
            </div>
          </div>
        
      </div>
      <!--End Third Slide Content-->

      <!--Fourth Slide-->
      <div class="item">
        <div class="image-wrapper">
        <img src="<%= image_path 'Share.jpg' %>" class="carousel-img" alt="Second slide">
        </div>
          <div class="carousel-caption">
            <div class="header-wrapper">
            <h2 class="homepage-header"><span class="slide-header">Share</span></h2> <br />
            <p class="carousel-slide-text">
              Share data on iSENSE to facilitate collaboration and conduct meaningful conversations. Upload data to iSENSE via the website or mobile applications and access it from anywhere.
            </p>
            </div>
          </div>
        
      </div>
      <!-- End Fourth Slide Content -->
    
      <!-- Last Slide -->
      <div class="item">
        <div class="image-wrapper">
        <img src="<%= image_path 'Visualize.png' %>" class="carousel-img" alt="Third slide">
        </div>
          <div class="carousel-caption">
            <div class="header-wrapper">
            <h2 class="homepage-header"><span class="slide-header">Visualize</span> </h2> <br />
            <p class="carousel-slide-text">
              Analyze and visualize data on a map, timeline, scatter plot, bar graph, histogram, pie chart, table, and more. Configure visualizations to best suit displaying your data, and save them to revisit your work at a later time.
            </p>
            </div>
          </div>

      </div>
      <!-- End Last Slide -->

    <!--End Carousel Content-->
    
    <!--Carousel Controls-->
    
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>
    <!--End Carousel Controls-->

<hr />
<div class="desktop-content-wrapper">
  <div class="left-content-wrapper">
    <h2 class="homepage-header"> Teachers Love iSENSE</h2>
      <br />
      <div class="homepage-text">
      <p class="featurette-text">
        "Students are able to make connections between mathematics and real life using iSENSE. For example, students are able to observe the linear relationship between a length of a forearm and height of a person. Students can also discover that coffee cooling is modeled by an exponential function by trying to determine which type of coffee cup keeps coffee hot the longest."
        <br />- Elaine G., Math Teacher
      </p>
      <p class="featurette-text">
        “Using a iSENSE Data Walk Android application with a seventh grade students was one of the most engaging and authentic learning activities of the year. Students used technology to learn about the physical science standard for graphing and interpreting distance and time."
        <br />-Barbara K., Science Teacher 
      </p> 
      <p class="featurette-text">
        "After attending a professional development workshop on using tablets in a classroom, I brought a Ticker Tape motion lab into the 21st century. Using the iSENSE DataWalk application on Android tablets with GPS, over 300 Physics students created accurate plots of their motion on a football field and analyzed the results on iSENSE. I called this lesson the Human Ticker Tape lab and used it to reinforce prior activities on motion concepts."
        <br />-Steve C., Physics Teacher
      </p>
    </div>
    <div class="stats">
  <h2 class="homepage-header">Statistics</h2> <br/>
  <div class="left homepage-text">
    <p><%=User.count %> users registered</p> 
  </div>
  <div class="center homepage-text">
    <p><%=Project.count %> projects created</p>
  </div>
  <div class="right homepage-text">
    <p><%=DataSet.count %> datasets contributed</p>
  </div>
</div>
  </div>
  <div class="right-content-wrapper">
    <h2 class="homepage-header">Get Involved with iSENSE</h2> <br />
    <div class="homepage-text">
      <p class="involvement">
        For more information, please contact Fred Martin (<a href="mailto:fredm@cs.uml.edu">fredm@cs.uml.edu</a>) and Samantha Michalka (<a href="mailto:samantha@machinescience.org">samantha@machinescience.org</a>). We hold workshops for teachers to learn how to use iSENSE in the classroom, and for students to learn about scientific data collection and analysis. We will also come to your school with the tools and resources necessary to use iSENSE.
      </p> 
      <p class="involvement">
        For technical inquiries related to the iSENSE website, please contact one of the developers listed on our <a href="/contact">iSENSE contact page.</a>
      </p>
    </div><br />

    <h2 class="homepage-header">Download iSENSE Mobile Apps</h2>
    <br />
    <a href="https://play.google.com/store/apps/developer?id=Engaging+Computing+Group,+UML" class="btn btn-primary">
      <%= image_tag "icon-android.png", class: 'play-store-button' %> </a>
    <a class="btn btn-primary disabled">
      <%= image_tag "icon-apple.png", class: 'app-store-button'  %> </a>
    <br /><br /> <br />
    <div class="homepage-text">
      <p>Android applications are free and available for download in the Google Play Store.  iOS applications are also free, and will be available on the Apple App Store shortly. These mobile applications make it easy to collect data sets using your mobile device’s built-in sensors and upload them directly to iSENSE.</p>
    </div>
  </div>
</div>
<div class="desktop-content-wrapper">
<div class="news-prev-wrapper">
  <hr />
  <h2 class="homepage-header">What's New?</h2>
  <% News.where(hidden: false).last(3).reverse.each do |n|  %>
    <%= render 'shared/article_box', {
      image_id: n.featured_media_id, path: news_path(n), title: n.title,
      brief: n.summary, content: n.content, date: n.created_at.strftime("%B %d %Y"),
      width: 12
    }  %>
  <% end  %>
</div>
</div>
<br />
<div class="csvfooter">
  <hr class="hidden">
  <hr />
  <div class="left">
    <p class="text-success"> Collect </p>
  </div>
  <div class="center">
    <p class="text-info"> Share </p>
  </div>
  <div class="right">
    <p class="text-primary"> Visualize </p>
  </div>
 
</div>