<div class="visible-desktop visible-tablet">
  <% if @featured_vis != nil%>
    <div class="row visible-desktop">
      <div class="span4">
        <h2><%= link_to @featured_vis.title, visualization_path(@featured_vis)%></h2>
        <b>Created: </b><%= time_ago_in_words(@featured_vis.created_at)%> ago, on <%=@featured_vis.created_at.strftime("%B %d, %Y")%><br />
        <b>From Project: </b><%= link_to @featured_vis.project.title, project_path(@featured_vis.project)%><br />
        <b>By: </b><%= link_to @featured_vis.owner.name, user_path(@featured_vis.owner)%>
        <%= render 'shared/newcontent', {type: 'visualization', field: "content", content: @featured_vis.content, row_id: @featured_vis.id, has_content: !@featured_vis.content.blank?, can_edit: false} %>
        <br />
        <a href="visualizations" class="btn btn-primary">See More Visualizations</a>
      </div>
      <div class="span8"><iframe scrolling="no" style="width:99%;height:400px;border:0px;" src="/visualizations/<%=@featured_vis.id%>?presentation=true"></iframe></div>
  </div>
  <%end%>

  <div class="featured_projects">
    <div class="row">
      <div class="span12">
        <h3>Featured Projects</h3>
      </div>
    </div>
    <div class="row">
      <% @featured_projects.each do |i| %>
        <div class="span3">
          <%if i != nil%>
            <div class='item' style="height:198px;">
              <%if i.featured_media_id != nil%>
                 <a href="<%=project_path i%>"><div class="featured_image" style=<%= "background-image:url(" + MediaObject.find(i.featured_media_id).src + ")"%>></div></a>
              <%end%>
              <div style="padding:7px">
                <div style="font-size:1.2em" class="twolines"><%= link_to i.title, project_path(i.id)%></div>
                <span style="font-weight:bold">Created:</span> <%= i.to_hash(false)[:timeAgoInWords] %> ago
              </div>
            </div>
          <%end%>
        </div>
      <% end %> 
    </div>
  </div>

  <div class="curated_projects">
    <div class="row">
      <div class="span12">
        <h3>Curated Projects</h3>
      </div>
    </div>
    <div class="row">
      <% @curated_projects.each do |i| %>
        <div class="span3">
          <%if i != nil%>
            <div class='item' style="height:198px;">
              <%if i.featured_media_id != nil%>
                <a href="<%=project_path i%>"><div class="featured_image" style=<%= "background-image:url(" + MediaObject.find(i.featured_media_id).src + ")"%>></div></a>
              <%end%>
              <div style="padding:7px">
                <div style="font-size:1.2em" class="twolines"><%= link_to i.title, project_path(i.id)%></div>
                <span style="font-weight:bold">Created:</span> <%= i.to_hash(false)[:timeAgoInWords] %> ago
              </div>
            </div>
          <%end%>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="visible-phone">
  <%if @featured_projects.first != nil%>
    <% i = @featured_projects.first %>
    <div>
      <%if i.featured_media_id != nil%>
        <%= link_to image_tag(MediaObject.find(i.featured_media_id).src, :style=>'max-height:150px; float:right; padding: 5px;'), project_path(i) %>
      <% end %>
      <h4><%= link_to i.title, project_path(i) %></h4>
      <span style="font-weight:bold">Owner:</span> <%= link_to i.owner.name, user_path(i.owner) %><br/>
      <span style="font-weight:bold">Created:</span> <%= i.to_hash(false)[:timeAgoInWords] %> ago
	<div style="margin-top:20px;"><%= mobileParse(i) %></div>
      <br><a href="projects" class="btn btn-primary">See More Projects</a>
    </div>
    <div style="margin-top:20px;">
      <h4>iSENSE Mobile Apps</h4>
      <p>Download official apps to use with iSENSE.</p>
      <div class="mobileButtonTable">
        <div class="mobileButtonCell">
          <a href="https://play.google.com/store/apps/developer?id=Engaging+Computing+Group,+UML" class="btn btn-primary" style="width:80%">
            <img src="/assets/icon-android.png">
          </a>
        </div>
        <div class="mobileButtonCell">
          <a class="btn btn-primary disabled" style="width:80%">
            <img src="/assets/icon-apple.png">
          </a>
        </div>
      </div>
    </div>
  <%end%>
</div>
