<!--[if lte IE 9]>
<span style="color: red;">
   <strong> ATTENTION USERS:</strong>
   iSENSE does not support browsers IE9 and below. (It is recommended to install the latest version of Internet Explorer or switch browsers for optimal compatibility.)
</span>
<![endif]-->

<div class="">
  <div class="row" id="main_feature">
    <% if @featured_vis != nil%>
      <div class="">
        <div class="col-md-4">
          <h4>
            <%= link_to @featured_vis.title.html_safe,
                visualization_path(@featured_vis)%>
          </h4>
          <b>Created: </b>
          <%= time_ago_in_words(@featured_vis.created_at) + ' ' %>
          ago, on <%=@featured_vis.created_at.strftime("%B %d, %Y") %>
          <br/>
          <b>From Project: </b>
          <%= link_to @featured_vis.project.title.html_safe,
              project_path(@featured_vis.project)%>
          <br/>
          <b>By: </b>
          <%= link_to @featured_vis.owner.name,
              user_path(@featured_vis.owner) %>
          <%= raw @featured_vis.content %>
          <br/>
          <div style="text-align:center">
            <a id="more-vis-btn" class="mdl-button mdl-button--blue mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="visualizations">See More Visualizations</a>
          </div>
        </div>
        <div class="col-md-8">
          <iframe scrolling="no" style="width:100%;height:400px;border:0px;"
                  src="/visualizations/<%=@featured_vis.id%>?presentation=true">
          </iframe>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Featured Projects</h3>
    </div>

    <% @featured_projects.each do |i| %>
      <% @box_project = i %>
      <%= render "shared/project_box" %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Curated Projects</h3>
    </div>
    <% @curated_projects.each do |i| %>
      <% @box_project = i %>
      <%= render "shared/project_box" %>
    <% end %>
  </div>

<!-- NEW DESIGN -->

<div class="row">
    <div class="col-md-12">
      <h3>Explore</h3>
    </div>
    <div class="col-md-4">
      <div class="explore-item" id="news">
        <%= image_tag "news.svg"%>
        <h4>News</h4>
        <% if @news.first != nil %>
          <% n = @news.first %>
          <%=n.created_at.strftime("%-m/%-d/%y")%> | <%= n.title.html_safe %><br/>
          <b><%= n.summary%></b><br>
          <%= link_to "Read More", news_path(n) %>
      <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="explore-item" id="stats">
          <%= image_tag "stats.svg"%>
          <h4>Statistics</h4>
          <b><%=User.count%></b> Users<br/>
          <b><%=DataSet.count%></b> Data Sets<br/>
          <b><%=Project.count%></b> Projects<br/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="explore-item" id="appvis">
        <%= image_tag "appvis.svg"%>
        <h4>AppVis</h4>
        Easily create your own app featuring iSENSE!<br>
        <i class='fa fa-arrow-circle-down'></i> <%= link_to 'Get the App Inventor Extension', '/aix' %></br>
        <%= link_to 'Learn More', '/appvis' %>
      </div>
    </div>
  </div>

<!-- END NEW DESIGN -->


</div>
<div class="visible-xs visible-sm">
  <div style="margin-top:20px;">
    <h4 style="text-align: center;">iSENSE Mobile Apps</h4>
    <p style="text-align: center;">Download official apps to use with iSENSE.</p>
    <div class="mobileButtonTable" style="text-align: center;">
      <div class="mobileButtonCell">
        <a href="https://play.google.com/store/apps/developer?id=Engaging+Computing+Group,+UML" class="btn btn-primary">
          <%= image_tag "icon-android.png" %>
        </a>
      </div>
      <div class="mobileButtonCell">
        <a class="btn btn-primary disabled">
          <%= image_tag "icon-apple.png" %>
        </a>
      </div>
    </div>
  </div>
</div>
