<%= form_tag("/report_content_submit", method: "post") do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>
        Report inappropriate content on iSense
      </h1>
      <p>* denotes a required field</p>
    </div>

    <div id="report_content_form", class="panel-body">
      <div class="form-group">
        <%= label_tag(:location, "Where is the content located?*") %>
        <%= text_area_tag(:location, nil, placeholder: "e.g. https://isenseproject.org/projects/1234567", class: "form-control", rows: 4) %>
      </div>
      <div class="form-group">
        <%= label_tag(:content, "Describe the inappropriate content.*") %>
        <%= text_area_tag(:content, nil, placeholder: "e.g. 'Inappropriate language for a student resource'", class: "form-control", rows: 4) %>
      </div>

      <div class="form-group" style="display:none">
        <%= text_area_tag(:current_user, current_user.id) %> 
      </div>
    </div>

    <div class="panel-footer">
      <%= submit_tag("Submit", class: "btn btn-primary") %>
    </div>
  </div>

<% end %>
