
<% if is_admin? %>
  <div class="row">
    <%= form_for @new_tutorial do |ff| %>
      <div class="col-md-6 text-center">
        <div class="form-group">
          <%= ff.text_field :title, placeholder: "Title for Tutorial", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="form-group">
          <button type="submit" class="btn btn-success form-control">Create Tutorial</button>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Tutorials</span>
      <!-- Add spacer, to align navigation to the right -->
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Categories</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Getting Started</a>
      <a class="mdl-navigation__link" href="">Working with Data</a>
      <a class="mdl-navigation__link" href="">Visualizations</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content"><!-- Your content goes here --></div>
  </main>
</div>

<div class="tutorialsContainer">
  <h2 style="text-align: center">Getting Started</h2>
  <% @tutorials.each do |tut| %>
    <div class="col-lg-6 col-xs-12 text-center">

      <div class="mdl-card mdl-shadow--2dp" >
        <div class="mdl-card__title" >
          <iframe width="350" height="290" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="mdl-card__supporting-text">
          <%=tut.title%>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            View Full Written Turorial
          </a>
        </div>
      </div>
    </div>
  <% end %>

  <h2 style="text-align: center">Working with Data</h2>
  <% @tutorials.each do |tut| %>
    <div class="col-lg-6 col-xs-12 text-center">

      <div class="mdl-card mdl-shadow--2dp" >
        <div class="mdl-card__title" >
          <iframe width="350" height="290" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="mdl-card__supporting-text">
          <%=tut.title%>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            View Full Written Turorial
          </a>
        </div>
      </div>
    </div>
  <% end %>

  <h2 style="text-align: center">Visualizations</h2>
  <% @tutorials.each do |tut| %>
    <div class="col-lg-6 col-xs-12 text-center">

      <div class="mdl-card mdl-shadow--2dp" >
        <div class="mdl-card__title" >
          <iframe width="350" height="290" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="mdl-card__supporting-text">
          <%=tut.title%>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            View Full Written Turorial
          </a>
        </div>
      </div>
    </div>
  <% end %>
</div>