<% if is_admin? %>
  <div class="row">
    <div class='col-lg-12 center'>
      <div id="addTutorialButton">
        <button id="addTutorialButton" class="btn btn-success"><h4>Create Tutorial</h4></button>
      </div>
    </div>
  </div>
<% end %>

<% @tutorials.each do |tut| %>
  <div class="row">
    <div class="col-md-12">
      <div class="item wide-item">
        <% left_image = image_path('missing_tutorial.jpg') %>
        <% if tut.featured_media_id != nil %>
          <% left_image = tut.media_objects.find(tut.featured_media_id).src %>
        <% end %>
        
        <div class="news_picture_image">
          <a href="<%= tutorial_path(tut) %>">
            <div class="news_featured_image_2" style="background-image:url('<%= left_image %>')">
            </div>
          </a>
        </div>
        
        <div class="news_with_image">
          <span class="news_page_title"><%= link_to tut.name, tut %></span><br/>
          <span style="font-size:0.8em">
            Written on <%= tut.created_at.strftime("%B %d, %Y")%>
            by <%= tut.owner.name %>.
          </span><br/><br/>
          <%= link_to "Read More", tut %>
        </div>
      </div>      
    </div>  
  </div>
<% end %>  


