
<% if is_admin? %>
  <div class="row">
    <%= form_for @new_tutorial do |ff| %>
      <div class="col-md-6 text-center">
        <div class="form-group">
          <%= ff.text_field :title, placeholder: "Title for Tutorial", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="form-group">
          <button type="submit" class="btn btn-success form-control">Create Tutorial</button>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row">
  <% @tutorials.each do |tut| %>
    <div class="col-md-12">
      <div class="wide-item">
        <% left_image = image_path('missing_tutorial.jpg') %>
        <% if tut.featured_media_id != nil %>
          <% left_image = tut.media_objects.find(tut.featured_media_id).src %>
        <% end %>
        
        <a href="<%= tutorial_path(tut) %>">
          <div class="item-image" style="background-image:url('<%= left_image %>')">
          </div>
        </a>
        
        <div class="item-desc">
          <span class="news_page_title"><%= tut.name %></span><br/>
          <span style="font-size:0.8em">
            Written on <%= tut.created_at.strftime("%B %d, %Y")%>
            by <%= tut.owner.name %>.
          </span><br/><br/>
          <%= link_to "Read More", tut %>
        </div>
      </div>      
    </div>  
  <% end %>  
</div>
