<div class="row">
  <div class="col-md-12">
    <%= title_and_edit_menu(@tutorial) %>
  </div>
</div>

<% if is_admin? %>
  <%= form_for @tutorial, url: {action: :update} do |ff|%>
    <div class="row">
      <div class="col-md-3">
        <input type="hidden" id="hidden" name="tutorial[hidden]" value="<%= !@tutorial.hidden? %>" />
        <%= ff.button class: "btn btn-primary", id: "publish_tutorial", type: "submit" do%>
          <i class="fa <%= @tutorial.hidden? ? 'fa-square-o' : 'fa-check-square-o' %>"></i> Published
        <% end %>
      </div>
    </div>  
  <% end %>
<% end %>

<div class="row">
  <%=render layout: "shared/box", locals: {title: 'Description', width: '12', unique_id: 'description', should_hide: false} do %>
    <%= content_helper(@tutorial) %>
  <%end%>

  <!-- media objects -->
  <% if is_admin? %>
  <%=render layout: "shared/box", locals: {title: 'Media', width: '5', unique_id: 'media', should_hide: false} do %>
    <%=render "shared/media_objects_view", {type: 'tutorial', object: @tutorial} %>
  <%end%>
  <% end %>
</div>