<div class="row">
  <div class="col-md-5"><h1 id="title_span"><%= tutorial_edit_menu_helper %></h1></div>
</div>

<% if is_admin? %>
  <div class="row">
    <div class="col-md-12">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="publish_tutorial" <%= @tutorial.hidden ?  "" : "checked"%>> Publish
        </label>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <%=render layout: "shared/box", locals: {title: 'Description', width: '12', unique_id: 'description', should_hide: false} do %>
    <%= tutorial_content_helper (can_edit? @tutorial) %>
  <%end%>

  <!-- media objects -->
  <%=render layout: "shared/box", locals: {title: 'Media', width: '5', unique_id: 'media', should_hide: false} do %>
    <%=render "shared/media_objects_view", {type: 'tutorial', object: @tutorial} %>
  <%end%>
</div>