<div class="row">
  <div class="col-md-12">
    <%= title_and_edit_menu(@tutorial) %>
  </div>
</div>

<% if is_admin? %>

  <script data-template-name="pub-status-none" type="text/x-handlebars">
    &nbsp;
  </script>
  <script data-template-name="pub-status-wait" type="text/x-handlebars">
    <p>Saving...</p>
  </script>
  <script data-template-name="pub-status-saved" type="text/x-handlebars">
    <p>Saved.</p>
  </script>
  <script data-template-name="pub-status-error" type="text/x-handlebars">
    <p>Error saving: {{ message }}</p>
  </script>

  <div class="row">
    <div class="col-md-3">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="publish_tutorial" 
            <%= @tutorial.hidden ?  "" : "checked"%>> Publish
        </label>
      </div>
    </div>
    <div class="col-md-3" id="pub-status">
      &nbsp;
    </div>
  </div>

<% end %>

<div class="row">
  <%=render layout: "shared/box", locals: {title: 'Description', width: '12', unique_id: 'description', should_hide: false} do %>
    <%= content_helper(@tutorial) %>
  <%end%>

  <!-- media objects -->
  <% if is_admin? %>
  <%=render layout: "shared/box", locals: {title: 'Media', width: '5', unique_id: 'media', should_hide: false} do %>
    <%=render "shared/media_objects_view", {type: 'tutorial', object: @tutorial} %>
  <%end%>
  <% end %>
</div>
