<script>
  window.logged_in = <%= @cur_user != nil %>;
  window.is_admin = <%= is_admin? %>
</script>

<% if is_admin? %>
  <div class="row">
    <%= form_for @new_news do |ff| %>
      <div class="col-md-6 text-center">
        <div class="form-group">
          <%= ff.text_field :title, placeholder: "Title for News Item", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="form-group">
          <button type="submit" class="btn btn-success form-control">Add News Item</button>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <% @news.each do |n| %>
      <div class="wide-item">
        <% left_image = image_path('missing_tutorial.jpg') %>
        <% if n.featured_media_id != nil %>
          <% left_image = MediaObject.find(n.featured_media_id).src %>
        <% end %>

        <a class="item-image-link hidden-xs" href="<%= news_path(n) %>" style="background-image: url(<%= left_image %>)"></a>

        <div class="item-desc">
          <div class="news_page_title truncate"><%= link_to n.title, n %></div>
          <div class="news_page_subtitle truncate"><%= n.summary %></div>
          <div class="news_page_date">Written on <%=n.created_at.strftime("%B %d, %Y")%></div>
          <div class="news_page_content truncate">
            <%= n.content.html_safe %>
            <div class="news_page_link"><%= link_to "Read More", news_path(n) %></div>
          </div>
        </div>
      </div>
    <% end %>  
  </div>  
</div>

