<script>
  window.logged_in = <%= @cur_user != nil %>;
  window.is_admin = <%= is_admin? %>
</script>

<% if is_admin? %>
  <div class="span12">
    <p><%= link_to "Add News Item", '/news/add' %></p>
  </div>
  <div class="clearfix">&nbsp;</div>
<% end %>

<% @news.each do |n| %>
  <div class="row <%= cycle('feed-even','feed-odd')%>">
    <div class="span12 news" href="<%= news_path(n) %>">
      <h2><div class="truncate"><%= link_to n.title, news_path(n) %></div></h2>
      <div class="row">
        <div class="span9 summary">
          <%= n.summary %>
        </div>
        <% if n.featured_media_id? %>
          <div class="span3 visible-tablet visible-desktop" style="vertical-align:middle;height:100%">
            <img src=<%=MediaObject.find(n.featured_media_id).src%> class="img-rounded" width="230px"/>
          </div>
        <% end %>
      </div>
          <h5><%= n.created_at.strftime("%B %d, %Y")%> (<%= time_ago_in_words(n.created_at) %> ago)</h5>
    </div>
  </div>
<% end %>  
