<script>
  window.logged_in = <%= @cur_user != nil %>;
  window.is_admin = <%= is_admin? %>
</script>

<% if is_admin? %>
  <div class="row">
    <%= form_for @new_news do |ff| %>
      <div class="col-md-6 text-center">
        <div class="form-group">
          <%= ff.text_field :title, placeholder: "Title for News Item", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="form-group">
          <button type="submit" class="btn btn-success form-control">Add News Item</button>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row">
  <% @news.each do |n| %>
    <%= render 'shared/article_box', {image_id: n.featured_media_id, path: news_path(n), title: n.title.html_safe,
      brief: n.summary, content: n.content, date: n.created_at.strftime("%B %d %Y"), width: 12} %>
  <% end %>
</div>
