<script>
  window.logged_in = <%= @cur_user != nil %>;
  window.is_admin = <%= is_admin? %>
</script>

<% if is_admin? %>
  <div class="row">
    <div class="col-md-12 text-center">
      <%= link_to "Add News Item", '/news/add', class: "btn btn-success" %>
    </div>
  </div>
<% end %>

<% @news.each do |n| %>
  <div class="row">
    <div class="col-md-12">
      <div class="item wide-item">
        <% left_image = image_path('missing_tutorial.jpg') %>
        <% if n.featured_media_id != nil %>
          <% left_image = MediaObject.find(n.featured_media_id).src %>
        <% end %>
        
        <div class="news_picture_image">
          <a href="<%= news_path(n) %>">
            <div class="news_featured_image_2" style="background-image:url('<%= left_image %>')">
            </div>
          </a>
        </div>
        
        <div class="news_with_image">
          <span class="news_page_title"><%= n.title %></span><br/>
          <span style="font-size:0.8em">Written on <%=n.created_at.strftime("%B %d, %Y")%></span><br/><br/>
          <%= n.summary %><br/><br/>
          <%= link_to "Read More", news_path(n) %>
        </div>
      </div>      
    </div>  
  </div>
<% end %>  


