<div class="row">
  <div class="col-md-8 news_title object-title">
    <%= title_and_edit_menu(@news) %>
  </div>
</div>

<% if is_admin? %>
  <%= form_for @news, url: {action: :update} do |ff|%>
    <div class="row">
      <div class="col-md-3">
        <input type="hidden" id="hidden" name="news[hidden]" value="<%= !@news.hidden? %>" />
        <%= ff.button class: "btn btn-primary", id: "hide_news_checkbox", type: "submit" do%>
          <i class="fa <%= @news.hidden? ? 'fa-square-o' : 'fa-check-square-o' %>"></i> Published
        <% end %>
      </div>
    </div>
  <% end %>
<%end%>

<div class="row">
  <%=render layout: "shared/box", locals: {title: 'Content', width: '12', unique_id: 'content', should_hide: false} do %>
    <%= content_helper(@news) %>
  <%end%>
</div>
<div class="row">
  <!-- media objects -->
  <%=render layout: "shared/box", locals: {title: 'Media', width: '5', unique_id: 'media', should_hide: false} do %>
    <%=render "shared/media_objects_view", {type: 'news', object: @news} %>
  <%end%>
</div>
