<tr class="<%= cycle('feed-even', 'feed-odd')%> fields" >
  <td class="field_name" field_id="<%=field.id%>"> <div class="truncate"><%=field.name%></div></td>
  <td class="field_unit"> <div class="truncate">
    <%if !(field.field_type == TEXT_TYPE)%><%=field.unit%><% end %>
  </div></td>
  <td class="field_type" value="<%=get_field_name(field.field_type)%>"><div><%=get_field_name(field.field_type)%></div></td>
</tr>
