<% @project.fields.each do |field| %>
  <tr class="<%= cycle('feed-even', 'feed-odd') %> fields" >
    <td style="max-width:95px" class="field_name"
        data-field_id="<%= field.id %>">
      <div class="truncate">
        <%= field.name %>
      </div>
    </td>
    <td style="max-width:95px" class="field_unit"> <div class="truncate">
      <%=field.unit%>
    </div></td>
    <td class="field_type" data-value="<%= get_field_name(field.field_type) %>">
      <div>
        <%= get_field_name(field.field_type) %>
      </div>
    </td>
  </tr>
<% end %>
