<div class="panel panel-default contrib-keys-box">
  <div class="panel-heading">
    Contributor Keys
  </div>

  <div class="panel-body">
    <div class="col-sm-12">
      <div class="center">

        <p><strong>New Contributor Key</strong></p>
          <% if @errors %>
            <% @errors.full_messages.each do |message| %>
              <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <%= message %>
              </div>
            <% end %>
          <% end %>
        <%= form_for @new_contrib_key, html: { class: 'form-inline' } do |ff| %>
          <%= ff.hidden_field :project_id %>
        <div class="form-group">
          <%= ff.label :name, "Label" %><br>
          <%= ff.text_field :name, :placeholder => "C Block Biology" %>
        </div>
        <div class="form-group">
          <%= ff.label :key, "Key" %><br>
          <%= ff.text_field :key, :placeholder => "glucose10" %>
        </div>
        <div class="form-group">
          <br>
          <%= submit_tag "Create Key", class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--green' %>
        </div>
      <% end %>
      </div>

      <p>Create a contributor key to allow anyone to add data to your project.
      The <i>key</i> is like a per-project password. The associated <i>label</i> will appear
      next to data sets contributed with the matching key. Contributor keys are
      not case-sensitive; e.g., "Glucose10" and "glucose10" are the same. Contributor
      keys also allow users to contribute to locked projects. To fully lock a project,
      set it to locked and delete all contributor keys.</p>

      <table class="contrib_keys_table table table-striped">
        <%if @project.contrib_keys.count > 0%>
          <thead>
          <tr>
            <th>Label</th>
            <th>Key</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
      <%end%>
        <tbody>
        <% @project.contrib_keys.each do |kk| %>
          <tr>
          <td><%= kk.name %></td>
          <td><%= kk.key %></td>
          <td>
            <%= button_to kk, method: :delete do %>
              <i class="fa fa-times"></i> Delete
            <% end %>
          </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= form_for(@project) do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      Edit Project <br>
      <%= @project.title.html_safe %>
    </div>

    <div class="panel-body">
      <div class="col-sm-12">

      <!-- regular section -->
      <div class="form-group">
        <strong><i class="fa fa-bar-chart-o"></i> Default Visualization</strong>
        <div>
          <%= f.select(:default_vis,
            options_for_select([["None", "none"],["Map","Map"],["Timeline","Timeline"],["Scatter","Scatter"],
                                ["Bar","Bar"],["Histogram","Histogram"],["Table","Table"],["Photos","Photos"]],
              (@project.default_vis.nil? ? "none" : @project.default_vis)),{},{class: "form-control"}) %>
        </div>
        <span class="help-block">Sets the default visualization for the project when visualizing
         data sets.</span>
      </div>

      <div class="form-group">
        <strong><i class="fa fa-calculator"></i> Precision</strong>
        <div>
          <%= f.number_field(:precision, value: @project.precision, min: "0") %>
        </div>
        <span class="help-block">Sets the maximum number of decimal points for the project when visualizing
         data sets.</span>
      </div>

      <div class="form-group">
        <strong>Map Layer</strong>
        <div>
          <%=f.text_field(:kml_metadata, value: @project.kml_metadata) %>
        </div>
        <span class="help-block">Defines a layer to be displayed on top of the map visualization.</span>
      </div>

      <div class="form-group">
        <div><strong>Tags</strong></div>
        <%= text_field_tag 'enter-project-tag-name' %>
        <button type="button" class="btn btn-primary" id="add-project-tag">Add Tag</button>
        <ul class="list-group" id="project-tag-list">
          <% @project.tags.each do |tag| %>
            <li class="list-group-item">
              <span><%= tag.name %></span>
              <span class="glyphicon glyphicon-remove remove-tag" 
                    data-id="<%= tag.id %>">
              </span>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="form-group">
        <div class="checkbox">
          <div class="checkbox checkbox-inner">
            <%= f.check_box :lock %><strong> <i class="fa fa-lock"></i> Lock Project</strong>
          </div>
          <span class="help-block">Locking a project will stop public contribution to your project.
            You and any users with "contribution keys" will still be able to contribute. </span>
        </div>
      </div>

      <div class="form-group">
        <div class="checkbox">
          <div class="checkbox checkbox-inner">
            <%= f.check_box :hidden %><strong> <i class="fa fa-eye-slash"></i> Hide Project</strong>
          </div>
          <span class="help-block">Hiding a project will hide it from public view. You will still be able
            to reach the project through your profile page.</span>
        </div>
      </div>

      <!-- admin section -->
      <% if can_admin? @project%>
        <div class="form-group">
          <div class="checkbox">
            <div class="checkbox checkbox-inner">
              <%= f.check_box :featured %><strong> Feature Project</strong>
            </div>
            <span class="help-block">Featuring a project will put it in the running to be on the front page.
              Featured projects are shown based on when they are featured. Please make sure the project has a
              featured image before featuring.</span>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <div class="checkbox checkbox-inner">
              <%= f.check_box :is_template %><strong> Make Project A Template</strong>
            </div>
            <span class="help-block">Making a project a template will promote it on the index page as a
              filter. Projects should only be made a template if it is complete and has a good description
              describing how to run the project.</span>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <div class="checkbox checkbox-inner">
              <%= f.check_box :curated %><strong> Curate Project</strong>
            </div>
            <span class="help-block">Curated projects are professionally recorded data imported into iSENSE.
              Please make sure the project has a featured image before curating.</span>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <div class="checkbox">
          <% res = 'Reset Defaults' %>
          <% cls = 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--blue' %>
          <%= link_to raw(res),
              project_path(@project, project: { globals: nil, default_vis: "none" }),
              { method: :put, data: { confirm: 'Really reset default options?' },
              class: cls } %>
          <span class="help-block">Reset the default options on the visualization page. 
            If your visualization is behaving incorrectly, try using this option.</span>
        </div>
      </div>

      <div class="form-group">
        <div class="checkbox">
          <% del = '<i class="fa fa-times-circle"></i> Delete Project ' %>
          <% cls = 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--red'; if !can_delete? @project then cls += ' disabled' end %>
          <%= link_to raw(del),
              @project,
              { method: :delete, data: { confirm: 'Really delete project?' },
              class: cls } %>
          <span class="help-block">A project may only be deleted if it does not contain data sets.</span>
        </div>
      </div>

    </div>
    </div>

    <div class="panel-footer text-center">
      <a href='<%= url_for @project %>' class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--red"> Cancel </a>
      <button type="submit" name="commit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--blue"> Submit </button>
    </div>
  </div>
<% end %>
