<!-- This file is no longer used and should be removed.  -->

<%= form_for(@project) do |f| %>
  <div class="row"> 
    <div class="col-md-12">

      <div class="checkbox">
        <div class="checkbox">
          <%= f.check_box :featured%><strong> Featured</strong>
        </div>  
      </div>
      
      <div class="checkbox">
        <div class="checkbox">
          <%= f.check_box :is_template%><strong> In Store</strong>
        </div>  
      </div>
      
      <div class="form-group">
        <label>
          Owner: <%= f.number_field :user_id, class: "form-control"%>
        </label>  
      </div>

      
      <div class="actions">
        <%= f.submit 'Update Project', :class => 'btn btn-primary'%>
      </div>
          
    </div>
  </div>
   
<% end %>
