<div class="visible-print">
  <h2><%= @project.title.html_safe %></h2>
  <p>Project #: <%= @project.id%></p>

  <hr/>

  <div class="header">Description</div>
  <%= raw @project.content %>

  <hr/>

  <div class="header">Fields</div>

  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th style="max-width:30%">Name</th>
        <th style="max-width:30%">Units</th>
        <th style="max-width:30%">Type</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'field_edit', type: "field", can_edit: (can_edit? @project), has_ses: @project.data_sets.count %>
    </tbody>
  </table>

  <div class="pagebreak"></div>

  <div class="input-line">Name/Group:__________________________________</div>

  <div class="input-line">Date:________________________________________</div>

  <table class="table table-striped table-bordered" id="entry">
    <thead>
      <tr>
        <% @project.fields.sort_by(&:index).each do |field|%>
          <td class="center"><%=field.name%></td>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% (1..10).each do |i| %>
        <tr>
          <% @project.fields.each do |field|%>
            <td>  </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
