<% if can_edit?(@project) %>
  <%= form_tag "/projects/#{@project.id}/save_#{@action}", name: "fields_form" do %>
    <div class="row" data-project_id="<%= @project.id %>">
      <div class="col-lg-8 col-lg-offset-2">
        <% if @action == 'formula_fields' %>
          <h1>Setup Formula Fields Manually</h1>
        <% else %>
          <h1>Setup Fields Manually</h1>
        <% end %>
        <div class="center">
          <% if @allowable_types.include? :number %>
            <div class="col-sm-3 col-xs-6 add_fields">
              <button type="button" class="btn btn-success center new_field" id="number">Add Number</button>
              <p class="description">Any number value. "Units" specifies how the value is expressed. e.g. 'Temperature' could have a unit of 'C'</p>
            </div>
          <% end %>

          <% if @allowable_types.include? :text %>
            <div class="col-sm-3 col-xs-6 add_fields">
              <button type="button" class="btn btn-success center new_field" id="text">Add Text</button>
              <p class="description">Any string value. "Restrictions" are a comma separated list of values that limit input to only predefined values.</p>
            </div>
          <% end %>

          <% if @allowable_types.include? :timestamp %>
            <div class="col-sm-3 col-xs-6 add_fields">
              <button type="button" class="btn btn-success center new_field" id="timestamp" style="padding: 6px 0px;" <%= (@fields.any? {|f| f.field_type == TIME_TYPE}) ? "disabled" : "" %>>Add Timestamp</button>
              <p class="description">Data and time values in the form yyyy/mm/dd hh:mm:ss. Limit 1 per project. Timeline requires a Timestamp and Number.</p>
            </div>
          <% end %>

          <% if @allowable_types.include? :location %>
            <div class="col-sm-3 col-xs-6 add_fields">
              <button type="button" class="btn btn-success center new_field" id="location" <%= (@fields.any? {|f| f.field_type == LONGITUDE_TYPE or f.field_type == LATITUDE_TYPE}) ? "disabled" : "" %>>Add Location</button>
              <p class="description">Latitude (between -90 and 90) and longitude (between -180 and 180) values in the form 'latitude, longitude'. Limit 1 per project.</p>
            </div>
          <% end %>
        </div>
        <% if @project.data_sets.count > 0 and @action == 'fields' %>
          <p><strong>Note:</strong> You cannot delete fields from a project with data.</p>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <table class="fields_table table table-bordered" id="fields_table" name="fields_table">
          <thead>
            <tr style="background: #DDD;">
              <th></th>
              <th>Name</th>
              <th>Type</th>
              <th class="units">Units</th>
              <% if @action == 'fields' %>
                <th class="restrictions">Restrictions</th>
              <% elsif @action == 'formula_fields' %>
                <th class="formula">Formula</th>
              <% end %>
              <th></th>
            </tr>
          </thead>
           <tbody id="sortable"> 
            <% (@fields.sort_by &:index).each do |field| %>
              <tr name="<%= get_field_name(field.field_type).downcase %>">
                <td>
                  <i class="sort-hamburger glyphicon glyphicon-menu-hamburger"></i>
                </td>
                <td>
                  <input class="form-control" type="text" name="<%= field.id %>_name" value="<%= (defined?(@tmp_save) && @tmp_save.has_key?("#{field.id}_name")) ? @tmp_save["#{field.id}_name"] : field.name %>">
                </td>
                <td>
                  <%= get_field_name(field.field_type) %>
                </td>
                <td class="units">
                  <% if (field.field_type == get_field_type("Number")) %>
                    <input class="input-small form-control" type="text" name="<%= field.id %>_unit" value="<%= field.unit %>">
                  <% elsif field.field_type == get_field_type("Latitude") || field.field_type == get_field_type("Longitude") %>
                    <%= field.unit %>
                  <% end %>
                </td>
                <% if @action == 'fields' %>
                  <td class="restrictions">
                    <% if field.field_type == get_field_type("Text") %>
                      <input class="input-small form-control" type="text" name="<%= field.id %>_restrictions" value="<%= field.restrictions.nil? ? "" : field.restrictions.join(',') %>">
                    <% end %>
                  </td>
                <% elsif @action == 'formula_fields' %>
                  <td class="formula">
                    <a class="field_edit_formula" fid="<%= field.id %>" data-toggle="modal" data-target=".modal">
                      <i class="fa fa-pencil-square-o slick-delete"></i>
                    </a>
                    <input type="hidden" class="formula" name="<%=field.id %>_formula" value="<%= field.formula %>">
                    <input type="hidden" class="refname" value="<%= field.refname %>">
                  </td>
                <% end %>
                <td>
                  <a class="field_delete <%= @can_delete ? '' : 'not-active' %>" fid="<%= field.id %>">
                    <i class="fa fa-close slick-delete"></i>
                  </a>
                </td>
              </tr>
            <% end %>
            <div id='hidden_index_inputs' style='display:none' ></div>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div style="float: right">
          <a href='<%= url_for @project %>' class="btn btn-danger" id='fields_form_cancel'>Cancel</a>
          <%= submit_tag "Save and Return", class: 'btn btn-primary', id: 'fields_form_submit' %>
        </div>
      </div>
    </div>

    <input type="text" id="hidden_num_count" name="hidden_num_count" style="visibility:hidden;">
    <input type="text" id="hidden_text_count" name="hidden_text_count" style="visibility:hidden;">
    <input type="text" id="hidden_timestamp_count" name="hidden_timestamp_count" style="visibility:hidden;">
    <input type="text" id="hidden_location_count" name="hidden_location_count" style="visibility:hidden;">
    <input type="text" id="hidden_deleted_fields" name="hidden_deleted_fields" style="visibility:hidden;">
  <% end %>

  <% if @action == 'formula_fields' %>
    <div class="modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">
              Edit Formula
            </h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12">
                <textarea id="formula-text" class="form-control" rows="4"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <table class="field-ref-table">
                  <thead>
                    <tr>
                      <td colspan="3">Fields</td>
                    </tr>
                    <tr>
                      <td>Name</td>
                      <td>Reference</td>
                      <td>Type</td>
                    </tr>
                  </thead>
                  <tbody id="field-refs">
                    <% @field_refs.each do |field| %>
                      <tr>
                        <% 3.times do |x| %>
                            <td title="<%= field[x] %>"><%= field[x] %></td>
                        <% end %>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <div class="col-xs-12">
                <table class="field-ref-table">
                  <thead>
                    <tr>
                      <td colspan="3">Formula Fields</td>
                    </tr>
                    <tr>
                      <td>Name</td>
                      <td>Reference</td>
                      <td>Type</td>
                    </tr>
                  </thead>
                  <tbody id="formula-field-refs">
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 fmodal-ref-link">
                For a reference on how to use formula fields, please see <a href="/api/formulas_help"> the reference page.</a>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="formula-save">Save</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  You are not authorized to view this page. <%= link_to "Return to Project", @project %>
<% end %>
