<div class="row">
  <div class="col-lg-12">
    <div class="search-box">
      <%= form_tag projects_path, method: "get", id: "projects_search" do %>
        <div class="row">
          <div class="col-md-12">
            <h3><i class="fa fa-folder-open"></i> Projects</h3>
          </div>
        </div>
        <div id="searchProjRow" class="row">
          <!-- search query -->
          <div class="padded-col col-xs-12"
               title="Enter keyword(s) or project number to search for a project">
            <div class="input-group">
              <%= text_field_tag :search, @params[:search],
                  class: "form-control",
                  placeholder: "Enter keyword(s) or project number or tag(s) to search for a project" %>
              <span class="input-group-btn">
                <button class="btn btn-default">
                  <i class='fa fa-search'></i>
                </button>
              </span>
            </div>
          </div>

          <!-- sort options -->
          <div class="col-xs-12 col-md-6">
            <div class="row">
              <div class="padded-col col-xs-6 col-sm-6" title="Sort by">
                <%= select_tag(:sort,
                    options_for_select([["Sort by Modified", "updated_at"],
                                        ["Sort by Created", "created_at"],
                                        ["Sort by View Count","views"],
                                        ["Sort by Rating", "like_count"]],
                                       @params["sort"]),
                    class: "projects_sort_select form-control")
                %>
              </div>
              <div class="padded-col col-xs-6 col-sm-6">
                <%= select_tag(:order,
                    options_for_select([["Descending", "DESC"],
                                        ["Ascending", "ASC"]], @params["order"]),
                    class: "projects_order_select form-control")
                %>
              </div>
            </div>
          </div>

          <!-- filters on big screens -->
          <div class="padded-col col-xs-12 col-md-6 hidden-xs" id="lg-filters">
            <div class="btn-group btn-group-justified btn-block binary-filters">
              <%= render 'filters_search', align: 'center', params: @params %>
            </div>
          </div>

          <!-- filters on small screens-->
          <div class="padded-col col-xs-12 col-md-6 visible-xs" id="sm-filters">
            <div class="btn-group-vertical btn-block binary-filters">
              <%= render 'filters_search', align: 'left', params: @params %>
            </div>
          </div>

          <!-- secret hidden filters form shhh don't tell anyone -->
          <div class="hidden">
            <%= check_box_tag "templates_only", "yes", @params["templates_only"], class: 'template-check' %>
            <%= check_box_tag "curated_only", "yes", @params["curated_only"], class: 'curated-check' %>
            <%= check_box_tag "featured_only", "yes", @params["featured_only"], class: 'featured-check' %>
            <%= check_box_tag "has_data", "yes", @params["has_data"], class: 'has-data-check' %>
          </div>
        </div>
        <div class="clear"></div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div id="projects" class="isotope_container">
    <div class="isotope_pane">
       <!-- Create Project -->
      <% if user_signed_in? %>
        <button id="create-project-fab-button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" data-toggle="modal" data-target="#create-project-model">
          <i class="material-icons" id="fab-plus-icon">add</i>
        </button>

        <!-- Modal -->
        <div id="create-project-model" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <%= form_for(@project, html: { class: "form-inline" }) do |f| %>
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Create a Project</h4>
                </div>
                <div class="modal-body">
                    <%= f.label :project_name, "Project Name", class:"hidden" %>
                    <%= f.text_field :title, class: "form-control wide-input",
                        placeholder: "Project Name", :autofocus=>true %>
                </div>
                <div class="modal-footer">
                  <button type = "submit"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect create-project-btn mdl-button--green"> Create Project
                  </button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <% @projects.each do |pr| %>
        <% @box_project = pr %>
        <%= render "shared/project_box" %>
      <% end %>
    </div>
  </div>
</div>
<div class="text-center">
  <%= will_paginate @projects, renderer: BootstrapPagination::Rails,
      inner_window: 1, outer_window: 0, previous_label: "<<",
      next_label: ">>" %>
</div>
