<div class="row">
  <div class="col-lg-12">
    <div class="row padded-row">
      <%=form_tag projects_path, method: 'get', id: 'projects_search' do%>
      
        <!-- hidden input for pagination -->
        <input type="text" id="hidden_pagination" name="page" value="1" style="display: none;" />

        <div class="isotope-top">
          <div class="col-md-12">
            <h1>Projects</h1>
          </div>
          
          <div class='row'>
            <div class="padded-col col-sm-10 col-xs-9">
              <%= text_field_tag :search, @params[:search], class: "form-control" %>
<!--               <input type="text" class="form-control" id="search" name="search" type="text" x-webkit-speech> -->
            </div>
            <div class="padded-col col-sm-2 col-xs-3">
              <%= submit_tag "Search", name: nil, class:'btn btn-default'%>
            </div>
          </div>
          
          <div class='row'>
            <div class="padded-col col-md-3 col-xs-6">
              <select name="sort" class="projects_sort_select form-control">
                <option value="updated_at">Sort by Modified</option>
                <option value="created_at">Sort by Created</option>
                <option value="VIEWS">Sort by View Count</option>
                <option value="like_count">Sort by Rating</option>
              </select>
            </div>
            
            <div class="padded-col col-md-3 col-xs-6">
              <select name="order" class="projects_order_select form-control">
                <option value="DESC"> Decending </option>
                <option value="ASC">Ascending</option>
              </select>
            </div>
            
            <div class="padded-col col-md-6 col-xs-12 btn-group binary-filters" data-toggle="buttons">
              <label class='btn btn-primary'>
                <input type="checkbox" name="templates_only" id="template_checkbox"> Templates
              </label>
              <label class='btn btn-primary'>
                <input type="checkbox" name="curated_only" id="curated_checkbox"> Curated
              </label>
              <label class='btn btn-primary'>
                <input type="checkbox" name="featured_only" id="featured_checkbox"> Featured
              </label>
              <label class='btn btn-primary'>
                <input type="checkbox" name="has_data" id="has_data_checkbox"> Has Data
              </label>
            </div>
          </div>
          
          <div class='clear'></div>
          
        </div>
      <%end%>
    </div>
  </div>
</div>
<% if @cur_user.try(:id) %>
  <div class="row">
    <div class='col-lg-12 center'>
      <div id="addProjectButton">
        <button class="btn btn-success"><h4>Create Project</h4></button>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div id="projects" class="col-lg-12 isotope_container" >
    <div class="isotope_pane">
    
      <% @projects.each do |pr| %>
        <div class='item clickableItem'>
          <a href='<%=project_path pr%>'></a>
          <% if pr.featured_media_id != nil %>
            <div class='caroucell' style='height:120px; background-image:url(<%=pr.media_objects.find(pr.featured_media_id).src%>)'></div>
          <% end %>
          
          <div style="padding:7px">
            <div style="font-size:1.2em; font-weight:bold;">
              <%=pr.name%> 
              <% if pr.featured %> 
                <span style='color:#57C142'> (featured)</span>
              <% end %>
            </div>
            
            by <a href='<%=user_url(pr.owner)%>'> <%=pr.owner.name%> </a><br/>
            on <%=pr.created_at.strftime("%B %d, %Y")%> <br/>
            <div style="display:table; width:100%; margin-top:10px;">
              <div style="display:table-cell"><i class="fa fa-flask"></i>     <%=pr.data_sets.count%></div>
              <div style="display:table-cell"><i class="fa fa-eye"></i>       <%=pr.views%></div>
              <div style="display:table-cell"><i class="fa fa-thumbs-up"></i> <%=pr.like_count%></div>
            </div>
            
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
