<div class="row hidden-print">
  <!-- Left hand column -->
  <div class="col-md-7">
    <div class="row">
      <!-- Project title -->
      <div class="col-sm-12" style="margin-left:0px">
        <div class="project_info_box" >
          <div class="row">
            <div class="col-sm-12">
              <div id="title_div" class="word-break" style="font-size:1.5em">
                <%= project_edit_helper "title", (can_edit? @project), false %>
              </div>
            </div>
            <% if !@project.owner.nil? %>
              <div class="col-sm-12">
                <div class="info_label" style="font-size:1.1em">
                  by: <%= link_to @project.owner.name, user_path(@project.owner) %>
                  (<%= time_ago_in_words(@project.created_at) %> ago)
                </div>
                <br/>
              </div>
            <% end %>
            <div class="col-sm-12">
              <div id="notices">
                <span id="lock_notice"
                      <% if !@project.lock%>style="display:none" <% end %>>
                  <i class="icon-lock"> This project is locked</i>
                </span>
                <span id="hidden_notice"
                      <% if !@project.hidden%>style="display:none"<% end %>>
                  <i class="icon-eye-close"> This project is hidden</i>
                </span>
                <span id="id_notice"
                      <% if @project.hidden || @project.lock%>
                      style="display:none"<% end %>>
                  Project #: <%= @project.id %>
                </span>
                <div id="tags_notice"
                      <% if @project.hidden || @project.lock%>
                      style="display:none"<% end %>>
                  Tags: <%= @project.tags.select(:name).pluck(:name).join(", ") %>
                </div>
              </div>
            </div>
            <% if !@cloned_project.nil? and !is_deleted?(@cloned_project) %>
              <div class="col-sm-12 word-wrap">
                <span class="info_label" style="font-size:1.1em">
                  <%= 'Cloned From: ' %>
                </span>
                <%= link_to @cloned_project.title.html_safe,
                    project_path(@cloned_project.id) %>
                <br/>
              </div>
            <% end %>
          </div>
          <div class="row project_buttons">
            <button class="mdl-button mdl-js-button mdl-button--raised" disabled>
              <i class="fa fa-eye"> Views | </i> <%= @project.views %>
            </button>
            <% if current_user.try(:id) %>
              <div class="btn-group likes" data-project_id="<%= @project.id%>">
                <button class="liked_status mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect <% if @liked_by_cur_user%>active<%end%>" data-toggle="button">
                  <i class="fa fa-thumbs-up"></i> Like | <span class="like_display"><%= @project.likes.count %></span>
                </button>
              </div>
            <% end %>
              <button id="print" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                <i class="fa fa-print"></i> Print
              </button>
            <% if current_user.try(:id) %>
              <a href = "/projects/<%= @project.id %>/clone">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--green">
                  <i class="fa fa-copy"></i> Clone
                </button>
              </a>
            <% end %>
            <% if can_edit? @project %>
              <a href="/projects/<%= @project.id %>/edit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--blue" id="edit-project-button">
                <i class="fa fa-cog"></i> Edit
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <%= render layout: "shared/box", locals: {title: 'Description', width: '12', unique_id: 'description', should_hide: false} do %>
        <%= content_helper(@project) %>
      <% end %>
    </div>

    <!-- Data Sets View-->
    <div class="row">
      <%= render layout: "shared/box", locals: {title: 'Data Sets', width: '12', unique_id: 'data_sets', should_hide: false} do %>
        <% if @data_set_count != 0 || @params[:search] %>
          <div id="dataset_list">
            <div data-layout="row">
              <span>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--light-blue" style="margin-bottom: 10px;" id="vis_button" data-href="/projects/<%=@project.id%>/data_sets/">Visualize</button>
              </span>
              <span>
               <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="margin-bottom: 10px;" id="export_button" >Export</button>
              </span>
              <div class="pull-right">
                <% if !current_user.nil? %>
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--red" id="delete_selected_button">Delete Selected</button>
                <% end %>
                <div class="btn-group">
                  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-check-square-o"></i>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu" style="left:-200%;">
                    <li role="presentation">
                      <a role="menuitem" href="javascript:void(0);" id="check_all"><i class="fa fa-check-square-o"></i> All</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" href="javascript:void(0);" id="uncheck_all"><i class="fa fa-square-o"></i> None</a>
                    </li>
                    <% if current_user.try(:id) %>
                      <li role="presentation">
                        <a role="menuitem" href="javascript:void(0);" id="check_mine"><i class="fa fa-user"></i> Mine</a>
                      </li>
                    <% end %>
                    <% data_set_keys = @data_sets.map { |x| x.key }.uniq.reject { |x| x.nil? } %>
                    <% data_set_keys.each do |key| %>
                      <li role="presentation">
                        <a role="menuitem" m-title="<%= key %>" href="javascript:void(0);" class="check_id"><i class="fa fa-square-o"></i> <%= key %></a>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
            <%=form_tag project_path, method: 'get', id: 'data_sets_search' do%>
            <div id="searchProjRow">
              <div class="input-group">
                <%= text_field_tag :search, @params[:search],
                  class: "form-control",
                  placeholder: "Enter keyword(s) or data set number to search for a data set" %>
                <span class="input-group-btn">
                  <button id="Search" class="btn btn-default">
                    <i class='fa fa-search'></i>
                  </button>
                </span>
              </div>
            </div><br/>
            <%end%>
            <% if @data_set_count == 0 %>
              <p> No Matching Data Sets. </p>
            <%end%>
            <table id="dataset_table" class="table table-striped">
              <tbody>
                <% @data_sets.each do |s| %>
                  <tr class="<%= cycle('feed-even', 'feed-odd')%> dataset" style="position:relative">
                    <% if( not (s.key.nil?) ) %>
                      <td class="key_icon">
                        <div class="key" title="<%= s.key %>"> <%= image_tag("Key.png", :style => "width: 40px; height: auto;") %> <%= s.key %></div>
                      </td>
                    <% else %>
                    <td class="gravatar">
                      <div class="gravatar">
                        <% if Gravatar.new.url(s.owner, 32) != nil %>
                          <%= image_tag Gravatar.new.url(s.owner, 32), :size => "32x32"%>
                        <% end %>
                      </div>
                    </td>
                  <% end %>
                  <% if s.contributor_name? %>
                    <td style="max-width:60px"><div class="truncate"><%= s.contributor_name %></div></td>
                  <% else %>
                    <td style="max-width:60px"><div class="truncate"><%= link_to s.owner.name, user_path(s.owner) %></div></td>
                  <% end %>
                    <td style="max-width:200px">
                      <div class="truncate dset" title="Created <%=s.created_at.strftime("%B %d, %Y")%>"><%= link_to s.title.html_safe, "/projects/#{params[:id]}/data_sets/#{s.id}" %></div>
                    </td>
                    <td style="padding-right: 0px; text-align: right;">
                      <% if can_edit? s %>
                        <a class="data_set_edit" href="<%= edit_data_set_path s %>">Edit</a>
                      <% end %>
                    </td>
                    <td style="padding-left: 0px;">
                      <% if can_delete? s %>
                        &nbsp;|&nbsp;<a class="data_set_delete" href="<%= data_set_url s %>" name="<%= s.title.html_safe %>">Delete</a>
                      <% end %>
                    </td>
                    <td>
                      <div class="ds_selector" >
                        <label id="lbl_<%=s.id%>" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect pull-right <%if s.user_id == current_user.try(:id)%> lbl-mine<%end%>" for="ds_<%=s.id%>">
                          <input type="checkbox" id="ds_<%=s.id%>" class="mdl-checkbox__input<%if s.user_id == current_user.try(:id)%> mine<%end%>" checked>
                        </label>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          <% if can_edit?(@project) || can_contribute?(@project) %>
           <p>This project has no data yet. Use the Contribute Data panel to add some.</p>
          <% else %>
           <p>This project has no data yet. Sign in or enter a Contributor Key to add some.</p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- Right hand column -->
  <div class="col-md-5">
    <!-- Field box -->
    <div class="row">
      <%= render layout: "shared/box", locals: {title: 'Fields', width: '12', unique_id: 'fields', should_hide: false} do %>
        <% if (@field_count == 0) && can_edit?(@project) %>
          <div class="col-md-12 center">
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--green" id="manual_fields" href="/projects/<%= @project.id %>/edit_fields">
              <i class="fa fa-keyboard-o" style="margin:5px"></i>
              Setup Manually
            </a>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--green" id="template_file_upload">
              <i class="fa fa-file-o" style="margin:5px"></i>
              Upload File
            </button>
          </div>
          <div class="clear"></div>
        <% elsif @field_count != 0 %>
          <table class="table table-striped" data-project="<%= @project.id %>"
                 data-can_delete_fields="<% @data_set_count == 0 %>"
                 data-num_fields="<%= @field_count %>">
            <thead>
              <tr>
                <th style="max-width:30%">Name</th>
                <th style="max-width:30%">Units</th>
                <th style="max-width:30%">Type</th>
              </tr>
            </thead>
            <tbody>
              <%= render 'field_edit', fields: @fields %>
            </tbody>
          </table>
          <% if can_edit?(@project) %>
            <div class="center">
              <a href="/projects/<%=@project.id%>/edit_fields"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--blue" id="field_edit">Edit</button></a>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <!-- Formula field box -->
    <div class="row">
      <%= render layout: "shared/box", locals: {title: 'Formula Fields', width: 12, unique_id: 'formula_fields', should_hide:false} do %>
        <% if (@formula_field_count == 0) and can_edit?(@project) %>
          <div class="col-md-12 center">
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--green" id="manual_formula_fields" href="/projects/<%=@project.id%>/edit_formula_fields">
              <i class="fa fa-keyboard-o" style="margin:5px"></i>
              Setup Manually
            </a>
          </div>
          <div class="clear"></div>
        <% elsif @formula_field_count != 0 %>
          <table class="table table-striped" data-project="<%= @project.id %>"
                 data-can_delete_fields="<% @data_set_count == 0 %>"
                 data-num_fields="<%= @formula_field_count %>">
            <thead>
              <tr>
                <th style="max-width:30%">Name</th>
                <th style="max-width:30%">Units</th>
                <th style="max-width:30%">Type</th>
              </tr>
            </thead>
            <tbody>
              <%= render 'field_edit', fields: @formula_fields %>
            </tbody>
          </table>
          <% if can_edit?(@project) %>
            <div class="center">
              <a href="/projects/<%=@project.id%>/edit_formula_fields"><button class="btn btn-primary" id="formula_field_edit">Edit</button></a>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <%=render layout: "shared/box", locals: {title: 'Contribute Data', width:'12', unique_id: 'create_data_set', should_hide: !(@field_count > 0)} do %>
        <% if ((can_edit?(@project) || can_contribute?(@project)) and @field_count > 0) %>
          <div class="row-fluid">
            <div class="col-sm-4 center">
              <%= link_to :controller => :data_sets, :action => :manualEntry do %>
                <%= image_tag "manual.png", class: "hoverimage" %><br/>
                Manual Entry
              <% end %>
            </div>
            <div class="col-sm-4 center" title="Supports - CSV,XLS,XLSX,ODS">
              <a id="upload_datafile" href="">
                <%= image_tag "upload.png", class: "hoverimage" %><br/>
                Upload File
              </a>
            </div>
            <div class="col-sm-4 center">
              <a id="google_doc" href="">
                <%= image_tag "google.png", class: "hoverimage" %><br/>
                Google Doc
              </a>
            </div>
          </div>
          <% if !(session[:contrib_access].nil?) %>
            <div class="row" align="center" style="margin-top: 110px;">
              <%= form_tag '/contrib_keys/clear', method: 'get' do %>
                <%= hidden_field_tag :project_id, @project.id %>
                <%= submit_tag "Clear Key", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <% if @project.has_contrib_key? and current_user.nil? and (@field_count > 0) %>
            <p>Enter contributor key to submit data.</p>
            <%= form_tag '/contrib_keys/enter', method: 'post' do %>
              <div class="row" style="margin-left: 0px;" >
                <%= hidden_field_tag :project_id, @project.id %>
                <%= text_field_tag :key,"", placeholder:"Key", style:"width: 35%" %>
                <%= text_field_tag :contributor_name,"", placeholder:"Contributor Name", style:"width: 35%"%>
                <%= submit_tag "Submit Key", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--green" %>
              </div>
            <% end %>
          <% else %>
            <% if (!(@field_count > 0)) %>
              <h4 class="center">Fields must be set up to contribute data</h4>
            <% elsif current_user.try(:id) %>
              <h2 class="center"><i class="icon-lock"></i></h2>
              <h4 class="center">This project has been locked</h4>
            <% else %>
              Please log in to contribute data
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <!-- ##### MEDIA OBJECTS MENU ##### -->
      <%= render layout: "shared/box", locals: {title: 'Media', width: '12', unique_id: 'media', should_hide: false} do %>
        <%= render "shared/media_objects_view", {type: 'project', object: @project} %>
      <% end %>
    </div>
    <div class="row">
      <!-- ##### SAVED VISUALIZATIONS MENU ##### -->
      <%=render layout: "shared/box", locals: {title: 'Visualizations', width: '12', unique_id: 'visualizations', should_hide: false} do %>
        <div id="viz_list" <% if @project.visualizations.count == 0 %> style="display:none;" <% end %> >
          <table id="viz_table" class="table table-striped">
            <thead>
              <tr><th>Name</th><th></th></tr>
            </thead>
            <tbody>
              <% @project.visualizations.search(false).each do |vis|%>
                <tr class="<%= cycle('feed-even', 'feed-odd')%> vis">
                  <td style="max-width:200px" >
                    <div class="truncate">
                      <%= link_to vis.title.html_safe, visualization_url(vis) %>
                    </div>
                  </td>
                  <td>
                    <div class="controls" style="float:right">
                      <% if can_hide? vis %>
                        <a class="viz_hide" href="<%= visualization_url vis %>">
                          Hide
                        </a> |
                      <% end %>
                      <% if can_delete? vis %>
                        <a class="viz_delete"
                           href="<%= visualization_url vis %>"
                           name="<%= vis.title.html_safe %>">
                          Delete
                        </a>
                      <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="hidden-form">
  <%= form_tag "/data_sets/dataFileUpload", method: 'post',multipart: true, id: 'datafile_form' do %>
    <%= file_field_tag 'file', { id: 'datafile_input' } %>
    <input type="hidden" name="pid" value="<%= @project.id %>">
  <% end %>
</div>
<div id="doc_box" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag "/data_sets/dataFileUpload", method: 'post', multipart: true do %>
        <div class="modal-header">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Please enter the Google Spreadsheet 'Share' link below:</h4>
        </div>
        <div class="modal-body">
          <input name="pid" value="<%= @project.id %>" type="hidden">
          <input name="gdoc" id="doc_url" class="form-control" type="text" style="width:95%">
          <input type="submit" value="Submit" style="display: none;">
        </div>
        <i>This can be generated by clicking 'File->Publish to the web' or 'File->Share' on your&nbsp;spreadsheet.</i>
        <div class="modal-footer">
          <button id="cancel_doc" class="cancel_login_button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Cancel</button>
          <button id="save_doc" type="submit" value="Submit" class="login_button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Save</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="hidden-form">
  <%= form_tag "/projects/#{@project.id}/templateUpload", method: 'post',multipart: true, id: 'template_file_form' do %>
    <%= file_field_tag 'file', id: 'template_file_input' %>
  <% end %>
</div>
<div class="modal fade" id="export_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Export Data Sets</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12"><b>How would you like to export your data?</b></div>
          <div class="col-md-4 col-md-offset-1">
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-md-12" style="margin: 10px;" id="export_individual_button" data-href="/projects/<%=@project.id%>/export/data_sets/">Individual Files</button>
          </div>
          <div class="col-md-4 col-md-offset-1">
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-md-12" style="margin: 10px;" id="export_concatenated_button" data-href="/projects/<%=@project.id%>/export_concatenated/data_sets/">Single File</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "print" %>
