<div class="row">
  <div class="span7">
    <div class="row">

      <!-- qr code  -->
      <div class="span2" style="width:110px;">
        <div id="exp_qr_tag"></div>
      </div>

      <!-- project title -->
      <div class="span5" style="margin-left:0px">
        <div class="project_info_box" >
          <span id="title_span" class="word-break" style="font-size:1.5em"><%= project_edit_menu_helper false%></span><br>
          <span class="info_label" style="font-size:1.1em">by: <%= link_to @project.owner.name, user_path(@project.owner) %> (<%=time_ago_in_words(@project.created_at)%> ago)</span><br/>
          <div id="notices">
            <span id="lock_notice" <%if !@project.lock%>style="display:none"<%end%>><i class="icon-lock"> This project is locked</i></span> 
            <span id="hidden_notice" <%if !@project.hidden%>style="display:none"<%end%>><i class="icon-eye-close"> This project is hidden</i></span> 
            <span id="id_notice" <% if @project.hidden || @project.lock%>style="display:none"<% end %>>Project #: <%= @project.id %></span>
          </div>
          <%if !@cloned_project.nil? %>
                  <span class="info_label" style="font-size:1.1em">Cloned From:</span>
                  <%=link_to @cloned_project.title, project_path(@cloned_project.id)%><br>
          <%end%>
          <%if @cur_user.try(:id)%>
            <div class="btn-group likes" project_id="<%= @project.id%>">
              <button type="button" class="btn liked_status <% if @liked_by_cur_user%>active<%end%>" href="#" data-toggle="button"><i class="icon-thumbs-up-alt"></i> Like</button>
              <button type="button" class="btn like_display" disabled> <%= @likes %></button>
            </div>
          <%end%>
        </div>
      </div>

      <!-- ##### PROJECT CONTENT ##### -->
      <%=render layout: "shared/box", locals: {title: 'Description', width: '7', unique_id: 'description', should_hide: false} do %>
        <%= project_content_helper (can_edit? @project) %>
      <%end%>


      <!-- ##### DATA SETS MENU ##### -->
      <%=render layout: "shared/box", locals: {title: 'Data Sets', width: '7', unique_id: 'data_sets', should_hide: false} do %>
        <div id="dataset_list" <% if @data_sets.count == 0 %> style="display:none;" <% end %> >
          
        <span>
          <input type="button" class="btn btn-info" style="margin-bottom: 10px;" value="Visualize" id="vis_button" href="/projects/<%=@project.id%>/data_sets/"/>
        </span>
        <span>
          <input type="button" class="btn btn-secondary" style="margin-bottom: 10px;" value="Export" id="export_button" href="/projects/<%=@project.id%>/export/data_sets/">
        </span>
        
          <div class="pull-right">
            <div class="btn-group">
                <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-check"></i>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation">
                      <a role="menuitem" href="javascript:void(0);" id="check_all"><i class="icon-check"></i> All</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" href="javascript:void(0);" id="uncheck_all"><i class="icon-unchecked"></i> None</a>
                    </li>
                    <% if @cur_user.try(:id) %>
                        <li role="presentation">
                          <a role="menuitem" href="javascript:void(0);" id="check_mine"><i class="icon-user"></i> Mine</a>
                        </li>
                    <% end %>
                </ul>
            </div>  
          </div>
          
          <table id="dataset_table">
            <tbody>
              <% @data_sets.each do |s| %>
                <tr class="<%= cycle('feed-even', 'feed-odd')%> dataset" style="position:relative">
                  <td class="gravatar">
                    <div class="gravatar">
                      <%if Gravatar.new.url(s.owner, 32) != nil%>
                        <%= image_tag Gravatar.new.url(s.owner, 32), :size => "32x32"%>
                      <%end%>
                    </div>
                  </td>
                  <td style="max-width:60px"><div class="truncate"><%= link_to s.owner.name, user_path(s.owner) %></div></td>
                  <td style="max-width:200px"><div class="truncate" title="Created <%=s.created_at.strftime("%B %d, %Y")%>"><%= link_to s.title, "#{params[:id]}/data_sets/#{s.id}" %></div></td>
                  <td>
                    <div class="controls" style="">
                      <% if can_edit? s %>
                         &nbsp;<a class="data_set_edit" href="<%= edit_data_set_path s %>">Edit</a>
                      <% end %>

                      <% if can_hide? s %>
                          &nbsp;<a class="data_set_hide" href="<%= data_set_url s %>">Hide</a>
                      <% end %>

                      <% if can_delete? s %>
                         &nbsp;<a class="data_set_delete" href="<%= data_set_url s %>" name="<%= s.title %>" style="color:red">Delete</a>
                      <% end %>
                    </div>
                  </td>
                  <td><div class="ds_selector"><input type="checkbox" class="pull-right <%if s.user_id == @cur_user.try(:id)%> mine<%end%>" id="ds_<%=s.id%>" checked/></div></td>
                </tr>
              <% end %> 
            </tbody>
          
          </table>
        </div>
      <%end%>
    </div>
  </div>
  

  <div class="span5">
    <div class="row">

      <!-- ##### FIELDS MENU ##### -->
      <%= render layout: "shared/box", locals: {title: 'Fields', width: '5', unique_id: 'fields', should_hide: false} do%>
        <table class="fields_table" project="<%=@project.id%>" can_delete_fields="<%if @project.data_sets.count>0%>false<%else%>true<%end%>" data-num_fields="<%=@project.fields.count%>">
          <thead>
            <tr>
              <th style="max-width:30%">Name</th>
              <th style="max-width:30%">Units</th>
              <th style="max-width:30%">Type</th>
            </tr>
          </thead>
          <tbody>
            <% @project.fields.all.each do |f| %>
              <!-- Render all the fields, Lat and Lon cant be edited -->
              <%= render 'field_edit', field: f, type: "field", row_id: f.id, can_edit: (can_edit? @project), has_ses: @project.data_sets.count %>
            <% end %>
            </tr>
          </tbody>
        </table>
        <%if can_edit? @project%>
          <div class="center fields_edit_option">
            <button class="edit_fields_btn btn btn-success">Edit</button>
          </div>
          <div class="center fields_edit_menu" style="display:none">
            <div class='btn-group' id='add-field-dropdown'>
              <a class='btn btn-success dropdown-toggle' data-toggle='dropdown' href='#'>
                Add Field 
                <span class='caret'/>
              </a>
              <ul class='dropdown-menu'>
                <li><a href='#' id="add_timestamp_field" > Timestamp </a></li>
                <li><a href='#' id="add_number_field"> Number </a></li>
                <li><a href='#' id="add_text_field"> Text </a></li>
                <% if (@project.fields.any? {|field| field.field_type == LONGITUDE_TYPE or field.field_type == LATITUDE_TYPE}) %>
                  <li><a href='#' style="display:none;" id="add_location_field"> Location </a></li>
                <% else %>
                  <li><a href='#' id="add_location_field"> Location </a></li>
                <% end %>
              </ul>
            </div>
            <button class="btn btn-success" href="#" id="template_from_file" style=<%= @project.fields.count != 0 ? "display:none" : ""%>>Template from File</button>
            <button class="save_field_changes_btn btn btn-primary" href="/projects/<%=@project.id%>/updateFields">Save Changes</button>
            
          </div>
        <%end%>
      <% end %>

    
      <!-- ##### SESSION CREATION MENU ##### -->
      <%=render layout: "shared/box", locals: {title: 'Create Data Set', width:'5', unique_id: 'create_data_set', should_hide: !(@cur_user.try(:id) && @project.fields.count() > 0)} do %>
        <% if can_edit?(@project) || !@project.lock%>
          <div class="row-fluid">
            <div class="span4 center">
            <%= link_to :controller => :data_sets, :action => :manualEntry do %>
              <img class="hoverimage" src="/assets/manual.png" /><br />Manual Entry
            <% end %>
            </div>
            <div class="span4 center" title="Supports - CSV,XLS,XLSX,ODS">
              <a id="upload_csv" href=""><img class="hoverimage" src="/assets/upload.png" /><br />
              Upload File</a>
            </div>
            <div class="span4 center">
              <a id="google_doc" href=""><img class="hoverimage" src="/assets/google.png" /><br />
              Google Doc</a>
            </div>
            <div class="clear">
            </div>
          </div>
        <% else %>
          <h2 class="center"><i class="icon-lock"></i></h2><h4 class="center">This project has been locked</h4>
        <% end %>
      <% end %>  

      <!-- ##### MEDIA OBJECTS MENU ##### -->
      <%=render layout: "shared/box", locals: {title: 'Media', width: '5', unique_id: 'media', should_hide: false} do %>
        <%=render "shared/media_objects_view", {type: 'project', object: @project}%>
      <%end%>
            
        
      <!-- ##### SAVED VISUALIZATIONS MENU ##### -->
      <%=render layout: "shared/box", locals: {title: 'Visualizations', width: '5', unique_id: 'visualizations', should_hide: false} do %>
        <div id="viz_list" <% if @project.visualizations.count == 0 %> style="display:none;" <% end %> >
          <table id="viz_table">
            <thead>
              <tr><th>Name</th><th></th></tr>
            </thead>
            <tbody>
              <% @project.visualizations.search(false).each do |vis|%>
                <tr class="<%= cycle('feed-even', 'feed-odd')%> vis">
                  <td style="max-width:200px" >
                    <div class="truncate"><%= link_to vis.title, visualization_url(vis) %></div>
                  </td>
                  <td>
                    <div class="controls" style="float:right">
                      <% if can_hide? vis %>
                        <a class="viz_hide" href="<%= visualization_url vis %>">Hide</a>
                      <% end %>
                      <% if can_delete? vis %>
                         | <a class="viz_delete" href="<%= visualization_url vis %>" name="<%= vis.title %>">Delete</a>
                      <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>  
        </div>
      <%end%>
      
    </div>
  </div>
</div>

<div style="display:none">
  <%= form_tag "./#{@project.id}", multipart: true, id: 'csv_file_form', target: "upload_target" do %>
    <%= file_field_tag 'csv', id: 'csv_file_input' %>
  <% end %>
  <iframe id="upload_target" name="upload_target" src="" style="width:100%;height:100;border:0px solid #fff;"></iframe>
</div>

<div id="doc_box" class="modal hide fade well container">
  <div>
    Please enter the Google Drive link to share below:
  </div> 
  <input id="doc_url" class="login_field" type="text" style="width:95%"></input>
  <div class="clear"> </div>
  <div style="float:right;">
      <button id="save_doc" class="login_button btn btn-success">Save</button>
      <button id="cancel_doc" class="cancel_login_button btn btn-danger">Cancel</button>
  </div>
</div>

<!-- Field matching Modal Box -->
<div id="match_box" class="modal hide fade well container">
  <p>
    We were unable to automatically match up your CSV headers with the project fields. Below is our best guess - please correct it with the dropdown boxes before continuing.
  </p>

  <table id="match_table"> </table>

  <div style="float:right;">
    <button class="finished_button btn btn-success"> Finished </button>
    <button class="cancel_upload_button btn btn-danger" style="margin:15px 6px 0px 0px"> Cancel Upload </button>
  </div>
</div>

<div style="display:none">
  <%= form_tag "/projects/#{@project.id}/CSVUpload", multipart: true, id: 'template_file_form', 
                target: "upload_target" do %>
    <%= file_field_tag 'csv', id: 'template_file_input' %>
  <% end %>
  <iframe id="upload_target" name="upload_target" src="" style="width:100%;height:100;border:0px solid #fff;"></iframe>
</div>

<!-- Field Templating Modal Box -->
<div id="template_match_box" class="modal hide fade well container">
  <p>
    Please finish the template processing by telling us the type of each of your fields.
  </p>

  <table id="template_match_table"> </table>

  <div style="float:right;">
    <button class="finished_button btn btn-success"> Finished </button>
    <button class="cancel_upload_button btn btn-danger" style="margin:15px 6px 0px 0px"> Cancel Upload </button>
  </div>
</div>