<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span7">
    <div class="row">

      <!-- qr code  -->
      <div class="span2">
        <div class="sidebar_box grey_content center" id="exp_qr_tag"></div>
      </div>

      <!-- project title -->
      <div class="span5">
        <div class="project_info_box" >
          <span id="title_span" style="font-size:2em"><%= project_edit_menu_helper %></span><br>
          <span class="info_label" style="font-size:1.1em">Owner:</span>
          <%= link_to @project.owner.name, user_path(@project.owner) %><br>
            <%if !@cloned_project.nil? %>
                    <span class="info_label" style="font-size:1.1em">Cloned From:</span>
                    <%=link_to @cloned_project.title, project_path(@cloned_project.id)%><br>
            <%end%>
          <span class="info_label" style="font-size:1.1em">Created:</span><%=time_ago_in_words(@project.created_at)%> ago <br>
          <%=render "likes"%>
        </div>
      </div>

      <!-- name box popup on create -->
      <% if notice == "Project was successfully created." %>
        <div id="name_box" class="modal hide fade well container" style="width:400px">
          <div> Please enter a name for this Project. <br>
            <input id="name_name" class="name_field" type="text" style="width:75%" value="<%= @cur_user.name + "'s Project" %>"></input>
            </div>
            <div class="clear"></div>
          <div style="float:right;">
              <button class="name_button btn btn-success">Finish</button>
          </div>
        </div>
      <% end %>

      <!-- project content -->
      <%=render layout: "shared/collapse", locals: {title: 'Description', width: '7', unique_id: 'description', should_hide: false} do %>
        <%= project_redactor_helper (can_edit? @project), false %>
      <%end%>


      <!-- data sets -->
      <%=render layout: "shared/collapse", locals: {title: 'Data Sets', width: '7', unique_id: 'data_sets', should_hide: false} do %>
        <div id="dataset_list" <% if @project.data_sets.count == 0 %> style="display:none;" <% end %> >
        
          <div class="feed-top">
            <input type="button" class="btn btn-info" value="Visualize" id="vis_button"/>
            <div class="pull-right">
              <input type="checkbox" id="check_selector"/>
            </div>
          </div>
          
          <% @project.data_sets.search(false).each do |s| %>
          
            <div class="<%= cycle('feed-even', 'feed-odd')%> dataset" style="position:relative">
            
              <div style="display:inline-block; width:32px; height:32px; vertical-align: middle">
                <%if Gravatar.new.url(s.owner, 32) != nil%>
                  <%= image_tag Gravatar.new.url(s.owner, 32)%>
                <%end%>
              </div>
              
              <div style="display:inline-block; margin: 5px 0px">
                <div style="width:95px; padding-left:4px; display: inline-block">
                  <%= link_to truncate(s.owner.name, length:10), user_path(s.owner) %>
                </div>
                
                <div style="width:220px; display: inline-block">
                  <%= link_to truncate(s.title, length:30), "#{params[:id]}/data_sets/#{s.id}" %>
                </div>
              </div>
              
              <div style="display:inline-block; margin: 5px 0px; float:right">
                
                <div style="width:50px; text-align: center; display:inline-block">
                  <a class="data_set_export" href="<%= data_set_url s %>">Export</a>
                </div>
                
                <div style="width:50px; text-align: center; display:inline-block">
                  <% if can_edit? s %>
                    <a class="data_set_edit" href="<%= data_set_url s %>">Edit</a>
                  <% end %>
                </div>
                
                <div style="width:50px; text-align: center; display:inline-block">
                  <% if can_hide? s %>
                    <a class="data_set_hide" href="<%= data_set_url s %>">Hide</a>
                  <% end %>
                </div>
                
                <div style="width:50px; text-align: center; display:inline-block">
                  <% if can_delete? s %>
                    <a class="data_set_delete" href="<%= data_set_url s %>" name="<%= s.title %>">Delete</a>
                  <% end %>
                </div>
                
                <div style="width:15px; display:inline-block">
                  <input type="checkbox" class="pull-right" id="project_<%=params[:id]%>_session_<%=s.id%>"/>
                </div>
              </div>
              
            </div>
          <%end%>
          <div class="feed-bottom"> </div>
        </div>
    <%end%>
  </div>
  </div>

  <div class="span5">
    <div class="row">

      <!-- tools -->
      <!--<%=render layout: "shared/collapse", locals: {title: 'Tools', width: '2', unique_id: 'tools', should_hide: false} do %>
        <%if can_edit?(@project)%>
          <%=form_tag projects_path, method: 'get', id: @project.id, class:'project_filters' do%>
            <%= check_box_tag "math", "math", (filter_exists "math"), class: 'projects_add_filter_checkbox' %> Math<br>
            <%= check_box_tag "physics", "physics", (filter_exists "physics"), class: 'projects_add_filter_checkbox' %> Physics<br>
            <%= check_box_tag "chemistry", "chemistry", (filter_exists "chemistry"), class: 'projects_add_filter_checkbox' %> Chemistry<br>
            <%= check_box_tag "earth", "earth", (filter_exists "earth"), class: 'projects_add_filter_checkbox' %> Earth<br>
            <%= check_box_tag "biology", "biology", (filter_exists "biology"), class: 'projects_add_filter_checkbox' %> Biology
          <%end%>
          <%=form_tag projects_path, method: 'get', id: "#{@project.id}", class:'object_hider', type: 'project' do%>
            <%= check_box_tag "hidden", "hidden", (@project.hidden), class: 'object_hidden_checkbox' %> <b>Hidden</b>
          <%end%>
        <%end%>
        <%if @cur_user.try(:id)%>
          <%=form_tag('/projects', :method => "post" ) do %>
            <input type="hidden" name="project_id" value="<%=@project.id%>"/>
                <%= submit_tag "Clone Project", class: "btn" %>
          <%end%>
        <%end%>
      <%end%>-->

      <!-- session creation -->
      <%=render layout: "shared/collapse", locals: {title: 'Create Data Set', width:'5', unique_id: 'create_data_set', should_hide: false} do %>
      <div class="row-fluid">
        <div class="span4 center">
        <%= link_to :controller => :data_sets, :action => :manualEntry, :pid => @project.id do %>
          <img class="hoverimage" style="height: 75px;" src="/assets/manual.svg" /><br />Manual Entry
        <% end %>
        </div>
        <div class="span4 center">
          <a id="upload_csv" href=""><img class="hoverimage" style="height: 75px;" src="/assets/upload.svg" /><br />
          Upload CSV</a>
        </div>
        <div class="span4 center">
          <a id="google_doc" href=""><img class="hoverimage" style="height: 75px;" src="/assets/google.svg" /><br />
          Google Doc</a>
        </div>
        <div class="clear">
        </div>
      </div>
      <% end %>

      <!-- field -->
      <%=render layout: "shared/collapse", locals: {title: 'Fields',width: '5', unique_id: 'fields', should_hide: false} do %>
        <table class="table fields_table" project="<%=@project.id%>" style="width:100%; height:125px;">
          <th>Name</th>
          <th>Units</th>
          <th>Type</th>
          <th>
          <!-- Add field dropdown -->
          <%if (can_edit? @project) %>
            <div class='btn-group' id='add-field-dropdown'>
              <a class='btn-mini btn-success dropdown-toggle' data-toggle='dropdown' href='#'>
                Add Field
                <span class='caret'/>
              </a>
              <ul class='dropdown-menu'>
                <li><a href='#' class=add_timestamp_field> Timestamp </a></li>
                <li><a href='#' class=add_number_field> Number </a></li>
                <li><a href='#' class=add_text_field> Text </a></li>
                <% if (@project.fields.any? {|field| field.field_type == LONGITUDE_TYPE or field.field_type == LATITUDE_TYPE}) %>
                  <li><a href='#' style="display:none;" class=add_location_field> Location </a></li>
                <% else %>
                  <li><a href='#' class=add_location_field> Location </a></li>
                <% end %>
              </ul>
            </div>
          <%end%>
          <% if @project.fields.count == 0 %>
            <th id="template_th">
              <div class="btn-group">
                <a class='btn-mini btn-success dropdown-toggle' id="template-from-file">Template from File</a>
              </div>
            </th>
          <%end%>
          </th>
          <% @project.fields.all.each do |f| %>
            <!-- Render all the fields, Lat and Lon cant be edited -->
            <%= render 'field_edit', field: f, type: "field",row_id: f.id, can_edit: (can_edit? @project), has_ses: @project.data_sets.count %>
          <% end %>
          </table>
        <%end%>

        <!-- media objects -->
        <%=render layout: "shared/collapse", locals: {title: 'Media', width: '5', unique_id: 'media', should_hide: false} do %>
            <table class="table">
              <th>Object</th>
              <th>Name</th>
              <th>Type</th>
              <th style="text-align:center;">Display Image</th>
                <% @project.media_objects.all.each do |mo| %>
                    <tr>
                        <td style="text-align:center"><%=media_object_thumbnail_helper(mo)%></td>
                        <td><%= link_to mo.name, mo%></td>
                        <td><%= mo.media_type %></td>
                        <% if ((mo.media_type == "image") && (can_edit? @project))%>
                          <td style="text-align:center;"><input type="radio" class="img_selector" name="img_selector" exp_id="<%=@project.id%>" <%if @project.featured_media_id == mo.id%>checked<%end%> mo_id="<%=mo.id%>"></input></td>
                        <% end %>
                    </tr>
                <%end%>
            </table>
        <%end%>
    </div>
  </div>
</div>

<div style="display:none">
  <%= form_tag "./#{@project.id}", multipart: true, id: 'csv_file_form', target: "upload_target" do %>
    <%= file_field_tag 'csv', id: 'csv_file_input' %>
  <% end %>
  <iframe id="upload_target" name="upload_target" src="" style="width:100%;height:100;border:0px solid #fff;"></iframe>
</div>

<div id="doc_box" class="modal hide fade well container" style="width:400px">
  <div>Share URL: <input id="doc_url" class="login_field" type="text" style="width:75%"></input></div><div class="clear"></div>
  <div style="float:right;">
      <button id="save_doc" class="login_button btn btn-success">Save!</button>
      <button id="cancel_doc" class="cancel_login_button btn" style="margin:15px 10px 0px 0px">Cancel</button>
  </div>
</div>

<!-- Field matching Modal Box -->
<div id="match_box" class="modal hide fade well container" style="width:400px">
  <p>
    We were unable to automatically match up your CSV headers w<div class="span7">
 <div class= "sidebar_box grey_content">
   <div class="accordion">
     <div class="accordion-group">
       <div class="collapse in accordion-body">
         <div class="accordion-inner">
           <div>
             <div class="feed-odd">
               <div style="display:inline-block;width:40px;height:40px;background-color:blue;"></div><div class="pull-right" style="display:inline-block">blue</div>
             </div>
             <div class="feed-even">
               <div><img src="http://thinkprogress.org/wp-content/uploads/2013/01/Google.jpg"></img></div>
             </div>
             <div class="feed-odd">
               <div style="display:inline-block;width:40px;height:40px;background-color:blue;"></div>
             </div>
           </div>
         </div>
       </div>  
     </div>
   </div>
 </div>
</div>ith the project fields. Below is our best guess - please correct it with the dropdown boxes before continuing.
  </p>

  <table id="match_table"> </table>

  <div style="float:right;">
    <button class="finished_button btn btn-success"> Finished </button>
    <button class="cancel_upload_button btn" style="margin:15px 10px 0px 0px"> Cancel Upload </button>
  </div>
</div>

<div style="display:none">
  <%= form_tag "./#{@project.id}", multipart: true, id: 'template_file_form', target: "upload_target" do %>
    <%= file_field_tag 'csv', id: 'template_file_input' %>
  <% end %>
  <iframe id="upload_target" name="upload_target" src="" style="width:100%;height:100;border:0px solid #fff;"></iframe>
</div>

<!-- Field Templating Modal Box -->
<div id="template_match_box" class="modal hide fade well container" style="width:400px">
  <p>
    We were unable to automatically match up your CSV headers with the project fields. Below is our best guess - please correct it with the dropdown boxes before continuing.
  </p>

  <table id="template_match_table"> </table>

  <div style="float:right;">
    <button class="finished_button btn btn-success"> Finished </button>
    <button class="cancel_upload_button btn" style="margin:15px 10px 0px 0px"> Cancel Upload </button>
  </div>
</div>