<%= form_tag "/projects/#{@project.id}/finishTemplateUpload", method: "post" do%>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h4>Please select types for each field below.</h4>
    </div>
    <div class="col-lg-6 col-lg-offset-3">
      <table id="fields_table" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th> File Header </th>
            <th> Field Type </th>
          </tr>
        </thead>
        <tbody>
          <% @headers.each do |header|%>
            <tr class="<%= cycle('row-even','row-odd')%>">
              <td><b><%= header %></b></td>
              <td>
                <!--  -->
                <% if @types['text'].include? header%>
                  <select name="headers[<%=header%>]", class="form-control">
                    <%=options_for_select(@options,get_field_type('Text'))%>
                  </select>
                <%elsif @types['timestamp'].include? header%>
                  <select name="headers[<%=header%>]", class="form-control">
                    <%=options_for_select(@options,get_field_type('Timestamp'))%>
                  </select>
                <%elsif @types['latitude'].include? header%>
                  <select name="headers[<%=header%>]", class="form-control">
                    <%=options_for_select(@options,get_field_type('Latitude'))%>
                  </select>
                <%elsif @types['longitude'].include? header%>
                  <select name="headers[<%=header%>]", class="form-control">
                    <%=options_for_select(@options,get_field_type('Longitude'))%>
                  </select>
                <%else%>
                  <select name="headers[<%=header%>]", class="form-control">
                    <%=options_for_select(@options,get_field_type('Number'))%>
                  </select>
                <%end%>
              </td>
            </tr>
          <% end %> 
        </tbody>
       
      </table>
    </div>
  </div>

  <br/>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-3">
      <b> Check to save data set.  </b><input type="checkbox" name="create_dataset" id="create_dataset" style="margin:5px 5px" checked><br/>
    </div>  
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-3">
      <input name="title" type="text" value="<%=@original_filename%>" class="form-control"><br/>
    </div>
    <div class="col-lg-2 col-lg-offset-1 ">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
  
  <input type="hidden" name="file" value="<%=@tmp_file%>">
<% end %> 