<div class="feed-top">
<h1>Experiments</h1>
<div class="row">
  <%=form_tag experiments_path, method: 'get', id: 'experiments_search', class:'navbar-search' do%>
  <div class="span2">
    <select name="sort" class="experiments_sort_select">
      <option value="DESC">Newest First</option>
      <option value="ASC">Oldest First</option>
    </select>
  </div>
  <div class="span3">
    <%=text_field_tag :search, params[:search], class:'search-query'%>
  </div>
  <div class="span1 offset1">
    <%= submit_tag "Search", name: nil, class:'btn'%>
  </div>
</div>
<div class="row">
  <div class="span6 offset0">
    Math: <%= check_box_tag "filters[]", "%math%", false, class: 'experiments_filter_checkbox'%>
    Physics: <%= check_box_tag "filters[]", "%physics%", false, class: 'experiments_filter_checkbox' %>
    Chemistry: <%= check_box_tag "filters[]", "%chemistry%", false, class: 'experiments_filter_checkbox' %>
    Earth: <%= check_box_tag "filters[]", "%earth%", false, class: 'experiments_filter_checkbox' %>
    Biology: <%= check_box_tag "filters[]", "%biology%", false, class: 'experiments_filter_checkbox' %>
  </div>
</div>
<br />
<%end%>
</div>
<% @experiments.each do |experiment| %>
  <div class="<%= cycle('feed-even', 'feed-odd')%>">
    <h4><%= link_to experiment.title, experiment_path(experiment) %><%if experiment.featured%><span style="color:#57C142"> (featured)</span><%end%></h4>
    <b>Owner: </b><%= link_to "#{experiment.owner.firstname} #{experiment.owner.lastname[0]}", user_path(experiment.owner) %><br>
    <b>Created: </b><%= time_ago_in_words(experiment.created_at)%> ago <br>
    <%if !experiment.filter.nil?%>
      <b>Filters: </b><%=experiment.filter%>
    <%end%>
  </div>
<% end %>

<div class="feed-bottom">

<%= will_paginate @experiments %>

</div>
