<tr>
  <td class="field_name"><%=field.name%></td>
  <td class="field_unit">
    <%if !(field.field_type == TEXT_TYPE)%>
      <%=field.unit%>
    <% end %>
  </td>
  <td class="field_type"><%=get_field_name(field.field_type)%></td>
  <%if can_edit%>
    <td><a class="field_edit_link"><i class="icon-edit"></i></a>
        <a href="/<%=type.pluralize%>/<%=row_id%>" class="field_save_link"><i class="icon-ok"></i></a>
        <a href="/experiments/<%=@experiment.id%>/" field="<%=row_id%>" class="field_delete_link"><i class="icon-remove-circle"></i></a>
    </td>
  <%end%>
</tr>