<!-- This file is no longer used and should be removed.  -->

<%= form_for(@experiment) do |f| %>
  <% if @experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% @experiment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row"> 
    <div class="span12" style="font-weight:bold">
          <div class="field">
            Title: <%= f.text_field :title %>
          </div>
          
          <div class="clear"></div>
          
          <div class="field">
            Featured: <%= f.check_box :featured %>
          </div>
          <div class="field">
            In Store: <%= f.check_box :is_template %>
          </div>
          
          <div class="clear"><br></div>
          
          <div class="field">
            Owner: <%= f.number_field :user_id %>
          </div>
          
          <div class="clear"></div>
          
          <div class="field">
            Filters: <%= f.text_field :filter %>
          </div>
          
          <div class="clear"></div>
          
          <div class="field">
            Cloned From: <%= f.number_field :filter %>
          </div>
          
          <div class="clear"></div>    
          
          <div class="field">
            Content: <%= f.text_area :content %>
          </div>
          
          <div class="clear"><br></div>
          
          <div class="actions">
            <%= f.submit %>
          </div>
          
    </div>
  </div>
   
<% end %>
