<div class="row">
  <div class="span8">
    <div class="feed-top">
      <h1>Experiments</h1>
      <div class="row">
        <%=form_tag experiments_path, method: 'get', id: 'experiments_search', class:'navbar-search' do%>
        <div class="span2">
          <select name="sort" class="experiments_sort_select">
            <option value="DESC">Newest First</option>
            <option value="ASC">Oldest First</option>
            <option value="RATING">Rating</option>
          </select>
        </div>
        <div class="span3">
          <%= text_field_tag :search, params[:search], class:'search-query'%>
        </div>
        <div class="span1 offset1">
          <%= submit_tag "Search", name: nil, class:'btn'%>
        </div>
      </div>
      <div class="row">
        <div class="span6 offset0">
          Math: <%= check_box_tag "filters[]", "%math%", false, class: 'experiments_filter_checkbox'%>
          Physics: <%= check_box_tag "filters[]", "%physics%", false, class: 'experiments_filter_checkbox' %>
          Chemistry: <%= check_box_tag "filters[]", "%chemistry%", false, class: 'experiments_filter_checkbox' %>
          Earth: <%= check_box_tag "filters[]", "%earth%", false, class: 'experiments_filter_checkbox' %>
          Biology: <%= check_box_tag "filters[]", "%biology%", false, class: 'experiments_filter_checkbox' %>
        </div>
      </div>
      <br />
      <%end%>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8" >
    <div id="experiments">
      <%=render 'display_experiments'%>
    </div>
  </div>
    <%if @cur_user.try(:id)%>
      <div class="span3 offset1">
        <div class="row">
          <h5 class="center">Create Experiment</h5>
          <div class="well center">
            <%=form_tag('/experiments', :method => "post") do %>
              <input type="image" src="/assets/add_content.png" class="img-rounded"/>
            <%end%>
          </div>
        </div>
      </div>
    <%end%>
  <%=render 'featured_experiments'%>
</div>

