<div class="row">
    <div class="span12">
        <h1>Experiments</h1>
        <div class="span2">
            <div class="dropdown">
            <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#">
                Sort Order
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="fuckyfuck">
                <li class="dropdown-item"><%= link_to "Newest First", params.merge(sort: "DESC", page: nil)%></li>
                <li class="dropdown-item"><%= link_to "Oldest First", params.merge(sort: "ASC", page: nil)%></li>
            </ul>
            </div>
        </div>
        <div class="span4">
            <%=form_tag experiments_path, method: 'get', id: 'experiments_search', class:'navbar-search' do%>
                <%= hidden_field_tag :sort, params[:sort]%>
                <p>
                    <%=text_field_tag :search, params[:search], class:'search-query'%>
                    <%= submit_tag "Search", name: nil, class:'btn'%>
                </p>
            <%end%>
        </div>
    </div>
</div>

<div class="row">
    <div class="span8" style="background-color: #ccc;">
        <div id="experiments">
            <%=render 'display_experiments'%>
        </div>
    </div>

    <div class="span3 offset1">
        <div class="row"> 
           <h5 class="center">Create Experiment</h5>
            <div class="well center">
                <%if @cur_user.try(:id)%>                     
                    <a class="add_session_link" href="/experiments/new"><img src="/assets/add_content.png" class="img-rounded"></a>
                <%end%>
            </div>
        </div>
    </div>

    <%=render 'featured_experiments'%>
</div>

