<div class="row">
  <div class="span12">

  </div>
</div>

<div class="row">

  <div class="span8" style="background-color: #ccc;">

    <div class="feed-top">
      <div class="container">
        <div class="row">
          <div class="span8">
        
            <h1>Experiments</h1>
            
          </div>
        </div>
        <div class="row">
          <div class="span4">

            <div class="dropdown">
              <a class="dropdown-toggle" id="dLabel"  style="color: white;" role="button" data-toggle="dropdown" data-target="#">
                Sort Order
                <i class="icon-chevron-down icon-white"></i>
              </a>
              <ul class="dropdown-menu" style="color: white;" role="menu" aria-labelledby="dLabel">
                <li class="dropdown-item"><%= link_to "Newest First", sort: "DESC"%></li>
                <li class="dropdown-item"><%= link_to "Oldest First", sort: "ASC"%></li>
              </ul>
            </div>
          </div>
            
          <div class="span4">
            <%=form_tag experiments_path, method: 'get', id: 'experiments_search', class:'navbar-search' do%>
              <%= hidden_field_tag :sort, params[:sort]%>
              <p>
                <%=text_field_tag :search, params[:search], class:'search-query'%>
                <%= submit_tag "Search", name: nil, class:'btn'%>
              </p>
            <%end%>
          </div>
          
        </div>
      </div>
    </div>
    
    <div id="experiments">
      <%=render 'display_experiments'%>
    </div>
  </div>

  <div class="span3 offset1">
    <div class="row">
      <h4 style="text-align:center">Featured Experiments</h4>
    </div>
    <div class="row">
      <div class="hero-unit">
        <h5>Experiment 1</h5>
        Some featured experiment 
      </div>
    </div>
    <div class="row">
      <div class="hero-unit">
        <h5>Experiment 2</h5>
        Some other featured experiment 
      </div>
    </div>
    <div class="row">
      <div class="hero-unit">
        <h5>Experiment 3</h5>
        Some third featured experiment 
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= link_to 'New Experiment', new_experiment_path %>
  </div>
</div>
