<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span8">
    <div class="row">
      <div class="span8">
        <div class="experiment_info_box">
          <span style="font-size:2em"><%= experiment_edit_helper 'title', (can_edit? @experiment) %></span><br>
          <span class="info_label" style="font-size:1.1em">Owner:</span> 
          <%= link_to @experiment.owner.name, user_path(@experiment.owner) %><br>
            <%if !@cloned_experiment.nil? %>
                    <span class="info_label" style="font-size:1.1em">Cloned From:</span>
                    <%=link_to @cloned_experiment.title, experiment_path(@cloned_experiment.id)%><br>
            <%end%>
          <span class="info_label" style="font-size:1.1em">Created:</span><%=time_ago_in_words(@experiment.created_at)%> ago <br>
          <%=render "likes"%>
        </div>
      </div>
      <div class="span8">
        <%= experiment_redactor_helper (can_edit? @experiment) %>
      </div>
    </div>
  </div>
  <div class="span4">
    <div class="row">
        <%=render layout: "shared/collapse", locals: {title: 'Fields',width: '4', unique_id: 'fields', should_hide: false} do %>
            <table class="table fields_table" experiment="<%=@experiment.id%>">
                <th>Name</th>
                <th>Units</th>
                <th>Type</th>
                <th>
                  <!-- Add field dropdown -->
                  <%if (can_edit? @experiment) %>
                    <div class='btn-group' id='add-field-dropdown'>
                      <a class='btn-mini btn-success dropdown-toggle' data-toggle='dropdown' href='#'>
                        Add Field
                        <span class='caret'/>
                      </a>
                      <ul class='dropdown-menu'>
                        <li><a href='#' class=add_timestamp_field> Timestamp </a></li>
                        <li><a href='#' class=add_number_field> Number </a></li>
                        <li><a href='#' class=add_text_field> Text </a></li>
                        <% if (@experiment.fields.any? {|field| field.field_type == LONGITUDE_TYPE or field.field_type == LATITUDE_TYPE}) %>
                          <li><a href='#' style="display:none;" class=add_location_field> Location </a></li>
                        <% else %>
                          <li><a href='#' class=add_location_field> Location </a></li>
                        <% end %>
                      </ul>
                    </div>
                  <%end%>
                </th>
                <% @experiment.fields.all.each do |f| %>
                    <!-- Render all the fields, Lat and Lon cant be edited -->
                    <%= render 'field_edit', field: f, type: "field",row_id: f.id, can_edit: (can_edit? @experiment), has_ses: @experiment.experiment_sessions.count %>
                <% end %>
            </table>
        <%end%>
        <%=render layout: "shared/collapse", locals: {title: 'Create Session', width:'4', unique_id: 'create_session', should_hide: !@has_fields} do %>
       
            <div class="span1 center">
                <%= link_to :controller => :experiment_sessions, :action => :manualEntry, :eid => @experiment.id do %>
                <img style="height: 75px;" src="/assets/manual.svg" /><br />Manual Entry
                <% end %>
            </div>
            <div class="span1 center">
                <a id="upload_csv" href=""><img style="height: 75px;" src="/assets/upload.svg" /><br />
                Upload CSV</a>
            </div>
            <div class="span1 center">
                <a id="google_doc" href=""><img style="height: 75px;" src="/assets/google.svg" /><br />
                Google Doc</a>
            </div>
            <div class="clear">
            </div>
       
        <% end %>
        <%=render layout: "shared/collapse", locals: {title: 'Sessions', width: '4', unique_id: 'sessions', should_hide: false} do %>
            <table class="table">
                <% @experiment.experiment_sessions.all.each do |s| %>
                    <tr>
                        <td style="width:32px;height:32px;"><%= gravatar_image_tag(s.owner.email, alt: s.owner.firstname) %></td>
                        <td><%= link_to "#{s.owner.name}", user_path(s.owner) %></td>
                        <td><%= link_to s.title, "#{params[:id]}/sessions/#{s.id}" %></td>
                        <td><input type="checkbox" id="experiment_<%=params[:id]%>_session_<%=s.id%>"/></td>
                    </tr>
                <% end %>
            </table>
            <center><input type="button" value="Visualize" id="vis_button" <% if @experiment.experiment_sessions.count == 0 %> style="display:none;" <% end %> /></center>
        <%end%>
        <%=render layout: "shared/collapse", locals: {title: 'Media', width: '4', unique_id: 'media', should_hide: false} do %>
            <table class="table">
                <% @experiment.media_objects.all.each do |mo| %>
                    <tr>
                        <td><img src='<%=mo.src%>'width="100px" heigh="100px"/></td>
                        <td><%= link_to mo.name, media_object_path(mo.id)%></td> 
                        <% if ((mo.media_type == "image") && (can_edit? mo))%>
                          <td><input type="radio" class="img_selector" name="img_selector" exp_id="<%=@experiment.id%>" <%if @experiment.featured_media_id == mo.id%>checked<%end%> mo_id="<%=mo.id%>"></input></td>
                        <% end %>
                    </tr>
                <%end%>
            </table>
        <%end%>
        
        <%=render layout: "shared/collapse", locals: {title: 'Tools', width: '4', unique_id: 'tools', should_hide: !can_edit?(@experiment)} do %>
            <%=form_tag experiments_path, method: 'get', id: @experiment.id, class:'experiment_filters' do%>
                Math: <%= check_box_tag "math", "math", (filter_exists "math"), class: 'experiments_add_filter_checkbox' %><br>
                Physics: <%= check_box_tag "physics", "physics", (filter_exists "physics"), class: 'experiments_add_filter_checkbox' %><br>
                Chemistry: <%= check_box_tag "chemistry", "chemistry", (filter_exists "chemistry"), class: 'experiments_add_filter_checkbox' %><br>
                Earth: <%= check_box_tag "earth", "earth", (filter_exists "earth"), class: 'experiments_add_filter_checkbox' %><br>
                Biology: <%= check_box_tag "biology", "biology", (filter_exists "biology"), class: 'experiments_add_filter_checkbox' %>
            <%end%>
        <%end%>

    </div>
  </div>
</div>

<%=form_tag('/experiments', :method => "post" ) do %>
 <input type="hidden" name="experiment_id" value="<%=@experiment.id%>"/>
	<%= submit_tag "Clone Experiment" %>
<%end%>

<div id="hidden_form_div" style="display:none;">
  
  <%= form_tag "./#{@experiment.id}/uploadCSV", multipart: true, id: 'csv_file_form' do %>
    <%= file_field_tag 'csv', id: 'csv_file_input' %>
  <% end %>
  
</div>

<div id="doc_box" class="modal hide fade well container" style="width:400px">
  <div>Share URL: <input id="doc_url" class="login_field" type="text" style="width:75%"></input></div><div class="clear"></div>
  <div style="float:right;">
      <button id="save_doc" class="login_button btn btn-success">Save!</button>
      <button id="cancel_doc" class="cancel_login_button btn" style="margin:15px 10px 0px 0px">Cancel</button>
  </div>
</div>