<p id="notice"><%= notice %></p>
<br>
 <span class="info_label" style="font-size:2em">Title:</span> 
 <%= experiment_edit_helper 'title', (@experiment.user_id == @cur_user.try(:id)) %><br>

<p>
  <span class="info_label" style="font-size:1.2em">Owner:</span> 
  <%= link_to @owner_name, user_path(@experiment.user_id) %>
</p>

<%= experiment_redactor_helper (@experiment.user_id == @cur_user.try(:id)) %>



<h2>Fields:</h2>
<table style="width:60%" class="fields_table" experiment="<%=@experiment.id%>">
  <th>Name</th>
  <th>Units</th>
  <th>Type</th>
  <% @experiment.fields.all.each do |f| %>
    
    <%= render 'field_edit', field: f, type: "field",row_id: f.id,can_edit: (@experiment.user_id == @cur_user.try(:id))%>
   
  <%end%> 

  <tr><td colspan="4"><a class="field_add_link">+</a></td></tr>


</table>


<br>

<%= link_to 'Back', experiments_path %>
