<%= content_for(:title, "Log in to iSENSE") %>
<%= devise_error_messages! %><br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 <div class="row">
    <div class="col-lg-5 col-lg-offset-3">
      <div class="panel panel-default">
        <div class="panel-body flex-center">
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--google-sign-in"
            href='/users/auth/google_oauth2'>
            <img class="google-logo" src='/assets/btn_google_light_normal_ios.svg'/>
            Sign in with Google
          </a>
        </div>
      </div>
      <div class="google-or-isense">
        <div class="left-rule"></div>
        <div class="or-label">or</div>
        <div class="right-rule"></div>
      </div>
      <div class="panel panel-default">

        <div class="panel-body">
          <div class="form-group">
            <%= f.label(:email, "Email:") %>
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "user@email.com" %>
          </div>

          <div class="form-group">
            <%= label_tag(:password, "Password #{(link_to "(forgot password)", '/users/pw_request', tabindex: -1)}:".html_safe) %><br/>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
          <div class="form-group">
            <% if devise_mapping.rememberable? -%>
              <label for="user_remember_me" class="mdl-checkbox mdl-js-checkbox remember-me-label">
                <%= f.check_box :remember_me, class: "mdl-checkbox__input" %>
                <span >Remember me</span>
              </label>
            <% end -%>
            <%= f.submit "Log in", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--blue log-in-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
