<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @visualisation.title %>
</p>

<p>
  <b>User:</b>
  <%= @visualisation.user_id %>
</p>

<p>
  <b>Experiment:</b>
  <%= @visualisation.experiment_id %>
</p>

<p>
  <b>Content:</b>
  <%= @visualisation.content %>
</p>

<p>
  <b>Data:</b>
  <%= @visualisation.data %>
</p>

<p>
  <b>Globals:</b>
  <%= @visualisation.globals %>
</p>


<%= link_to 'Edit', edit_visualisation_path(@visualisation) %> |
<%= link_to 'Back', visualisations_path %>
