<%= form_for(@experiment_session) do |f| %>
  <% if @experiment_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiment_session.errors.count, "error") %> prohibited this experiment_session from being saved:</h2>

      <ul>
      <% @experiment_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :experiment_id %><br />
    <%= f.number_field :experiment_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
