<div class="checkbox">
  <input id="ckbx-{{id}}" type="checkbox" data-log-id="{{logId}}"
         value="{{value}}" name="{{name}}"/>
  <label for="ckbx-{{id}}" style="{{style}}" class="name">{{label}}</label>
  {{#if picker}}
    <a href="#" class="color-picker"
       data-color="{{picker.color}}" data-color-id="{{value}}">
      <img class="cpickr-icon" height="20px" width="20px"
           src="{{picker.icon}}">
    </a>
  {{/if}}
</div>
