<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="ckbx-{{id}}" style="{{style}}">
  <input type="checkbox" id="ckbx-{{id}}" class="mdl-checkbox__input" value="{{value}}"/>
  <span class="mdl-checkbox__label">{{label}}</span>
    {{#if picker}}
    <a href="#" class="color-picker"
       data-color="{{picker.color}}" data-color-id="{{value}}">
      <img class="cpickr-icon" src="{{picker.icon}}">
    </a>
  {{/if}}
</label>