<div class="checkbox">
  <input id="ckbx-{{id}}" type="checkbox" data-log-id="{{logid}}"
         value="{{value}}" name="{{name}}"/>
  <label for="ckbx-{{id}}" style="{{style}}">{{label}}</label>
</div>
