<div class="vis-ctrl-sublock">
  <h4 class="vis-ctrl-subtitle">Heat Maps</h4>
  <div>
    <label for="hmap-by">Map by:</label>
    <select id="hmap-by" class="form-control">
      {{#each heatmaps}}
        <option value="{{value}}" data-log-id="{{logId}}">{{label}}</option>
      {{/each}}
    </select>
  </div>
  <div>
    <label for="map-radius-ctn">Heatmap Radius:</label>
    <div id="map-radius-ctn" class="inline-block">
      <input id="map-radius" value="{{radius}}"/>
      <span>meters</span>
    </div>
    <div id="heatmap-error"></div>
    <input id="heatmap-slider" type="range" class="mdl-slider mdl-js-slider"
           data-log-id="heatmap-slider">
  </div>
 </div>
 {{{period}}} 
 <div class="vis-ctrl-subblock">
   <h4 class="vis-ctrl-subtitle">Other</h4>
   <div>
     {{> visualizations/controls/_checkbox displayMarkers}}
     {{#if timeLines}}
       {{> visualizations/controls/_checkbox connectMarkers}}
     {{/if}}
     {{> visualizations/controls/_checkbox clusterMarkers}}
   </div>
 </div>
