<div class="vis-ctrl-subblock">
  <h4 class="vis-ctrl-subtitle">Zoom</h4>
  <div>
    <select id="zoom-axis-list" class="form-control">
      {{#each axes}}
        <option value="{{this}}" data-log-id="zoom-axis-{{this}}">
          {{this}}
        </option>
      {{/each}}
    </select>
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <button id="zoom-out-btn"
                class="zoom-btn btn btn-default"
                data-log-id="zoom-out">
          Out
        </button>
      </div>
      <div class="btn-group">
        <button id="zoom-reset-btn"
                class="zoom-btn btn btn-default"
                data-log-id="zoom-fit">
          Fit
        </button>
      </div>
    </div>
  </div>
</div>
<div class="vis-ctrl-subblock">
  <h4 class="vis-ctrl-subtitle">Display Mode</h4>
  <div>
    {{#each modes}}
      <div class="radio">
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="vis-mode-{{mode}}"  id="lbl-vis-mode-{{mode}}" name="mode" value="{{mode}}">{{text}}
          <input type="radio" id="vis-mode-{{mode}}" class="mdl-radio__button" name="mode" value="{{mode}}"/>
          <span class="mdl-radio__label">{{label}}</span>
        </label>
      </div>
    {{/each}}
  </div>
</div>
<div class="vis-ctrl-subblock">
  <h4 class="vis-ctrl-subtitle">X Axis Bounds</h4>
  <div>
    <label for="x-axis-range">X Axis Range:</label>
    <input id="x-axis-range" class="form-control" value="{{xAxisRange}}" placeholder="eg: 5-10">
    <label for="y-axis-range">Y Axis Range:</label>
    <input id="y-axis-range" class="form-control" value="{{yAxisRange}}" placeholder="eg: 5-10">
    <button id="set-axis-button" data-log-id="set-axis-size" class="btn btn-default">Set Axis Size</button>
  </div>
</div>
<div class="vis-ctrl-subblock">
  <h4 class="vis-ctrl-subtitle">Other</h4>
  <div> 
    <div class="checkbox">
      <label id="ckbx-lbl-tooltips" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="ckbx-tooltips">Detailed Tooltips
        <input id="ckbx-tooltips" data-log-id="detailed-tooltips" type="checkbox" class="mdl-checkbox__input"/>
        <span class="mdl-checkbox__label">{{label}}</span>
      </label> 
    </div>
    <div class="checkbox">     
      <label id="ckbx-lbl-fulldetail" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="ckbx-fulldetail">Show All Data
        <input id="ckbx-fulldetail" data-log-id="show-all-data" type="checkbox" class="mdl-checkbox__input"/>
        <span class="mdl-checkbox__label">{{label}}</span>
      </label>
    </div>
    {{#if logSafe}}
      <div class="checkbox">
        <label id="ckbx-lbl-log-y-axis" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="ckbx-log-y-axis">Logarithmic Y Axis
          <input id="ckbx-log-y-axis" data-log-id="logarithmic-y-axis" type="checkbox" class="mdl-checkbox__input"/>
          <span class="mdl-checkbox__label">{{label}}</span>
        </label>
      </div>
    {{/if}}
    {{#if elapsedTime}}
      <div class="centered">
        <button id="elapsed-time-btn" class="save-btn btn btn-default btn-sm"
                data-log-id="elapsed-time">
          Generate Elapsed Time
        </button>
      </div>
    {{/if}}
  </div>
</div>
