<div class="vis-ctrl-subblock">
  <h4 class="vis-ctrl-subtitle">
    Zoom
    <i class="fa fa-question-circle control-tooltip"
      data-toggle="tooltip" data-placement="right"
      title="To zoom in, click and drag on the graph to select an area to zoom-in to.">
    </i>
  </h4>
  <div>
    <select id="zoom-axis-list" class="form-control">
      {{#each axes}}
        <option value="{{this}}" data-log-id="zoom-axis-{{this}}">
          {{this}}
        </option>
      {{/each}}
    </select>
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <button id="zoom-out-btn"
                class="zoom-btn btn btn-default"
                data-log-id="zoom-out">
          Out
        </button>
      </div>
      <div class="btn-group">
        <button id="zoom-reset-btn"
                class="zoom-btn btn btn-default"
                data-log-id="zoom-fit">
          Fit
        </button>
      </div>
    </div>
  </div>
</div>
<div class="vis-ctrl-subblock">
  <h4 class="vis-ctrl-subtitle">Display Mode</h4>
  <div>
    {{#each modes}}
      <div class="radio">
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="vis-mode-{{mode}}"  id="lbl-vis-mode-{{mode}}" name="mode" value="{{mode}}">{{text}}
          <input type="radio" id="vis-mode-{{mode}}" class="mdl-radio__button" name="mode" value="{{mode}}"/>
          <span class="mdl-radio__label">{{label}}</span>
        </label>
      </div>
    {{/each}}
  </div>
</div>
{{#if vis}}
  <div class="vis-ctrl-subblock">
    <h4 class="vis-ctrl-subtitle">Axis Bounds</h4>
    <div>
        <label>X Axis Range:</label>
        <div  class="inline-block">
          <input id="x-axis-min" class="form-control axis" value="{{xAxisMin}}" placeholder="eg: 5,10">
          <span>to</span>
          <input id="x-axis-max" class="form-control axis" value="{{xAxisMax}}" placeholder="eg: 5,10">
        </div>
        <label>Y Axis Range:</label>
        <div  class="inline-block">
          <input id="y-axis-min" class="form-control axis" value="{{yAxisMin}}" placeholder="eg: 5,10">
          <span>to</span>
          <input id="y-axis-max" class="form-control axis" value="{{yAxisMax}}" placeholder="eg: 5,10">
        </div>
    </div>
      <button id="set-axis-button" data-log-id="set-axis-size" class="btn btn-default">Set Axis Size</button>
  </div>
{{/if}}
{{{period}}}
<div class="vis-ctrl-subblock">
  <h4 class="vis-ctrl-subtitle">Other</h4>
  <div>
    <div class="checkbox">
      <label id="ckbx-lbl-tooltips" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="ckbx-tooltips">Detailed Tooltips
        <input id="ckbx-tooltips" data-log-id="detailed-tooltips" type="checkbox" class="mdl-checkbox__input"/>
        <span class="mdl-checkbox__label">{{label}}</span>
      </label>
    </div>
    <div class="checkbox">
      <label id="ckbx-lbl-fulldetail" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="ckbx-fulldetail">Show All Data
        <input id="ckbx-fulldetail" data-log-id="show-all-data" type="checkbox" class="mdl-checkbox__input"/>
        <span class="mdl-checkbox__label">{{label}}</span>
      </label>
    </div>
    {{#if logSafe}}
      <div class="checkbox">
        <label id="ckbx-lbl-log-y-axis" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="ckbx-log-y-axis">Logarithmic Y Axis
          <input id="ckbx-log-y-axis" data-log-id="logarithmic-y-axis" type="checkbox" class="mdl-checkbox__input"/>
          <span class="mdl-checkbox__label">{{label}}</span>
        </label>
      </div>
    {{/if}}
    {{#if elapsedTime}}
      <div class="centered">
        <button id="elapsed-time-btn" class="save-btn btn btn-default btn-sm"
                data-log-id="elapsed-time">
          Generate Elapsed Time
        </button>
        <i class="fa fa-question-circle control-tooltip"
     style="font-size: 1.25em; margin-left: 0.25em;"
     data-toggle="tooltip" data-placement="top"
     title="Create a new virtual field containing the number of seconds since the earliest timestamp available."></i>
      </div>
    {{/if}}
  </div>
</div>  
