<h1>Review Issues</h1>
<%= form_tag("/testing/publish", method: :post) do %>
    <% @issues.each do |issue| %>
        <% if issue[1][:passed] != "NA" %>
            <%= hidden_field("issue[#{issue[0]}", :number, :value => issue[0]) %>
            <%= hidden_field("issue[#{issue[0]}", :message, :value => issue[0]) %>
            <%= hidden_field("issue[#{issue[0]}", :passed, :value => issue[0]) %>
            <%= link_to(issue[0],issue[1][:html_url]) %>: <%= issue[1][:title] %><br>
            <%= if issue[1][:passed] == "true" then "Passed" else "Failed" end%><%= if issue[1][:message] != "" then ": #{issue[1][:message]}" end %><br>
        <% end %>
    <% end %>
    <%= submit_tag("Publish to GitHub") %>
<% end %>
