<h1>Review Issues</h1>
<div>
    <%= form_tag("/testing/publish", method: :post) do %>
        <div id="userinfo">
            <%= hidden_field("userinfo",:auth_token, :value => @userinfo[:auth_token]) %>
        </div>
        <% @issues.each do |issue| %>
            <% if issue[1][:passed] != "NA" %>
                <div id="issue_<%= issue[0] %>">
                    <div id="title_<%= issue[0] %>">
                        <%= link_to(issue[0],issue[1][:html_url]) %>: <%= issue[1][:title] %><br>
                        <%= hidden_field("issues[#{issue[0]}", :number, :value => issue[0]) %>
                    </div>
                    <div id="body_<%= issue[0] %>">
                        <%= text_area("issues[#{issue[0]}", :message, :value => "#{if issue[1][:passed] == "true" then "PASSED" else "FAILED" end} testing on #{@userinfo[:broswer_version]} (#{@userinfo[:os_version]}).\n#{issue[1][:message]}") %>
                        <br><br>
                    </div>
                </div>
            <% end %>
        <% end %>
        <div>
            <%= submit_tag("Publish to GitHub") %>
        </div>
    <% end %>
</div>
