<div class="container noPrint" media="print">
  <div class="row">
    <div class="col-md-4 col-xs-4 col-sm-4">
      <h5 class="category">About Us</h5>
      <div class="parts">
        <%= link_to 'What is iSENSE?', '/about' %><br/>
        <%= link_to 'Meet the Team', '/contact' %><br/>
         <%= link_to 'Engaging Computing Group', 'http://sites.uml.edu/engaging-computing', target: "_blank" %><br/>
        <%= link_to 'Partners: Machine Science', 'http://www.machinescience.org', target: "_blank" %><br/>
        <%= @version %>
      </div>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4">
      <h5 class="category">Resources</h5>
      <div class="parts">
        <%= link_to 'Report a Bug', '/report_bug'%><br/>
        <%= link_to 'Report Inappropriate Content', "/report_content?prev_url=#{request.original_url}"%><br/>
        <%= link_to 'API Docs', '/api/v1/docs'%><br/>
        <%= link_to 'Formula Reference', '/api/formulas_help'%><br/>
        <%= link_to 'https://github.com/engaging-computing/rSENSE' do %>
          <i class="fa fa-github"></i> Github  
        <% end %><br/>
        <%= link_to 'Privacy Policy', '/privacy_policy' %>
      </div>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4">
      <h5 class="category">Supported By</h5>
      <div class="parts">
      <%= link_to 'DRL-0735597', 'http://nsf.gov/awardsearch/showAward.do?AwardNumber=0735597', target: "_blank" %><br/>
      <%= link_to 'DRL-0735592', 'http://nsf.gov/awardsearch/showAward.do?AwardNumber=0735592', target: "_blank" %><br/>
      <%= link_to 'DRL-0546513', 'http://nsf.gov/awardsearch/showAward.do?AwardNumber=0546513', target: "_blank" %><br/>
      <%= link_to 'IIS-1123998', 'http://nsf.gov/awardsearch/showAward.do?AwardNumber=1123998', target: "_blank" %><br/>
      <%= link_to 'IIS-1123972', 'http://nsf.gov/awardsearch/showAward.do?AwardNumber=1123972', target: "_blank" %><br/>
      </div>
    </div>
  </div>
</div>
<br/>
