<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3 hidden-xs">
      <h5 class="category">About Us</h5>
      <div class="parts">
        <%= link_to 'What is iSENSE?', '/about' %><br/>
        <%= link_to 'Meet the Team', '/contact' %><br/>
        <%= link_to 'Partners: Machine Science', 'http://www.machinescience.org' %><br/>
        <%= @version %>
      </div>
    </div>
    <div class="col-md-3 col-xs-4 col-sm-3">
      <h5 class="category">Resources</h5>
      <div class="parts">
        <%= link_to 'Report a Bug', '/report_bug'%><br/>
        <%= link_to 'API Docs', '/api/v1/docs'%><br/>
        <%= link_to 'Formula Reference', '/api/formulas_help'%><br/>
        <%= link_to 'https://github.com/isenseDev/rSENSE' do %>
          <i class="fa fa-github"></i> Github  
        <% end %><br/>
        <%= link_to 'https://twitter.com/isenseproject' do %>
          <i class="fa fa-twitter"></i> Twitter
        <% end %><br/>
        <%= link_to 'Privacy Policy', '/privacy_policy' %>
      </div>
    </div>
    <div class="col-md-3 col-xs-4 col-sm-3">
      <h5 class="category">Mobile</h5>
      <div class="parts">
        <%= link_to 'https://play.google.com/store/apps/developer?id=Engaging+Computing+Group,+UML' do %>
          <i class="fa fa-play"></i> Google Play
        <% end %><br/>
        <i class="fa fa-apple"></i> iTunes (Coming Soon!)
      </div>
    </div>
    <div class="col-md-3 col-xs-4 col-sm-3">
      <h5 class="category">Supported By</h5>
      <div class="parts">
        <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=0735597">DRL-0735597</a><br/>
        <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=0735592">DRL-0735592</a><br/> 
        <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=0546513">DRL-0546513</a><br/>
        <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=1123998">IIS-1123998</a><br/>
        <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=1123972">IIS-1123972</a>
      </div>
    </div>
  </div>
</div>
<br/>
