<!DOCTYPE html>
<html style="height:100%;">
  <head>
    <title> <%= render_title %> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <%= javascript_tag do %>
    window.namespace = <%= raw @namespace.to_json %>
  <% end %>

  <body style="margin:0;padding:0;height:100%;background-color:#ddd;">

    <div style="min-height:100%;position:relative;">
      <!-- The title bar -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container"><!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">iSENSE</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%=link_to "News", news_index_path %></li>
            <li><%=link_to "Projects", projects_path %></li>
            <li><%=link_to "Visualizations", visualizations_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tutorials <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% (1..4).each do |i| %>
                  <%tutorial = Tutorial.where(featured_number: i).first%>
                  <li><%=link_to tutorial.title, tutorial_path(tutorial)%></li>
                <% end %>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if @cur_user.try(:id) %>
              <li><%= link_to @cur_user.name, user_path(@cur_user)%></li>
              <li class="divider"></li>
              <li><%= link_to "Logout", login_path, method: :delete%></li>
            <% else %>
              <li><%= link_to "Login", login_path(), method: :get%></li>
              <li class="divider"></li>
              <li><%= link_to "Register", new_user_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
        </div>
      </nav>
      
      <!-- Main Container -->
      <div id="outer" style="padding:0px 0px 70px 0px; margin:0; min-height:100%; <%= @layout_wide ? 'margin-right:40px;' : '' %>">
        <div class="container mainContent <%= @layout_wide ? 'mc-wide' : '' %>" data-role="page">
          <%= yield %>
        </div>
      </div>
            
      <!-- Footer -->      
      <div class="footer">
        <p>The iSENSE project is a collaborative effort of the University of Massachusetts Lowell and Machine Science Inc. <a href="/about">About</a> | <a href="/contact">Contact</a></p>
        <p>Our work is supported by grants <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=0735597">DRL-0735597</a>, <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=0735592">DRL-0735592</a>, <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=0546513">DRL-0546513</a>, <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=1123998">IIS-1123998</a>, and <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=1123972">IIS-1123972</a> from the National Science Foundation and a gift from Google Inc.</p>
        <p><%= @version %></p>
      </div>

    </div>

  </body>
</html>
