<!DOCTYPE html>
<html>
<head>
  <title>Rsense</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="login_box">
    <div>User: <input id="login_user" class="login_field" type="text"></input><div class="clear"></div></div>
    <div>Password: <input id="login_password" class="login_field" type="password"></input><div class="clear"></div></div>
    <button class="login_button">Login</button>
  </div>

  <!--
  <div id="header">
    
    <div id="home">
      <a href="/">
        <img src="http://isense.cs.uml.edu/html/img/logo.png" />
      </a>
    </div>
    
    <div id="nav">
      <ul>
        <li>
          <a href="/experiments">
            <img src="http://isense.cs.uml.edu/html/img/drawer.svg" alt="Browse experiments and their sessions">
            <span class="header_links">Experiments</span>
          </a>
        </li>
        <li>
          <a href="/users">
            <img src="http://isense.cs.uml.edu/html/img/group.svg" alt="Browse experiments and their sessions">
            <span class="header_links">People</span>
          </a>
        </li>
        <li>
          <a href="/vises">
            <img src="http://isense.cs.uml.edu/html/img/chart_bar.svg" alt="Browse experiments and their sessions">
            <span class="header_links">Visualisations</span>
          </a>
        </li>
      </ul>
    </div>
    
    <div id="user">

      <% if @cur_user != nil %>
        <%= "Logged in as #{@cur_user.firstname.capitalize} #{@cur_user.lastname[0].capitalize}." %>
        <%= link_to 'logout', login_path(), method: :delete %>
      <% else %>
        <%= link_to "Register", new_user_path %>
        or
        <a href="" class="login">login</a>
      <% end %>

    </div>
  </div>
  -->
  <div class="container">
    
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">iSENSE</a>
            <ul class="nav">
              <li><a href="#">Experiments</a></li>
              <li><a href="#">People</a></li>
              <li><a href="#">Visualizations</a></li>
            </ul>
      </div>
    </div>

    <div class="row">
      <div class="span12" id="content">
        <%= yield %>  
      </div>
    </div>
    
  </div>
  
</body>
</html>
