<!DOCTYPE html>
<html style="margin:0;padding:0;height:100%;">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 

  <head>
    <title> <%= render_title %> </title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <%= javascript_tag do %>
    window.namespace = <%= raw @namespace.to_json %>
  <% end %>

  <body style="margin:0;padding:0;height:100%;background-color:#ddd;">

    <div style="min-height:100%;position:relative;">
      
      <!-- Login error detected, show dialog -->
      <% if flash[:notice] %>
        <% if flash[:notice] == "LOGIN_ERROR" %>
          <script type="text/javascript">
            $(document).ready( function(e){
              $.data($('#login_box')[0], "redirect", "<%= flash.try(:[], :path) %>");
              $('#login_box').modal()
              return false;
            });
          </script>
        <% end %>
      <% end %>

      <!-- Add the hidden login dialog to the layout so that its accessable everywhere -->
      <div id="login_box" class="modal hide fade well container" style="width:400px">
        <div>Username: <input id="login_user" class="login_field" type="text" style="width:75%"></input></div><div class="clear"></div>
        <div>Password: <input id="login_password" class="login_field" type="password" style="width:75%"></input></div><div class="clear"></div>
	<div>New to iSENSE? <a href="<%= new_user_path %>">Sign up</a></div>
        <div style="float:right;">
            <button class="login_button btn btn-success">Login</button>
            <button class="cancel_login_button btn">Cancel</button>
        </div>
      </div>

      <!-- The title bar -->
      <div id="title_bar">
        <div class="container">
          
          <!-- iSENSE Logos for both layouts -->
          <div style="float:left;line-height:43px;">
            <a href="/">
              <img class="visible-desktop visible-tablet" src="/assets/isense-logo.png" style="height:35px;width:144px;" />
              <img class="visible-phone" src="/assets/isense-logo.png" style="height:25px;width:103px;margin-left:10px;" />
            </a>
          </div>
          
          <div style="float:left;vertical-align:text-bottom;height:50px;font-size:15px;">
            
            <div class="visible-desktop visible-tablet" style="margin-left:10px;height:50px;">
              <!--<a class="navbar-btn" href="/news"><i class="icon-book icon-white"></i> News</a>-->
              <a class="navbar-btn" href="/projects"><i class="icon-folder-open icon-white"></i> Projects</a>
              <a class="navbar-btn" href="/users"><i class="icon-user icon-white"></i> Users</a>
              <a class="navbar-btn" href="/visualizations"><i class="icon-picture icon-white"></i> Visualizations</a>
              <a class="navbar-btn" href="/tutorials"><i class="icon-info-sign icon-white"></i> Tutorials </a>
            </div>
            
            <div class="visible-phone btn-group" style="height:15px;padding-top:10px;margin-left:10px;">
            <!--<a class="navbar-btn" href="/news"><i class="icon-book icon-white"></i></a>-->
              <a class="navbar-btn" href="/projects"><i class="icon-folder-open icon-white"> </i> </a>
              <a class="navbar-btn" href="/users"><i class="icon-user icon-white"> </i> </a>
              <a class="navbar-btn" href="/visualizations"><i class="icon-picture icon-white"> </i> </a>
              <a class="navbar-btn" href="/tutorials"><i class="icon-info-sign icon-white"> </i> </a>
            </div>
            
          </div>
          
          <!-- Pillbox Menu for both layouts -->
          <div class="visible-desktop visible-tablet">
            <div class="pillbox desktop-tablet" style="line-height:50px;">
              <% if @cur_user == nil %>
                <div class="btn-group">
                  <a href="" class="login btn btn-small btn-info white">Login</a>
                  <a href="<%= new_user_path %>" class="btn btn-small btn-info white">Register</a>
                </div>
              <% else %>
                <div class="btn-group">                  
                  <a class="btn btn-small btn-info white" href="<%= user_path(@cur_user) %>"><%= @cur_user.name %></a>
                  <%= link_to 'Logout', login_path(), method: :delete, class: "btn btn-small btn-info" %> 
                </div>
              <% end %>
            </div>
          </div>
          
          <div class="visible-phone">
            <div class="pillbox phone" style="padding-top:10px;">
              <% if @cur_user == nil %>
                <div class="btn-group">
                  <a href="" class="login btn btn-small btn-info white">Login</a>
                  <a href="<%= new_user_path %>"  class="btn btn-small btn-info white">Register</a>
                </div>
              <% else %>
                <div class="btn-group">
                  <a class="btn btn-small btn-info white" href="<%= user_path(@cur_user) %>"><%= @cur_user.name %></a>
                  
                  <%= link_to 'Logout', login_path(), method: :delete, class: "btn btn-small btn-info" %>
                  
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Main Container -->
      <div style="padding:50px 0px 70px 0px;margin:0;min-height:100%;">
        <div class="container mainContent">
          <%= yield %>
        </div>
      </div>
            
      <!-- Footer -->      
      <div class="footer">
        <p>The iSENSE project is a collaborative effort of the University of Massachusetts Lowell and Machine Science Inc. </p>
        <p>Our work is supported by grants <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=0735597">DRL-0735597</a>, <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=0735592">DRL-0735592</a>, <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=0546513">DRL-0546513</a>, <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=1123998">IIS-1123998</a>, and <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=1123972">IIS-1123972</a> from the National Science Foundation and a gift from Google Inc.</p>
        <p><%= @version %></p>
      </div>

    </div>

  </body>
</html>
