<!DOCTYPE html>
<html>
<head>
  <title>Rsense</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>
    <% if @cur_user != nil %>
        <%= "Logged in as #{@cur_user.firstname.capitalize} #{@cur_user.lastname[0].capitalize}." %>
        <%= link_to 'logout', login_path(), method: :delete %>
    <% else %>
        <%= "Not logged in, "%>
        <%= link_to 'login', login_path() %>
    <% end %>
</p>

<%= yield %>

</body>
</html>
