<!DOCTYPE html>
<html>
  <head>
    <title> <%= render_title %> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <%= javascript_tag do %>
      window.namespace = <%= raw @namespace.to_json %>
      window.env = '<%= Rails.env %>'
    <% end %>
  </head>

  <body data-page-name="<%= params[:controller] %>/<%= params[:action] %>">

  <!-- Mailing list pop-up (only rendered if not chosen preference yet) -->
  <% if user_signed_in? and current_user.subscribed == nil%>
    <div id="set_email_preference" style="display: none; text-align: justify; ">
      <h3> Welcome Back :) </h3>
      You haven't set an email preference yet.
      Are you willing to recieve occasional emails from the iSENSE team, including an invitation to the official Google Group?<br><br><br>
      <div class="center">
        <%= link_to 'No Thanks', user_path(current_user) + '/unsubscribe', :method => :disable_subscription, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
        <%= link_to 'Sure', user_path(current_user) + '/subscribe', :method => :enable_subscription, class: "mdl-button mdl-button--blue mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
      </div>
    </div>
  <% end %>

    <!-- The title bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container"><!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= image_tag("isense-logo.png", height: "35") %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="navbtn" title="Browse through projects created by iSENSE users"><%=link_to projects_path do %><i class='fa fa-folder-open'></i> Projects<%end%></li>
            <li class="navbtn" title="Explore data visualizations built by iSENSE users"><%=link_to visualizations_path do %><i class='fa fa-picture-o'></i> Visualizations<%end%></li>
            <li class="navbtn" title="Learn how to use iSENSE"><%=link_to tutorials_path do %><i class='fa fa-info-circle'></i> Tutorials<%end%></li>
            <li class="navbtn" title="Check out the latest iSENSE news and updates"><%=link_to news_index_path do %><i class='fa fa-newspaper-o'></i> News<%end%></li>
            <% if is_admin? %>
            <li class="navbtn"><%= link_to users_path do%><i class="fa fa-users"></i> Users<%end%></li>
            <li class="navbtn" title="Send an email to subscribers"><%=link_to new_subscriber_email_path  do %><i class='fa fa-envelope-o' aria-hidden = "true"></i> Email Subscribers<%end%></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li id="username" class="navbtn"
                  title="Click to view <%= current_user.name %>'s profile page">
                <%= link_to user_path(current_user.id) do %>
                  <% if current_user.name.length < 30 %>
                    <span class="variable-username"><%= current_user.name %>&nbsp;</span>
                    <span class="default-username">My Account&nbsp;</span>
                  <% else %>
                    My Account&nbsp;
                  <% end %>
                  <%= image_tag(Gravatar.new.url(current_user),
                      class: "circle-img hidden-sm") %>
                <% end %>
              </li>
              <li class="divider"></li>
              <li class="navbtn"><%= link_to "Logout", destroy_user_session_path, method: :delete%></li>
            <% else %>
              <li class="navbtn"><%= link_to "Login", new_user_session_path, name:"Login" %></li>
              <li class="divider"></li>
              <li class="navbtn" title="Register now to start using iSENSE"><%= link_to "Register", new_user_registration_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

    <!-- Main Container -->
    <div id="outer" class="<%= params[:controller] %>-controller <%= params[:action] %>-action">
      <div class="container mainContent <%= @layout_wide ? 'mc-wide' : '' %>" data-role="page">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>

    <!-- Google Analytics Tracking Script -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52750913-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
