<!DOCTYPE html>
<html style="margin:0;padding:0;height:100%;">
  <head>
    <title> <%= render_title %> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <%= javascript_tag do %>
    window.namespace = <%= raw @namespace.to_json %>
  <% end %>

  <body style="margin:0;padding:0;height:100%;background-color:#ddd;">

    <% unless flash[:debug].nil? %>
    <!-- 
    <%= raw flash[:debug] %> 
    -->
    <% end %>

    <div style="min-height:100%;position:relative;">
      
      <!-- Login error detected, show dialog -->
      <% if flash[:notice] %>
        <% if flash[:notice] == "LOGIN_ERROR" %>
          <script type="text/javascript">
            $(document).ready( function(e){
              $.data($('#login_box')[0], "redirect", "<%= flash.try(:[], :path) %>");
              $('#login_box').modal()
              return false;
            });
          </script>
        <% end %>
      <% end %>

      <!-- Add the hidden login dialog to the layout so that its accessable everywhere -->
      <div id="login_box" class="modal hide fade well container">
        <div><label for="login_user">Username:</label>
          <input id="login_user" class="login_field" type="text" style="width:65%"></input>
        </div><div class="clear"></div>
        <div><label for="login_password">Password:</label>
          <input id="login_password" class="login_field" type="password" style="width:65%"></input>
        </div><div class="clear"></div>
	<div>New to iSENSE? <a href="<%= new_user_path %>">Sign up</a></div>
        <div style="float:right;">
            <button class="login_button btn btn-success">Login</button>
            <button class="cancel_login_button btn btn-danger">Cancel</button>
        </div>
      </div>

      <!-- The title bar -->
      <div id="title_bar">
        <div class="container">
          
          <!-- iSENSE Logos for both layouts -->
          <div style="float:left;line-height:43px;">
            <a href="/">
              <img class="visible-desktop visible-tablet" src="/assets/isense-logo.png" style="height:35px;width:144px;" />
              <img class="visible-phone" src="/assets/isense-logo.png" style="height:25px;width:103px;margin-left:10px;" />
            </a>
          </div>
          
          <div style="float:left;vertical-align:text-bottom;height:50px;font-size:15px;">
            
            <div class="visible-desktop visible-tablet" style="margin-left:10px;height:50px;">
              <a class="navbar-btn" href="/news"><i class="icon-book icon-white"></i> News</a>
              <a class="navbar-btn" href="/projects"><i class="icon-folder-open icon-white"></i> Projects</a>
              <a class="navbar-btn" href="/users"><i class="icon-user icon-white"></i> Users</a>
              <a class="navbar-btn" href="/visualizations"><i class="icon-picture icon-white"></i> Visualizations</a>
              <a class="navbar-btn" href="/tutorials"><i class="icon-info-sign icon-white"></i> Tutorials <img src="/assets/arrow_down.png"></a>
              <ul class="ddmenu">
                <% get_featured_tutorials.each do |tutorial|%>
                  <li><%= link_to tutorial.title, tutorial_path(tutorial)%></li>
                <% end %>                
              </ul>
            </div>
          </div>
          
          <!-- Pillbox Menu for both layouts -->
          <div class="visible-desktop">
            <div class="pillbox desktop-tablet">
              <% if @cur_user == nil %>
                  <a href="" class="login navbar-btn">Login</a>
                  <a href="<%= new_user_path %>" class="navbar-btn">Register</a>
              <% else %>
                  <a class="navbar-btn" href="<%= user_path(@cur_user) %>"><%= @cur_user.name %></a>
                  <%= link_to 'Logout', login_path(), method: :delete, class: "navbar-btn" %> 
              <% end %>
            </div>
          </div>
          
          <div class="visible-phone visible-tablet">
            <div class="pillbox phone">
              <!--<button type="button" class="btn btn-inverse" style="margin-right: 20px; margin-top: 10px;">
                <a href="#"><i class="icon-search icon-white"> </i> </a>
              </button>-->
                  
              <button type="button" id="mobile_menu_trigger" class="btn btn-primary" style="margin-right: 20px; margin-top: 10px;"><i class="icon-align-justify icon-white"></i></button>  
            </div>
          </div>
        </div>
      </div>

      <% unless flash[:alert].nil? %>
        <div style="clear: both; margin-top: 50px;"> &nbsp; </div>
        <div style="background: red; color: white; font-weight: bold; text-align: center; padding: 1ex;">
          <p><%= flash[:alert] %></p>
        </div>
      <% end %>

      <!-- Main Container -->
      <div style="padding:50px 0px 70px 0px; margin:0; min-height:100%; <%= @layout_wide ? 'margin-right:40px;' : '' %>">
        <div class="container mainContent <%= @layout_wide ? 'mc-wide' : '' %>" data-role="page">
          <%= yield %>
        </div>
      </div>
      
      <!-- Mobile Menu -->
      <div class="hidden-desktop" style="float: left;">
        <div id="mobile_menu" data-role="panel" style="z-index: 10;">
       
          <ul class="nav nav-list">
         
            <li class="nav-header">My Stuff</li>
         
            <% if @cur_user == nil %>
              <li><a href="" class="login">Login</a></li>
              <li><a href="<%= new_user_path %>">Register</a></li>
            <% else %>
              <li><a href="<%= user_path(@cur_user) %>"><%= @cur_user.name %></a></li>
              <li><%= link_to 'Logout', login_path(), method: :delete %></li>
            <% end %>
           
            <li class="nav-header">Navigation</li>
            <li class="active"><a href="/"><i class="icon-home icon-white"></i>Home</a></li>
            <li><a href="/news"><i class="icon-book icon-white"></i>News</a></li>
            <li class="nav-header nav-divider"><hr /></li>
            <li><a href="/projects"><i class="icon-folder-open icon-white"></i>Projects</a></li>
            <li class="nav-header nav-divider"><hr /></li>
            <li><a href="/users"><i class="icon-user icon-white"></i>Users</a></li>
            <li class="nav-header nav-divider"><hr /></li>
            <li><a href="/visualizations"><i class="icon-picture icon-white"></i>Visualizations</a></li>
            <li class="nav-header nav-divider"><hr /></li>
            <li><a href="/tutorials"><i class="icon-info-sign icon-white"></i>Tutorials</a></li>

          </ul>
       
        </div>
      </div>
       
            
      <!-- Footer -->      
      <div class="footer">
        <p>The iSENSE project is a collaborative effort of the University of Massachusetts Lowell and Machine Science Inc. <a href="/about">About</a> | <a href="/contact">Contact</a></p>
        <p>Our work is supported by grants <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=0735597">DRL-0735597</a>, <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=0735592">DRL-0735592</a>, <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=0546513">DRL-0546513</a>, <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=1123998">IIS-1123998</a>, and <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=1123972">IIS-1123972</a> from the National Science Foundation and a gift from Google Inc.</p>
        <p><%= @version %></p>
      </div>

    </div>

  </body>
</html>
