<!DOCTYPE html>
<html style="margin:0;padding:0;height:100%;">
<head>
  <title>Rsense</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= raw include_page_spesific_js %>
  <%= csrf_meta_tags %>
</head>
<body style="margin:0;padding:0;height:100%;background-color:#ddd;">

<div style="min-height:100%;position:relative;">
  
  <% if flash[:notice] %>
    <% if flash[:notice] == "LOGIN_ERROR" %>
      <script type="text/javascript">
        $(document).ready( function(e){
          $('#login_box').modal()
          return false;
        });
      </script>
    <% end %>
  <% end %>


  <div id="login_box" class="modal hide fade well container" style="width:400px">
    <div>User: <input id="login_user" class="login_field" type="text" style="width:75%"></input></div><div class="clear"></div>
    <div>Password: <input id="login_password" class="login_field" type="password" style="width:75%"></input></div><div class="clear"></div>
    <div style="float:right;">
        <button class="login_button btn btn-success">Login</button>
        <button class="cancel_login_button btn" style="margin:15px 10px 0px 0px">Cancel</button>
    </div>
  </div>


  <div style="position: fixed;border-bottom: 1px solid black;width:100%;background-color:#113;height:72px;z-index:10;top:0px;left:0px;box-shadow: 0px 0px 10px black;">
    <div class="container">
      <div style="float:left;padding-top:10px;">
        <a href="/">
          <img class="visible-desktop visible-tablet" src="/assets/isense-logo.png" style="height:50px;width:195px;margin-left:-24px;" />
          <img class="visible-phone" src="/assets/isense-logo.png" style="height:25px;width:98px;margin-left:10px;" />
        </a>
      </div>
      <div style="float:left;vertical-align:text-bottom;line-height:15px;font-size:15px;">
        <div class="visible-desktop visible-tablet" style="height:12px;padding-top:18px;">
          <img src="/assets/facebook.png" style="height:12px;margin-right:5px;" />
          <img src="/assets/twitter.png" style="height:12px;margin-right:5px;" />
          <img src="/assets/rss.png" style="height:12px;margin-right:5px;" />
        </div>
        <div class="visible-phone" style="height:12px;padding-top:12px;position:relative;top:0px;left:5px;">
          <img src="/assets/facebook.png" style="height:12px;margin-right:5px;" />
          <img src="/assets/twitter.png" style="height:12px;margin-right:5px;" />
          <img src="/assets/rss.png" style="height:12px;margin-right:5px;" />
        </div>
        <div class="visible-desktop visible-tablet" style="height:15px;padding-top:14px;">
          <a href="/experiments" style="color:#fff;"><i class="icon-folder-open icon-white"> </i> Experiments</a>&nbsp;&nbsp;&nbsp;
          <a href="/users" style="color:#fff;"><i class="icon-user icon-white"> </i> People</a>&nbsp;&nbsp;&nbsp;
          <a href="/visualizations" style="color:#fff;"><i class="icon-eye-open icon-white"> </i> Visualizations</a>&nbsp;&nbsp;&nbsp;
          <a href="/experiment_templates" style="color:#fff;"><i class="icon-gift icon-white"> </i> Store </a>
        </div>
        <div class="visible-phone" style="height:15px;padding-top:14px;position:absolute;top:30px;left:11px;">
          <a href="/experiments" style="color:#fff;"><i class="icon-folder-open icon-white"> </i> </a>&nbsp;&nbsp;&nbsp;
          <a href="/users" style="color:#fff;"><i class="icon-user icon-white"> </i> </a>&nbsp;&nbsp;&nbsp;
          <a href="/visualizations" style="color:#fff;"><i class="icon-eye-open icon-white"> </i> </a>&nbsp;&nbsp;&nbsp;
          <a href="/experiment_templates" style="color:#fff;"><i class="icon-gift icon-white"> </i> </a>
        </div>
      </div>
      
      <div class="visible-desktop visible-tablet" style="padding-top:25px;float:left;line-height:15px;font-size:15px;text-align:right;float:right;margin-right:-20px;">
        <% if @cur_user == nil %>
          <div class="btn-group">
            <a href="" class="login" style="color:white;"><button class="btn btn-small btn-info">Login</button></a>
            <a href="<%= new_user_path %>" style="color:white;"><button class="btn btn-small btn-info">Register</button></a>
          </div>
        <% else %>
          <div class="btn-group">
            <button class="btn btn-small btn-info"><a href="<%= user_path(@cur_user) %>" style="color:white;"><%= @cur_user.name %></a></button>
            <button class="btn btn-small dropdown-toggle btn-info" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to 'Logout', login_path(), method: :delete %></li>
              <li><%= link_to 'My Experiments', user_path(@cur_user.username,  :filters => ["experiments"]), action: :show%></li>
              <li><%= link_to 'My Data Sets', user_path(@cur_user.username,  :filters => ["data_sets"]), action: :show%></li>
              <li><%= link_to 'My Visualizations', user_path(@cur_user.username,  :filters => ["visualizations"]), action: :show%></li>
              <li><%= link_to 'My Media', user_path(@cur_user.username,  :filters => ["media"]), action: :show%></li>
            </ul>
          </div>
        <% end %>
      </div>
      
      <div class="visible-phone" style="padding-top:25px;float:left;line-height:15px;font-size:15px;text-align:right;float:right;margin-right:10px;">
        <% if @cur_user == nil %>
          <div class="btn-group">
            <a href="" class="login" style="color:white;"><button class="btn btn-small btn-info">Login</button></a>
            <a href="<%= new_user_path %>" style="color:white;"><button class="btn btn-small btn-info">Register</button></a>
          </div>
        <% else %>
          <div class="btn-group">
            <button class="btn btn-small btn-info"><a href="<%= user_path(@cur_user) %>" style="color:white;"><%= @cur_user.name %></a></button>
            <button class="btn btn-small dropdown-toggle btn-info" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to 'Logout', login_path(), method: :delete %></li>
              <li><%= link_to 'My Experiments', user_path(@cur_user.username,  :filters => ["experiments"]), action: :show%></li>
              <li><%= link_to 'My Data Sets', user_path(@cur_user.username,  :filters => ["data_sets"]), action: :show%></li>
              <li><%= link_to 'My Visualizations', user_path(@cur_user.username,  :filters => ["visualizations"]), action: :show%></li>
              <li><%= link_to 'My Media', user_path(@cur_user.username,  :filters => ["media"]), action: :show%></li>
            </ul>
          </div>
        <% end %>
      </div>
      
    </div>
  </div>
  
	<div style="padding:72px 0px 92px 0px;margin:0;min-height:100%;">
    <div class="container mainContent" style="background-color:#fff;box-shadow:0px 0px 20px grey;padding:18px 20px 18px 20px;min-height:100%;">
      <%= yield %>
    </div>
	</div>
	
	<div style="position:absolute;bottom:0;width:100%;height:92px;">
    <div class="footer">
      <p style="font-size:1.0em;margin-bottom:0px;">The iSENSE project is a collaborative effort of the University of Massachusetts Lowell and Machine Science Inc. </p>
      <p style="font-size:0.8em;margin-bottom:0px;">Our work is supported by grants <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=0735597">DRL-0735597</a>, <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=0735592">DRL-0735592</a>, <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=0546513">DRL-0546513</a>, <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=1123998">IIS-1123998</a>, and <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=1123972">IIS-1123972</a> from the National Science Foundation, and a gift from Google Inc.</p>
    </div>
	</div>

</div>

</body>
</html>
