<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag :modernizr %>
<%= csrf_meta_tags %>

<%= javascript_tag do %>
  window.namespace = <%= raw @namespace.to_json %>
<% end %>

<div class="embedded"><%= yield %></div>